body{
	padding : 0px;
	margin : 0px;
}

#gameContainer{
	/*-webkit-transform: rotate(90deg);
	-moz-transform: scale(0.8)*/
}

#gameContainer {
	padding-top: 0px;
	position : relative;
	width : 760px;
	height: 550px;
	bottom: 0px;
	/*margin-left:auto;
	margin-right:auto;*/
	font-family : verdana;
}

#gameElements{
	visibility:hidden;
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
}

#result{
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
	font-size : 18px;
	font-weight : normal;
	font-family : verdana;
	color : #fff;
	vertical-align:middle;
	z-index : 101;
}

#result #stats{
	position: absolute;
	width: 250px;
	left:170px;
	top: 300px;
	height: 120px;
}

#result #exit{
	position: absolute;
	width: 115px;
	height: 60px;
	left:42px;
	top: 409px;
}

#result #playAgain{
	position: absolute;
	width: 115px;
	height: 60px;
	left:537px;
	top: 409px;
}
#splashScreen{
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
	z-index : 101;
}

#waitScreen{
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
	z-index : 101;
	background: center url('../images/background/ajax-loader.gif') no-repeat;
}


#splashScreen .loading_bar_bg{
	width : 280px;
	height: 40px;
	position: absolute;
	left:230px;
	top: 430px;
}

#splashScreen .loading_bar_bg #loading_bar{
	position: absolute;
	height:36px;
	left :0px;
	top: 0px;
	width: 0%;	
}

#gameElements .fps{
	position:absolute;
	top:8px;
	left:60px;
	font-weight: bold;
}

#gameElements .rank{
	position:absolute;
	top:40px;
	left:650px;
	width:100px;
	height:60px;
}

#gameElements .rankName{
	position:absolute;
	font-family: AdLib;
	color: orange;
	top: 25px;
	left:650px;
	width:100px;
	height:40px;
	text-align: center;
}

#gameElements .start{
	position:absolute;
	top:468px;
	left:0px;
	width:155px;
	height:82px;
	z-index:1;
}

#gameElements .startText{
	position:absolute;
	top:500px;
	left:0px;
	width:155px;
	height:80px;
	z-index:2;
	font-family:AdLib;
	font-size: 30;
	text-align: center;
	color: blue;
	-moz-user-select: none;
   -khtml-user-select: none;
    user-select: none;
}




#gameElements .upgrades{
	position:absolute;
	top:483px;
	left:144px;
	height:64px;
	width:613px;
}

#gameElements .upgrades .upgrade{
	float:left;
	height:60px;
	border:2px solid #397A97;
	width:160px;
}

#gameElements .upgrades .upgrade.current{
	/*margin-right:7px;*/
}

#gameElements .upgrades .upgrade.bullets_1{
	background-image: url('../images/background/bullets_upgrade_1.png');			
}

#gameElements .upgrades .upgrade.bullets_2{
	background-image: url('../images/background/bullets_upgrade_2.png');			
}

#gameElements .upgrades .upgrade.bullets_2.off{
	background-image: url('../images/background/bullets_upgrade_2_off.png');			
}

#gameElements .upgrades .upgrade.rockets_1{
	background-image: url('../images/background/rockets_upgrade_1.png');			
}

#gameElements .upgrades .upgrade.rockets_2{
	background-image: url('../simages/background/rockets_upgrade_2.png');			
}

#gameElements .upgrades .upgrade.rockets_2.off{
	background-image: url('../images/background/rockets_upgrade_2_off.png');			
}

#gameElements .upgrades .upgrade.shields_1{
	background-image: url('../images/background/shields_upgrade_1.png');			
}

#gameElements .upgrades .upgrade.shields_2{
	background-image: url('../images/background/shields_upgrade_2.png');			
}

#gameElements .upgrades .upgrade.shields_2.off{
	background-image: url('../images/background/shields_upgrade_2_off.png');			
}



#gameElements .upgrades .upgrade.current.active .purchased{
	height:60px;
	width:160px;
	background-image: url('../images/background/purchased_stamp.png');
	opacity: 1;
}

#gameElements .upgrades .upgrade.next{
	margin-left: 10px;
	margin-right:18px;
	opacity: 0.8;
}

#gameElements .upgrades .upgrade.next #upgradePrice{
	font-size:16px;
	font-family: arial;
	font-weight: bold;
	float: right;
	color: white;
	padding: 4px;
	padding-top:40px;
}


#gameElements .upgrades .upgrade.next:hover{
	opacity: 1;
}

#gameElements .upgrades .upgrade.next.blocked{
	margin-left:7px;
	background-image: url('../images/background/block_upgrade.png');				
}


#gameElements .upgrades .arrow{
	position:absolute;
	left: 176px;
	top: 4px;
	height:55px;
	width:14px;
	background-image: url('../images/background/arrow.png');				
}

#gameElements .upgrades .upgradesBar{
	float: left;
	width: 364px;
	height:64px;
}

#gameElements .upgrades .upgradeItems{
	float: left;
	margin-top: 3px;
	width:248px;
	height:60px;
}

#gameElements .upgrades .upgradeItems .upgradeItem{
	float:left;
	margin-left: 1px;
	margin-bottom: 1px;
	width:61px;
	height:29px;
	background-image: url('../images/background/upgrade_button_inactive.png');
	opacity:0.6;
}

#gameElements .upgrades .upgradeItems .upgradeItem:hover{
	opacity:1.0;
}

#gameElements .upgrades .upgradeItems .upgradeItem.selected{
	opacity:1.0;
}

#gameElements .upgrades .upgradeItems .upgradeItem.active{
	background-image: url('../images/background/upgrade_button_active.png');		
}

#gameElements .upgrades .upgradeItems .upgradeItem.bullets{
	background-image: url('../images/background/bullets_upgrade_button.png');		
}

#gameElements .upgrades .upgradeItems .upgradeItem.rockets{
	background-image: url('../images/background/rockets_upgrade_button.png');		
}

#gameElements .upgrades .upgradeItems .upgradeItem.shields{
	background-image: url('../images/background/shields_upgrade_button.png');		
}

#gameElements .towers{
	position : absolute;
	top : 128px;
	left: 665px;
	width: 94px;
	height: 180px;
}

#gameElements .towers div{
	float:left;
	width:44px;
	height:43px;
	margin-right: 3px;
	margin-bottom: 2px;
	background-image: url('../images/background/mystry_button.png');			
}
#gameElements .towerInfo{
	position:absolute;
	top:360px;
	left:641px;
	width: 104px;
	height: 112px;
	background-image: url('../images/background/tower_info.png');		
	font-family : verdana;
	font-size : 10px;
	padding: 4px;
	padding-left: 8px;
	color:white;
}

#gameElements .towerInfo table{
	padding:0px;
	margin: 0px;
	margin-top: 0px;
	width:104px;
	border:none;
}

#gameElements .towerInfo th{
	border:none;
	/*color: white;*/
	font-weight:bold;
	text-align :left;
	padding: 0px;
	margin: 0px;
	line-height: 9px;
	font-size : 10px;
}
#gameElements .towerInfo td{
	border:none;
	/*color: #fc0;*/
	font-weight:bold;
	text-align :left;
	padding: 0px;
	padding-left:4px;
	margin: 0px;
	line-height: 9px;
	width: 80%;
	font-size : 10px;
}
#gameElements .towerInfo tr:nth-child(odd)    { color : #fc0; }

#gameElements .towerInfo h4{
	margin:0px;
	margin-top : 4px;
	margin-bottom: 0px;
	font-size : 12px;
	color: #fc0;
}

#money{
	position:absolute;
	top:98px;
	left: 672px;
	width: 88px;
	height: 42px;
	color : orange;
	font-size: 12px;
	font-weight: bold;
}

#gameElements .diagram{
	position:absolute;
	top:6px;
	left: 62px;
	width: 48px;
	height: 42px;
	background-position: right;
	background-repeat: no-repeat;
}

#gameElements .diagram.tower{
	background-image: url('../images/background/tower1 outline.png');
}

#gameElements .diagram.doubleTower{
	background-image: url('../images/background/tower4 outline.png');
}

#gameElements .diagram.rocketLauncher{
	background-image: url('../images/background/tower3 outline.png');
}

#gameElements .diagram.patriot{
	background-image: url('../images/background/tower2 outline.png');
}

#money{
	position:absolute;
	top:98px;
	left: 672px;
	width: 88px;
	height: 42px;
	color : orange;
	font-size: 12px;
	font-weight: bold;
}

#gameElements .diagram{
	position:absolute;
	top:6px;
	left: 62px;
	width: 48px;
	height: 42px;
	background-position: right;
	background-repeat: no-repeat;
}

#gameElements .diagram.tower{
	background-image: url('../images/background/tower1 outline.png');
}

#gameElements .diagram.doubleTower{
	background-image: url('../images/background/tower4 outline.png');
}

#gameElements .diagram.rocketLauncher{
	background-image: url('../images/background/tower3 outline.png');
}

#gameElements .diagram.patriot{
	background-image: url('../images/background/tower2 outline.png');
}

#gameElements .superWeapons{
	width:45px;
	height:120px;
	position:absolute;
	top: 115px;
	left: 615px;
	z-index: 100;
}

#gameElements .superWeaponsOff{
	width:45px;
	height:120px;
	position:absolute;
	top: 115px;
	left: 615px;
	z-index: 99;
}

#gameElements .superWeapons div{
	position: relative;
	width: 45px;
	height: 43px;
	margin-bottom:2px;
	color: black;
}

#gameElements .superWeapons div div{
	font-family : tahoma;
	position: absolute;
	color: #FFD32E;
	font-size: 10px;
	font-weight: bold;
	top : 2px;
	left: -12px;
	background-color: #094A67;
	width: 8px;
	padding: 2px;
	height: 12px
}

#gameElements .superWeapons div div#splash{
	top : 14px;
}

#gameElements .superWeaponsOff div{
	width: 45px;
	height: 43px;
	margin-bottom:2px;
}

#gameElements .superWeapons div.splash{
	height: 56px;
}


#gameElements .superWeaponsOff div.splash{
	height: 56px;
}

#gameElements .controls{
	position:absolute;
	top:5px;
	left:5px;
	width:50px;
	height:200px;
	z-index : 101;
}

#gameElements .controls div{
	height: 36px;
	width: 36px;
	margin-bottom: 4px;
	opacity : 0.7;
}

#gameElements .controls div:hover{
	opacity : 1.0;
}

#gameElements .controls .sound.on{
	width: 40px;
	margin-left: 3px;
	background-image: url('../images/background/sound_on_button.png');			
}

#gameElements .controls .sound.off{
	width: 35;
	margin-left: 6px;
	background-image: url('../images/background/sound_off_button.png');				
}

#gameElements .controls .like{
	width: 40px;
	background-image: url('../images/background/like_button.png');			
}

#gameElements .controls .bookmark{
	margin-left: 4px;
	background-image: url('../images/background/bookmark_button.png');			
}

#gameElements .status{
	position: absolute;
	top:-1px;
	left:160px;
	width:365px;
	height:28px;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-image: url('../images/background/status_bar.png');				
	/*opacity : 0.8;*/
}

#gameElements .status .score{
	position:absolute;
	left:190px;
	top: 1px;
	width:78px;
	height:13px;
}

#gameElements .status .lives{
	position:absolute;
	left:315px;
	top: 1px;
	width:40px;
	height:13px;
}

#gameElements .status .waves{
	position:absolute;
	left:55px;
	top: 1px;
	width:40px;
	height:13px;
}


#canvasHeader{
	background: #2b2;
	padding: 8px;
	height: 20px;
	font-weight: bold;
	font-size: 16px;
	color: white;
}

#canvasHeader #escaped{
	margin-right: 30px;
}

#canvasFooter{
	margin-top : -5px;
	background: #2b2;
	padding: 4px;
	position: relative;
	height: 36px;
}

#canvasContainer{
	width:736px;
	height: auto;
	position: relative;
	visibility:hidden;
	
}

#gameContainer canvas.off{
	background : black;
}

#static{
	position : absolute;
	width:640px;
	height:480px;
	top:0px;
	background-image: url('../images/background/snow.gif');
}

#gameContainer canvas#gameForeground{
	position :absolute;	
	top : 0px;
	left: 0px;
	
}
#gameContainer canvas#gameBackground{
	position :absolute;	
	top : 0px;
	left: 0px;
}

#gameContainer canvas#droppingGround{
	position :absolute;	
	top : 0px;
	left: 0px;
}

#gameContainer #towers{
	position : relative;
	padding: 2px;
	height:32px;
	float :  left;
}

#gameContainer #creeps {
	position : relative;
	left: 36px;
	padding: 2px;
	width:32px;
	height:32px;
	float: right;
	padding-right : 32px;
}

#gameContainer #towers .frame{
	position : relative;
	width:34px;
	height:34px;
	float: left;
	margin-right: 6px;
}

#gameContainer #towers img{
	display : block;
	position : absolute;
	top: 1px;
	left: 1px;
}

#gameContainer #towers .selected{
	background-color: white;
}


#gameContainer #creeps img.top{
	top	: 17px;
	left : 	19px;
}


#gameContainer #creeps img{
	display : block;
	position : absolute;
	top : 2px;
}

canvas.turret{
	cursor : none
}

#unitData {
	padding: 4px;
	background: #ee9;
	height : 106px;
}

#unitData td{
	font-weight: bold;
	font-size: 12px;
	margin: 4px;
	padding: 4px;
	background : #cc7;
	width: 150px;
}

#audio {
	display : none;
}
#modalWindow
{
  width : 400px;
  height : 170px;
  position : absolute;
  top : 200px;
  left : 100px;
  z-index : 200;
}
#modalWindow #character
{
  width : 400px;
  height : 170px;
  position : absolute;
  top : 0px;
  left : 0px;
  z-index : 200;
}
#modalWindow .content
{
  width : 245px;
  height : 105px;
  position : absolute;
  top : 10px;
  left : 110px;
  z-index : 201;
  font-family: AdLib;
}
#modalWindow #ok
{
  width : 40px;
  height : 30px;
  position : absolute;
  top : 120px;
  left : 300px;
  z-index : 202;
}
#popup
{
	position : absolute;
	top : 100;
	left : 20;
	width : 585;
	height : 350;
	z-index : 300;
}
#popup #content
{
	position : absolute;
	top : 20;
	left : 30;
	width : 390;
	height : 270;
	font-family: AdLib;
	scrollbar-base-color: red;
}
#popup #rankImg
{
	position : absolute;
	top : 20;
	left : 395;
	width : 172;
	height : 148;
}
#popup #popupClose
{
	position : absolute;
	width : 30;
	height : 30;
	left : 523;
	top : 10;
}
