body{
	padding : 0px;
	margin : 0px;
}
*{
	-moz-user-select: none;
   -khtml-user-select: none;
    user-select: none;
}
#gameContainer{
	/*-webkit-transform: rotate(90deg);
	-moz-transform: scale(0.8)*/
}

#gameContainer {
	padding-top: 0px;
	position : relative;
	width : 462px;
	height: 550px;
	bottom: 0px;
	/*margin-left:auto;
	margin-right:auto;*/
	font-family : verdana;
}

#gameElements{
	visibility:hidden;
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
}

#result{
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
	font-size : 18px;
	font-weight : normal;
	font-family : verdana;
	color : #fff;
	vertical-align:middle;
	z-index : 101;
}
#result .statusDiv
{
  text-align : center;
}
#result #youLose
{
  position : absolute;
  left : 105px;
  top : 215px;
  z-index : 100;
}
#result #youWin
{
  position : absolute;
  left : 105px;
  top : 195px;
  z-index : 100;
}
#result #winImage
{
  margin-left : 10px;
}

#splashScreen{
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
	z-index : 101;
}

#waitScreen{
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
	z-index : 101;
	background: center url('../images/background/ajax-loader.gif') no-repeat;
}


#splashScreen .loading_bar_bg{
	width : 280px;
	height: 40px;
	position: absolute;
	left:230px;
	top: 430px;
}

#splashScreen .loading_bar_bg #loading_bar{
	position: absolute;
	height:36px;
	left :0px;
	top: 0px;
	width: 0%;	
}

#gameElements .fps{
	position:absolute;
	top:8px;
	left:60px;
	font-weight: bold;
}

#gameElements .rank{
	position:absolute;
	top:14px;
	left:650px;
	width:100px;
	height:60px;
}

#gameElements .rankName{
	position:absolute;
	font-family: AdLib;
	color: orange;
	top: 64px;
	left:650px;
	width:100px;
	height:40px;
	text-align: center;
  text-transform : uppercase;
}

#gameElements .start{
	position:absolute;
	top:468px;
	left:0px;
	width:155px;
	height:82px;
	z-index:300;
}

#gameElements .startText {
	-moz-user-select:none;
	color:white;
	cursor:pointer;
	font-family:AdLib;
	font-size:23px;
	height:30px;
	left:0;
	margin-top:7%;
	position:absolute;
	text-align:center;
	text-shadow:2px 2px 1px #000000;
	top:25px;
	width:155px;
	z-index:301;
}

#gameElements .towers{
	position : absolute;
	top : 128px;
	left: 665px;
	width: 94px;
	height: 180px;
}

#gameElements .towers div{
	float:left;
	width:44px;
	height:43px;
	margin-right: 3px;
	margin-bottom: 2px;
	background-image: url('../images/background/mystry_button.png');			
}
#gameElements .towerInfo {
	-moz-border-radius:5px 5px 5px 5px;
	background-color:black;
	border:2px solid gray;
	color:white;
	font-family:verdana;
	font-size:10px;
	height:184px;
	left:642px;
	padding:2px;
	position:absolute;
	top:354px;
	width:106px;
}

#gameElements #upgradeTower:hover{
	background-color:grey;	
}
#gameElements #sellTower:hover{
	background-color:grey;	
}

#gameElements hr{
 border : 1px sold orange;
	margin :1px;
}

#gameElements #maxUpgrade{
 padding-top : 10px;
 opacity :0.5;
}
#gameElements #sellTower{
 width : 50px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-o-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	background-color:#F62;
	border:2px solid white;
	color:white;
	cursor: pointer;
	text-align : center;
	font-family:Helvetica;
	font-size:12px;
	font-weight : bold;
}



#gameElements #upgradeTower {
	-moz-border-radius:5px 5px 5px 5px;
	background-color: #F62;
	border:2px solid white;
	color:white;
	cursor:pointer;
	text-align:center;
	width:96%;
	font-family:Helvetica;
	font-size:12px;
	font-weight : bold;
	height : 37px;
}

#gameElements .towerInfo table {
	border:medium none;
	padding:0;
	width:65px;
	margin:3px 0px 3px 0px;
}
#gameElements .towerInfo #diagramRank{
	padding-left : 35px;
}

#gameElements .towerInfo th{
	border:none;
	/*color: white;*/
	font-weight:bold;
	text-align :left;
	padding: 0px;
	margin: 0px;
	line-height: 9px;
	font-size : 10px;
}
#gameElements .towerInfo td {
	border:1px solid gray;
	color:white;
	font-family:Helvetica;
	font-size:12px;
	font-weight:bold;
	line-height:12px;
	margin:0;
	text-align:left;
	width:90px;
}

#gameElements .towerInfo td .meter{
	background-color:003A7E;
	padding-left:2px;
	float:left;
}

#gameElements .towerInfo td .meterExtension{
	background-color:FAC200;
	padding-left:2px;
	float:left;
	width:0px;
}

#gameElements .towerInfo:hover td .meterExtension{
	width:10px;
}

#gameElements .towerInfo tr:nth-child(odd)    { color : #fc0; }

#gameElements .towerInfo h4 {
	color:#FFCC00;
	font-size:14px;
	margin:2px 2px 0 2px;
	font-family:helvetica;
}

#money{
  color:white;
  font-family:Digital;
  font-size:18px;
  font-weight:bold;
  height:20px;
  left:672px;
  text-align:center;
  text-shadow:-1px 1px black;
  top:91px;
  width:79px;
  position:absolute;
}

#gameElements .diagram{
	position:absolute;
	top:6px;
	left: 62px;
	width: 48px;
	height: 42px;
	background-position: right;
	background-repeat: no-repeat;
}

#gameElements .diagram{
	position:absolute;
	top:6px;
	left: 62px;
	width: 48px;
	height: 42px;
	background-position: right;
	background-repeat: no-repeat;
}

#gameElements .diagram.tower{
	background-image: url('../images/background/tower1 outline.png');
}

#gameElements .diagram.doubleTower{
	background-image: url('../images/background/tower4 outline.png');
}

#gameElements .diagram.rocketLauncher{
	background-image: url('../images/background/tower3 outline.png');
}

#gameElements .diagram.patriot{
	background-image: url('../images/background/tower2 outline.png');
}

#gameElements .superWeapons{
	width:45px;
	height:120px;
	position:absolute;
	top: 115px;
	left: 615px;
	z-index: 100;
}

#gameElements .superWeaponsOff{
	width:45px;
	height:120px;
	position:absolute;
	top: 115px;
	left: 615px;
	z-index: 99;
}

#gameElements .superWeapons div{
	position: relative;
	width: 45px;
	height: 43px;
	margin-bottom:2px;
	color: black;
}

#gameElements .superWeapons div div{
	font-family : tahoma;
	position: absolute;
	color: #FFD32E;
	font-size: 10px;
	font-weight: bold;
	top : 2px;
	left: -12px;
	background-color: #094A67;
	width: 8px;
	padding: 2px;
	height: 12px
}

#gameElements .superWeapons div div#splash{
	top : 14px;
}

#gameElements .superWeaponsOff div{
	width: 45px;
	height: 43px;
	margin-bottom:2px;
}

#gameElements .superWeapons div.splash{
	height: 56px;
}


#gameElements .superWeaponsOff div.splash{
	height: 56px;
}



#gameElements .controls{
	position:absolute;
	height: 36px;
	width: 36px;
	margin-bottom: 4px;
	opacity : 0.7;
	z-index:101;
	margin-left:3px;
}

#gameElements .controls:hover{
	opacity : 1.0;
}

#gameElements  .sound.controls.on{
	width: 40px;
	background-image: url('../images/background/sound_on_button.png');		
	top:35px
}

#gameElements  .sound.controls.off{
	width: 35px;
	top:38px;
	background-image: url('../images/background/sound_off_button.png');				
}

#gameElements .like{
	width: 40px;
	background-image: url('../images/background/like_button.png');			
	top:117px;
}

#gameElements  .bookmark{
	background-image: url('../images/background/bookmark_button.png');
	top :75px;
}
#gameElements  .subscribe{
	margin-left: 4px;
	background-image: url('../images/background/subscribe_button.png');
	top :80px;
}


#gameElements .status{
	position: absolute;
	top:-1px;
	left:160px;
	width:365px;
	height:28px;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-repeat: no-repeat;
	background-image: url('../images/background/upper_bar.png');
	/*opacity : 0.8;*/
}
#gameElements .status #statusBarEmpty{
	width : 357px;
	height : 9px;
	position : absolute;
	top : 20px;
	background-image: url('../images/background/filling_bar_background.png');				
}

#gameElements .status #statusBarEmpty div{
	height : 7px;
	float : left;
}

#gameElements .status #statusBarEmpty #statusBarRight{
	background-image: url('../images/background/filling_bar_right.png');				
	width : 3px;
}

#gameElements .status #statusBarEmpty #statusBarFill{
	background-image: url('../images/background/filling_bar_middle.png');
	background-repeat:repeat-x;				
}

#gameElements .status #statusBarEmpty #statusBarLeft{
	background-image: url('../images/background/filling_bar_left.png');
	width : 3px;
}


#gameElements .status .score{
	position:absolute;
	left:130px;
	top: 1px;
	width:130px;
	height:13px;
}

#gameElements .status .lives{
	position:absolute;
	left:270px;
	top: 1px;
	width:80px;
	height:13px;
}

#gameElements .status .waves{
	position:absolute;
	top: 1px;
	width:100px;
	height:13px;
  left:10px
}


#canvasHeader{
	background: #2b2;
	padding: 8px;
	height: 20px;
	font-weight: bold;
	font-size: 16px;
	color: white;
}

#canvasHeader #escaped{
	margin-right: 30px;
}

#canvasFooter{
	margin-top : -5px;
	background: #2b2;
	padding: 4px;
	position: relative;
	height: 36px;
}

#canvasContainer{
	width:736px;
	height: auto;
	position: relative;
	visibility:hidden;
	
}

#gameContainer canvas.off{
	background : black;
}

#static{
	position : absolute;
	width:640px;
	height:480px;
	top:0px;
	background-image: url('../images/background/snow.gif');
}

#gameContainer canvas#gameForeground{
	position :absolute;	
	top : 0px;
	left: 0px;
	
}
#gameContainer canvas#gameBackground{
	position :absolute;	
	top : 0px;
	left: 0px;
}

#gameContainer canvas#droppingGround{
	position :absolute;	
	top : 0px;
	left: 0px;
}

#gameContainer #towers{
	position : relative;
	padding: 2px;
	height:32px;
	float :  left;
}

#gameContainer #creeps {
	position : relative;
	left: 36px;
	padding: 2px;
	width:32px;
	height:32px;
	float: right;
	padding-right : 32px;
}

#gameContainer #towers .frame{
	position : relative;
	width:34px;
	height:34px;
	float: left;
	margin-right: 6px;
}

#gameContainer #towers img{
	display : block;
	position : absolute;
	top: 1px;
	left: 1px;
}

#gameContainer #towers .selected{
	background-color: white;
}


#gameContainer #creeps img.top{
	top	: 17px;
	left : 	19px;
}


#gameContainer #creeps img{
	display : block;
	position : absolute;
	top : 2px;
}

canvas.turret{
	/*cursor : none*/
}

#unitData {
	padding: 4px;
	background: #ee9;
	height : 106px;
}

#unitData td{
	font-weight: bold;
	font-size: 12px;
	margin: 4px;
	padding: 4px;
	background : #cc7;
	width: 150px;
}

#audio {
	display : none;
}
#modalWindow
{
  width : 400px;
  height : 170px;
  position : absolute;
  top : 200px;
  left : 100px;
  z-index : 200;
}
#modalWindow #character
{
  width : 400px;
  height : 170px;
  position : absolute;
  top : 0px;
  left : 0px;
  z-index : 200;
}
#modalWindow .content
{
  font-size:13px;	
  width : 245px;
  height : 105px;
  position : absolute;
  top : 10px;
  left : 117px;
  z-index : 201;
  font-family: AdLib;
}
#modalWindow .innerContent{
  width : 245px;
  height : 105px;
  vertical-align:middle;
  display:table-cell;
}
#modalWindow #ok
{
  width : 40px;
  height : 30px;
  position : absolute;
  top : 120px;
  left : 300px;
  z-index : 202;
}
#popup
{
	position : absolute;
	top : 100;
	left : 90;
	width : 585;
	height : 350;
	z-index : 303;
	opacity : 1;
}
#popup #congratsContent
{
	position : absolute;
	top : 20;
	left : 30;
	width : 390;
	height : 50;
	color : orange;
	font-size : 30;
	text-shadow: #000 2px 2px 1px;
}
#popup #promotedContent
{
	position : absolute;
	top : 90;
	left : 30;
	width : 390;
	height : 100;
	font-family: AdLib;
	font-size : 20;
	color : white;
	text-align: center;
}
#popup #rankImg
{
	position : absolute;
	top : 40;
	left : 430;
	width : 172;
	height : 148;
}
#popup #popupClose
{
	position : absolute;
	width : 30;
	height : 30;
	left : 523;
	top : 10;
}
#popup #popupOk
{
	position : absolute;
	width : 30;
	height : 30;
	left : 440;
	top : 250;
	cursor:pointer;
}
#popup #popupOk .text
{
  color:white;
  position:absolute;
  top:15px;
  left:25px;
  width : 100%;
  text-align:center;
}
#pauseeWindow
{
position:"absolute";
	width: 760;
	height:550;
	z-index:300;
}
#gameElements #moneyAnimation
{
	color : gold;
	font-size : 12px;
	font-weight : bold;
}
#container{
	left : 165px;
	top : 485px;
	width: 462px;
	height: 62px;
	position : absolute;
	overflow : hidden;
}
#incomingWaves{
	position : absolute;
}
#incomingWaves div.wave {
	background-color:#444444;
	border:2px solid #888888;
	float:right;
	height:30px;
	margin:13px 1px 1px;
	width:148px;
}
#incomingWaves div.active {
	border:2px solid gold;
}
#incomingWaves div.passed {
	border:2px solid red;
}
#incomingWaves div.wave div.creep{
	float:right;
	height:38;
}
#incomingWaves div.wave div.creep img{
	height: 24px;		
	margin-top:3px;
}
#scores{
	width :757;	
	height:150;
	border:none;	
	position: absolute;
	top : 550;
}
#planeSilhouette{
	position:absolute;
	top:80px;
	left:10px;
}
#tankSilhouette{
	position:absolute;
	top:50px;
	left:10px;
}
#result img{
	position: absolute;
}
#result #winClouds,#result #loseClouds{
	position: absolute;
	top: 45px;
	left: 60px;
}
#result #winCenter{
	left:277px;
	top:114px;
	z-index:2;
}
#result #twoCannons{
	left:166px;
	top:160px;
	z-index:2;
}
#result #loseCenter{
	top: 40px;
	left:225px;
	z-index:2
}
#result #resultBlank{
	left:236;
	top:250;
	z-index:1;
}
#result #resultCoin {
	left:73px;
	top:250px;
	z-index:2;
}
#result #coins,#result #score{
	position:absolute;
	top:252px;
	color:#e91;
	font-size:27;
	font-family:Adlib;
	text-shadow: #000 2px 2px 1px;
}
#result #coins{
	left:113px;
}
#result #score{
	left:585;
}
#result #resultText{
	position:absolute;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
	top:324px;
	left:194px;
	width :358px; 
	height: 136px;
	border :5px solid #FF4102;
	background-color : #01060d;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;  
	opacity : 0.78;
}
#result #stats{
	width :358px; 
	height: 136px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;  
	font-size:15px;
	font-weight:bold;
	left:6px;
	position:absolute;
	top:0px
}
#result #exit,#result #playAgain{
	position:absolute;
	color:white;
	text-shadow: #000 2px 2px 1px;
	top:375px;
	font-family:Pakgirl;
	cursor:pointer;
}
#result #exit:hover,#result #playAgain:hover{
	color:red;
}
#result #exit{
	left:585px;
	font-size:16;
	width:20px;
}
#result #playAgain{
	left:100px;
	font-size: 16;
	width:20px;
}
#pauseWindow{
	z-index : 299;
	width :760px;
	height :550px; 
	position :absolute;
	background-color :black;
	opacity:0.5;
}
#gameReset,#resetText,#gameExit,#exitText{
	position:absolute;
}
#gameReset  img,#gameExit img{
	width:75px;
}
#gameReset {
	cursor:pointer;
	left:64px;
	top:5px;
	z-index:100;
}
#resetText ,#exitText{
	font-size:12px;
	font-weight:bold;
	top:5px;
}
#resetText{
	left:20px;
}
#exitText{
	left:25px;
}
#gameExit{
	top:5px;
	cursor:pointer;
	left:545px;
	z-index:100
}