@font-face {
  font-family: "Adlib";
  src: url("../css/fonts/ADLIB.TTF");
}
@font-face {
  font-family: "Digital";
  src: url("../css/fonts/DIGITAL.TTF");
}
@font-face {
  font-family: "Inc";
  src: url("../css/fonts/INC901BC.TTF");
}
@font-face {
  font-family: "IncB";
  src: url("../css/fonts/INC901B.TTF");
}
@font-face {
  font-family: "Pakgirl";
  src: url("../css/fonts/30pakgirl_bold_TBS.ttf");
}

body {
  font-family : Adlib;
}

#preIntro{
  background : url("../images/background/ajax-loader.gif") no-repeat scroll center ;
  width : 100%;
  height : 100%;
}

#placeHolder{
  background : url("../images/intro/challenge-selection.png") repeat scroll center ;
  position : absolute;
  width : 760px;
  height : 550px;
  z-index : 100000;
}

.playLink{
  background : url("../images/intro/map-start.png") no-repeat scroll center center transparent;
  display : block;
  height : 80px;
  left : 285px;
  position : absolute;
  top : 322px;
  width : 200px;
  cursor : pointer;
}

#pause
{
  position:absolute;
  left:0;
  top:0;
  width : 760px;
  height : 550px;
  z-index:1000;
}
#pause #inProgress
{
  left:130px;
  overflow:hidden;
  position:absolute;
  text-align:center;
  top:200px;
  width:500px;
}

#intro
{
  width : 760px;
  height : 550px;
  position : absolute;
}

#intro #levelSelection, #cityInfo, #marketPlace
{
  width : 100%;
  height : 100%;
}

.buttonText
{
  font-family : Adlib;
  text-transform : capitalize;
  text-align:center;
}

/* Level Selection CSS */
#levelSelection
{
/*  background : url("../images/intro/level-selection.png") no-repeat scroll 0 0 transparent;*/
  display : none; 
}
#levels
{
  position : absolute;
  top : 350px;
  left:150px;
  height : 100px;
  width : 440px;
  color : #e9c373;
  text-transform : capitalize;
  font-size : 20px;
  text-align : center;
}
#levels #easy
{
  width : 31%;
  height : 40%;
  position : absolute;
  top : 60%;
  cursor : pointer;
}
#levels #medium
{
  width : 38%;
  height : 40%;
  position : absolute;
  top : 60%;
  left : 31%;
  cursor : pointer;
}
#levels #hard
{
  width : 30%;
  height : 40%;
  position : absolute;
  top : 60%;
  left : 69%;
  cursor : pointer;
}
#levels div:hover
{
  color : white;
}
#campaign #back
{
  cursor:pointer;
  height:43px;
  left:95px;
  position:absolute;
  top:482px;
  width:113px;
}
#campaign #back .text
{ 
  color:#FAC200;
  position:absolute;
  top:15px;
  left:35px;
  width:77px;
  text-align:center;
}
#campaign .camp-details
{
  height:200px;
  left:100px;
  position:absolute;
  top:75px;
  width:300px;
}
#campaign .name
{
  color:#FAC200;
  font-size:27px;
  padding-bottom:5px;
  text-transform:capitalize;
}
#campaign .desc
{
  color:white;
  font-size:14px;
  line-height:140%;
  text-align:justify;
  text-shadow:2px 1px #990000;
}

#campaign #camp-map 
{
  position:absolute;
  top:50px;
  left:440px;
}
#campaign #missions
{
  left:80px;
  position:absolute;
  top:280px;
}
#campaign .mission
{
  float : left;
  position : relative;
  margin : 0px 9px;
}
#campaign .mission .missionName
{
  position:absolute;
  text-align:center;
  top:160px;
  width:100%;
}
#
/* Mission Info Page */
#mission
{
/*  background : url("../images/intro/city/city-info.png") no-repeat scroll 0 0 transparent;*/
}
#creeps-scroll ul li img {
  padding-top: 7px;
}
#creeps-scroll ul li img:hover {
  opacity: 0.7;
  cursor : pointer;
}
#mission #cityName
{
  color:#FF4102;
  font-weight:bold;
  left:235px;
  position:absolute;
  text-align:center;
  text-transform:uppercase;
  top:65px;
  width:150px;
}
#mission #cityDesc
{
  color:#550000;
  font-size:13px;
  left:225px;
  line-height:190%;
  position:absolute;
  text-align:center;
  top:90px;
  width:170px;
}
#mission #fullDesc
{
  color:white;
  font-size:13px;
  left:405px;
  line-height:150%;
  position:absolute;
  text-align:justify;
  text-shadow:-1px -1px #555555;
  top:245px;
  width:280px;
}
#mission #cityImage
{
  height:200px;
  left:450px;
  position:absolute;
  top:45px;
  width:250px;
}
#mission #cityMap
{
  height:164px;
  left:90px;
  overflow:hidden;
  position:absolute;
  top:180px;
  width:220px;
}
#mission #cityMap img
{
  width:224px;  
  height:169px;
}
#mission #stamp
{
  height:116px;
  left:245px;
  position:absolute;
  top:295px;
  width:160px;
}
#mission #accept
{
  height:46px;
  left:485px;
  position:absolute;
  top:420px;
  width:90px;
  cursor : pointer;
}
#mission #accept .text
{
  color:white;
  position:absolute;
  top:30%;
  left:0px;
  width : 100%;
  text-align:center;
}
#mission #reject
{
  color:#FAC200;
  cursor:pointer;
  font-size:15px;
  height:35px;
  left:580px;
  position:absolute;
  top:440px;
  width:95px;
  text-shadow : 1px 1px #333333;
}
#mission #reject:hover
{
  text-decoration : underline;
}
#mission #creeps
{
  height:72px;
  left:30px;
  position:absolute;
  top:408px;
  width:430px;
}
#mission .creep
{
  float:left;
  height:65px;
  width:101px;
}
#mission #creepBar
{
  height:28px;
  left:72px;
  position:absolute;
  top:502px;
  width:390px;
}
#mission #floatBg
{
  width : 400px;
  height : 170px;
  position : absolute;
  top : 245px;
  left : 45px;
  z-index : 200;
  color : #FAC200;
}
#mission .creepsHeadline
{
  color:#550000;
  font-size:13px;
  height:72px;
  left:40px;
  position:absolute;
  top:390px;
  width:430px;
}
#mission #floatBg #close
{
  position : absolute;
  top : 10px;
  right : 10px;
  width : 20px;
  height : 20px;
  cursor : pointer;
}
#mission #floatBg .content
{
  position:absolute;
  top:20px;
  left:40px;
  overflow : hidden;
  height : 130px;
  width : 320px;
}
#mission #floatBg .name
{
  font-size:19px;
}
#mission #floatBg .desc
{
  white-space:normal;
  word-wrap:break-word;
  font-size : 12px;
  line-height : 150%;
}
#mission #floatBg .spans
{
  width : 70%;
  float : left;
  margin-top : 10px;
}
#mission #floatBg .skeleton
{
  padding-top:35px;
  width:25%;
  text-align : center;
  float : right;
}

#marketTabs
{
  height: 48px;
  position: absolute;
}
#marketTabs div
{
  position : absolute;
  width : 248;
  z-index : 100;
  height : 45px;
  overflow : hidden;
  cursor : pointer;
}
#marketPlace  #marketTabs .text
{
  color:white;
  font-family:PakGirl;
  font-size:22px;
  left:0;
  position:absolute;
  text-align:center;
  top:11px;
}
#marketTabs .towersOn
{
}
#marketTabs .upgradesOn
{
  left : 248px;
}
#marketTabs .weaponsOn
{
  left : 496px;
}
#marketTabs .towersTab
{
}
#marketTabs .weaponsTab
{
  left : 248px;
}
#marketTabs .upgradesTab
{
  left : 496px;
}
#marketPlace #towers, #marketPlace #weapons, #marketPlace #upgrades
{
  position : absolute;
  top : 12px;
}
#marketPlace #next, #marketPlace #back, #marketPlace #finish
{
  position : absolute;
  top : 495px;
  width : 120px;
  height : 45px;
  cursor : pointer;
  color : white;
}
#marketPlace #finish
{
  left : 23px;
}
#marketPlace #next
{
  left : 620px;
}
#marketPlace #back
{
  left : 488px;
}
#marketPlace #finishText
{
  position:absolute;
  top:12px;
  left:20px;
  width:77px;
  text-align:center;
}
#marketPlace #nextText
{
  position:absolute;
  top:10px;
  left:10px;
  width:77px;
  text-align:center;
}
#marketPlace #backText
{
  position:absolute;
  top:10px;
  left:35px;
  width:77px;
  text-align:center;
}

#marketPlace #towers #addedItems
{
  height:75px;
  left:45px;
  position:absolute;
  top:390px;
  width:655px;
}
#marketPlace .background
{
  left:45px;
  position:absolute;
  top:390px;
  width:655px;
}
#marketPlace .msg
{
  color:#FFEE00;
  font-size:18px;
  position:absolute;
  text-align:center;
  text-shadow:2px 1px #770000;
  top:335px;
  width:100%;
  word-spacing:5px;
  
}
#marketPlace #towers .addedItem
{
  float:left;
  height:75px;
  overflow:hidden;
  width:65.5px;
  position : relative;
}
#marketPlace #towers .emptyItem
{
  float:left;
  height:75px;
  overflow:hidden;
  width:65.5px;
  position : relative;
  text-align : center;
  padding-top : 17px;
}


#marketPlace #weapons #addedItems, #marketPlace #upgrades #addedItems
{
  height:68px;
  left:46px;
  position:absolute;
  top:398px;
  width:655px;
}
#marketPlace #weapons .addedItem, #marketPlace #upgrades .addedItem
{
  float:left;
  height:68px;
  margin-right:4px;
  overflow:hidden;
  position:relative;
  width:127px;
  text-align : center;
}
#marketPlace #weapons .addedItem .addedItemImg
{
  margin-top : 5px;
  overflow : hidden;
}
#marketPlace #upgrades  .addedItem .addedItemImg
{
  margin-top : 10px;
  overflow : hidden;
}
#marketPlace #weapons .emptyItem, #marketPlace #upgrades .emptyItem
{
  float:left;
  height:68px;
  margin-right:4px;
  overflow:hidden;
  position:relative;
  width:127px;
  text-align : center;
  padding-top : 10px;
}

#marketPlace #towersDisplay, #marketPlace #weaponsDisplay, #marketPlace #upgradesDisplay
{
  height:249px;
  left:240px;
  position:absolute;
  top:58px;
  width:447px;
}
#marketPlace .item
{
  height : 87px;
  width : 144px;
  margin : 0px 4px 0px 0px;
  float : left;
  text-align : center;
  vertical-align : middle;
  position : relative;
  overflow : hidden;
}
#marketPlace .item div
{
  height:75px;
  overflow : hidden;
}
#marketPlace .itemImage
{
  position : absolute;
  top : 0px;
  left : 0px;
  width : 100%;
  height : 100%;
}
#marketPlace #weapons .itemImage img
{
  padding-top : 7px;
}
#marketPlace #upgrades .itemImage img
{
  padding-top : 12px;
}
#marketPlace .itemImage .label
{
  position : absolute;
  bottom : 2px;
  left : 2px;
}
#marketPlace .action
{
  position : absolute;
  right : 2px;
  bottom : 15px;
  cursor : pointer;  
}
#marketPlace .action .text
{
  color:white;
  font-size:11px;
  height:100%;
  left:0;
  line-height:180%;
  position:absolute;
  text-align:center;
  top:0;
  width:100%;
}
#marketPlace .addedItem .action
{
  position : absolute;
  right : 2px;
  top : 7px;
  cursor : pointer;  
}
#marketPlace #weapons .addedItem .action, #marketPlace #upgrades .addedItem .action
{
  top : 5px;
}
#marketPlace .coins
{
  left:92px;
  position:absolute;
  text-align:center;
  text-shadow:1px 1px white;
  top:240px;
  width:110px;
  font-family : Digital;
  font-size : 24px;
}
.item .clickable div, #addedItems .clickable div
{
  opacity : 0.85;
  cursor : pointer;
}
.item .clickable div:hover, #addedItems .clickable div:hover
{
  opacity : 1;
  cursor : pointer;
}
div.clickableButton
{
  opacity : 0.85;
  cursor : pointer;
}
div.clickableButton:hover
{
  opacity : 1;
  cursor : pointer;
}

#marketPlace #floatBg
{
  color : #FAC200;
  left:155px;
  position:absolute;
  top:100px;
  z-index:100;
}
#marketPlace #floatBg #close
{
  position : absolute;
  top : 10px;
  right : 15px;
  width : 20px;
  height : 20px;
  cursor : pointer;
}
#marketPlace #floatBg .content
{
  left:20px;
  position:absolute;
  top:20px;
  height : 150px;
  width : 465px;
}
#marketPlace #floatBg .content .spans
{
  float:left;
  padding-right:10px;
  width:75%;
  text-align : justify;
  height : 100%;
}
#marketPlace #floatBg .content .image
{
  float : right;
  text-align : center;
  width : 20%;
  margin-top : 20px;
}
#marketPlace #floatBg .content .image .skeleton
{
  height : 100px;
}
#marketPlace #weapons #floatBg .content .image .skeleton
{
  margin-top : 10px;
  height : 80px;
}
#marketPlace #upgrades #floatBg .content .image .skeleton
{
  height : 70px;
}
#marketPlace #floatBg .content .image .cost img
{
  float : right;
}
#marketPlace #floatBg .image .cost
{
  width: 100%;
  height : 24px;
}
#marketPlace #floatBg .image .cost .img
{
  width: 30%;
  margin-left : 4%;
  float : left;
}
#marketPlace #floatBg .image .cost .value
{
  float:left;
  font-family:Digital;
  font-size:26px;
  margin-top:-6px;
  text-align:center;
  width:60%;
}
#marketPlace #upgrades #floatBg .content .spans
{
  width : 65%;
}
#marketPlace #upgrades #floatBg .content .image
{
  margin-top : 35px;
  width : 30%;
}
#marketPlace #floatBg .name
{
  font-size:20px;
  font-weight:bold;
  line-height:150%;
  text-decoration:underline;
  text-transform:uppercase;
}
#marketPlace #floatBg .desc
{
  font-size:15px;
  font-weight:normal;
  line-height:130%;
  white-space:normal;
  word-wrap:break-word;
}
#marketPlace #floatBg .actions
{
  height:30px;
  position:absolute;
  top:170px;
  width:92%;
}
#marketPlace #upgrades #floatBg  .actions
{
  width:87%;
}
#marketPlace #floatBg .actions .rank
{
  left:20px;
  position:absolute;
  text-transform : capitalize;
}
#marketPlace #floatBg .actions .rank span
{
  position:absolute;
  top:12px;
  width:135px;
}
#marketPlace #floatBg .actions .rank img
{
  height:35px;
  left:140px;
  position:absolute;
}
#marketPlace #floatBg .actions .action
{
  bottom:0;
  cursor:pointer;
  float : right;
  font-size : 11px;
}
#marketPlace #floatBg .actions .action .active
{
  color:#FF4102;
  font-size:19px;
}
#marketPlace #floatBg .actions .action .inactive
{
  color:silver;
  font-size:19px; 
  cursor : default; 
}
#marketPlace #floatBg .actions .addMoney
{
  bottom:0;
  cursor:pointer;
  position:absolute;
  right : 80px;
  color : white;
  text-transform : capitalize;
}

#challengesText {
	position : absolute;
	z-index : 2;
	top : 370;
	left : 240;
	color : orange;
	font-size : 25;
	text-shadow: #000 2px 2px 1px;

}
/*
#challenges
{
  background : url("../images/intro/challenge-selection.png") no-repeat scroll 0 0 transparent;
  text-align : center;
  display : none; 
}

.challenge
{
  width : 100px;
  height : 100px;
  margin : auto;
}

#challengeSelection div
{
  position : absolute;
  left : 185px;
  height : 180px;
  width : 400px;
}

#challengeSelection #weekly 
{ 
  background : url("../images/intro/weekly-challenge.png") no-repeat scroll 0 0 transparent;
  top : 90px;

}

#challengeSelection #all
{
  background : url("../images/intro/all-challenges.png") no-repeat scroll 0 0 transparent;
  top : 300px;
}

#challengeSelection div a 
{
  display : block;
  height : 180px;
  width : 400px;
}
*/
