<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Nezal, 7aytho masra3 al2abtal</title>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/effects.js"></script>
  <script src="/javascripts/application.js"></script>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'chat' %>
  
	<style>

		#header h1 { float : left ; margin-right : 10px }
		#header h4 { float : left }
		
		#main { min-height:450px }
		#main a {color:white; text-decoration:none}
		#main a:hover {background:white; color:black}
		#footer { background : #333; color : #fff; padding : 10px } 
		
		.game-list li {width : 500px; padding:10px;}
		.game-list li p {width:350px}
		.game-list li:hover {background:#555}
		.game-list li img {width : 350px; height:200px}
		
	</style>

</head>
<body>
		<div id="header"><h1>Nezal</h1><h4>7aytho Masra3 Al-2abtal</h4><div style="clear:both"></div></div>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
