label 
{ 
  font-family : Comic Sans MS;
  font-size : 20px;
  font-weight : bold;
  margin-bottom : 10px;
}
  
.column
{ 
  padding : 10px;
  width : 95%;
  margin : auto;
}
.hide
{
  display : none;
}
.show 
{ 
  display : block;
}
.separator 
{
}

.home_link
{ 
  font-family : Comic Sans MS;
  font-size : 16px;
  font-weight : bold;
  margin : 0px 0px 10px 0px;
  display: block;
  color : #800000;
}

#groups
{
}

#teams
{
}

#matches
{
}

.data_links
{
  color : #FF7700;
  display : block;
  float : left;
  font-style : italic;
  text-decoration : none;
  text-shadow : 1px 0 3px yellow;
  width : 20%;
}
.data_links:hover, .data_links:visited:hover
{
  text-shadow : 2px 0px 4px #ff9900;
}
.data_links:visited
{
  color : #997700;
  text-shadow : 1px 0 3px #BB9900;
}
.submit_links
{
  color : transparent;
  font-style : italic;
  text-decoration : none;
  text-shadow : 2px 0px 2px greenyellow;
  font-size : 14px;
}
.submit_links:hover, .submit_links:visited:hover
{
  text-shadow : 2px 0px 2px #ff9900;
}
.submit_links:visited
{
  text-shadow : 1px 0 3px #BB9900;
}
label .submit_links
{
  font-size:22px;
  font-weight:normal;
}
#groups-list, #teams-list, #group-teams, #locations-list, #matches-list
{ 
  margin : 10px;
}

.expand
{
  background : url("/images/arrow-right.png") no-repeat scroll left bottom ;
  width : 19px;
  height : 19px;
  display : block;
  float : left;
  padding : 5px;
}
.collapse
{
  background : url("/images/arrow-down.png") no-repeat scroll left bottom ;
  width : 19px;
  height : 19px;
  display : block;
  float : left;
  padding-top : 10px;
}


form 
{
  margin : 30px 10px;
}
.form_row
{
  padding : 5px 0px;
  width : 40%;
}
.form_row label
{
  color : gray;
  font-size : 12px;
  font-weight : normal;
  width : 25%;
  display : block;
  float : left;
}
.form_row input, textarea, select
{
  width : 70%;
}
.form_row .submit
{
  float : right;
  margin-right : 4%;
  width : 20%;
}

