
#content{
	position:absolute;
	width : 760px;
	height: 550px;
	overflow: hidden;
	background-color: #9C130E;
}

#content #links{
	position:absolute;
	left:730px;
	height:454px;
	width:21px;
	top : 80px;
	/*background-color : red;*/
	background: url('../images/background/buttons_gray.png')  no-repeat;
}

#content #links div{
	width:20px;
	height:79px;
	margin-bottom:5px;
	cursor:pointer;
	/*border:1px solid red;*/
}

#content #links div.semis{
	margin-bottom:4px;
}

#content #links div.finals{
	height:100px;
}

#content #links div.first_round.on{
	background: url('../images/background/32_button.png')  no-repeat;
}

#content #links div.round16.on{
	background: url('../images/background/16_button.png')  no-repeat;
}

#content #links div.quarters.on{
	background: url('../images/background/8_button.png')  no-repeat;
}

#content #links div.semis.on{
	background: url('../images/background/semi_final_button.png')  no-repeat;
}

#content #links div.finals.on{
	background: url('../images/background/final_button.png')  no-repeat;
}

#content #matchContainer{
	position : absolute;
	width : 697px;
	height : 397px;
	top : 109px;
	left : 22px;
	overflow : hidden;
}

#content .tableContainer{
	position : absolute;
	width : 697px;
	height : 397px;
	background-color : #9c130e;
}

#content #first_roundTable.tableContainer{
	position : absolute;
	width : 697px;
	height : 1191px;
	background-color : #9c130e;
}


#content #frame{
	position : absolute;
	width : 760px;
	height : 550px;
	top : 0px;
	left : 0px;
	background: url('../images/background/dashboard_body_blank.png')  no-repeat;
}

#content .next_button{
	position : absolute;
	width : 95px;
	height : 26px;
	top : 80px;
	left : 332px;
	background: top url('../images/background/buttons_active.png')  no-repeat;
	cursor :pointer;
}

#content .next_button.off{
	background: top url('../images/background/buttons_inactive_active.png')  no-repeat;
	cursor : default;
}

#content .previous_button.off{
	background: bottom url('../images/background/buttons_active_inactive.png')  no-repeat;
	cursor : default;
}


#content .previous_button{
	position : absolute;
	width : 95px;
	height : 26px;
	top : 509px;
	left : 332px;
	background: bottom url('../images/background/buttons_active.png')  no-repeat;
	cursor :pointer;
}

#content table{
	width : 100%;
	height : 100%;
	padding : 0px;
	margin: 0px;
	background-color:#ffbf00;
	border-spacing :1px;
}

#content  td,th{
	padding : 0px;
	margin: 0px;
	background-color:#9c130e;	
	/*border : 1px solid yellow;*/
}

#content th{
	 font-family:tahoma;
	 background-color : #7c0305;
	 width:40px;
	 color:#ffbf00;
	 font-weight:normal;
}

#content  td.match{
	cursor: pointer;
	background:  url('../images/background/white_note.png') #9c130e  no-repeat;
}
#content  td.match.g1{
	background:  url('../images/background/red_note.png') #9c130e  no-repeat;
}
#content  td.match.g2{
	background:  url('../images/background/brown_note.png') #9c130e  no-repeat;
}
#content  td.match.g3{
	background:  url('../images/background/green_note.png') #9c130e  no-repeat;
}
#content  td.match.g4{
	background:  url('../images/background/dark_blue_note.png') #9c130e  no-repeat;
}
#content  td.match.g5{
	background:  url('../images/background/yellow_note.png') #9c130e  no-repeat;
}
#content  td.match.g6{
	background:  url('../images/background/purple_note.png') #9c130e  no-repeat;
}
#content  td.match.g7{
	background:  url('../images/background/orange_note.png') #9c130e  no-repeat;
}
#content  td.match.g8{
	background:  url('../images/background/blue_note.png') #9c130e  no-repeat;
}

#content.first_round td.match div.panel{
	position : relative;
	left:10px;
	width: 155px;
	height: 55px;
	background:  url('../images/background/note_data_group_stage.png')  no-repeat;	
}

#content.first_round td.match div.panel img.flagA{
	position : absolute;
	left:111px;	
	top : 0px;
	width: 24px;
	height: 24px;
}

#content.first_round td.match div.panel img.flagB{
	position : absolute;
	left:113px;	
	top : 31px;
	width: 24px;
	height: 24px;
}
#content #guide{
	position: absolute;
	visibility: hidden;
	left:90px;
	top:1px;
	width:230px;
	height:72px;
	background:  url('../images/background/group_guide.png')  no-repeat;	
}

#content.first_round #guide{
	visibility: visible;
}

#content #studio{
	position: absolute;
	visibility: visible;
	left:140px;
	top:8px;
	width:125px;
	height:57px;
	background:  url('../images/background/studio_button.png')  no-repeat;	
	cursor : pointer;
}

#content.first_round #studio{
	visibility: hidden;
}

#sound{
	position : absolute;
	left :70px;
	top: 509px;
	width : 40px;
	height :40px;	
	z-index : 10000;
	cursor : pointer;
}

#sound.on{
	background: url('../images/background/sound_on_icon_small.png') no-repeat;
}

#sound.off{
	background: url('../images/background/sound_off_icon_small.png') no-repeat;
}

#rankings {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 760px;
	height: 560px;
	z-index : 10020;
	text-align:center;
}

#rankings_shade {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 760px;
	height: 560px;
	background-color:black;
}

#rankings iframe{
	position :absolute;
	left:30px;
	width:670px;
	height:550px;
	border:none;
}

#rankings #close{
	position:absolute;
	left:700px;
	top:30px;
	width:30px;
	height:30px;
	cursor:pointer;
	color:white;
	font-weight:bold;
	font-family:verdana;
	font-size:20px;
	background-color:bloack
}

.panel div.score{
	position :absolute;
	width:24px;
	height:20px;
	color: #444;
	font-family:tahoma;
	left : 70px;
	text-align:center;
}

.panel div.score.scoreA{
	top : 9px;
	left : 30px;
}

.panel div.score.scoreB{
	top : 30px;
	left : 30px;
}

.panel div.score.predictionA{
	top : 9px;
	color:#228;
}

.panel div.score.predictionB{
	top : 32px;
	color:#228;
}

.panel div.result{
	position:absolute;
	width:30px;
	height:26px;
	background: url('../images/background/score_lable.png') no-repeat;
	top:30px;
	left:0px;
	font-family:tahoma;
	font-weight:bold;
	font-size:16px;
	color:#5C7F89;
	padding-top:4px;
	padding-left:6px;
	text-align: left;
}

.panel div.result.none{
	background: url('../images/background/no_prediction_lable.png') no-repeat;
}

#totalScore{
	color: orange;
	font-family:tahoma;
	font-size: 18px;
	position:absolute;
	left : 620px;
	width:40px;
	height:30px;
	top: 10px;
}

#roundScore{
	color: orange;
	font-family:tahoma;
	font-size: 18px;
	position:absolute;
	left : 620px;
	width:40px;
	height:30px;
	top: 36px;
}

#content #like{
	position : absolute;
	left : 605px;
	top : 506px;
	width : 80px;
	height :30px;	
	z-index : 10002;
}

#rankings_frame{
	border:none;
	background:none;
}
