#preIntro{
  background : url("/images/background/ajax-loader.gif") no-repeat scroll center ;
  width : 100%;
  height : 100%;
}

#placeHolder{
  background : url("/images/background/play_screen.png") repeat scroll center ;
  position : absolute;
  width : 760px;
  height : 550px;
  z-index : 100000;
}

.playLink{
  background : url("/images/background/play.png") no-repeat scroll center center transparent;
  display : block;
  height : 80px;
  left : 285px;
  position : absolute;
  top : 322px;
  width : 200px;
  cursor : pointer;
}
