@font-face {
  font-family: "Adlib";
  src: url("/stylesheets/fonts/ADLIB.TTF");
}

.loading
{
  background : url("/images/background/ajax-loader.gif") no-repeat scroll center  ;
  height : 500px;
  width : 660px;
  position : absolute;
  left : 0;
  top : 0;
}

.background
{
  background : url("/images/ranking/screen-shadow.png") no-repeat scroll left top transparent;
  height : 500px;
  width : 660px;
}
.rank
{
  background : url('/images/ranking/orange-screen.png') no-repeat left top;
  padding : 6px;
  margin : 0px 9px;
}

#global-rank
{
  background : url('/images/ranking/everyone-bar.png') no-repeat;
  height : 131px;
  padding : 40px 3px;
}

#friends-rank
{
  background : url('/images/ranking/my-friends-bar.png') no-repeat;
  height : 131px;
  padding : 40px 3px;
}

#user .friend
{
  float: left;
}

.user
{
  background : url('/images/ranking/user-background.png') no-repeat left bottom;
  width : 85px;
  height : 145px;
}
.user-me
{
  background : url('/images/ranking/user-background-me.png') no-repeat left bottom;
}
.user .name
{
  color : #3f99d5;
  text-align : center;
  font-family : Adlib;
  font-size : 13px;
  padding : 7px;
  height : 15px;
}
.user .name-me
{
  color : white;
}

.user .pic 
{
  height : 86px;
  margin : auto;
  width : 71px;
}

.user .image
{
  border : none;
  overflow : hidden;
}

.user .score
{
  background :  url('/images/ranking/score-star.png') no-repeat right top;
  position : relative;
  top : -18px;
  height : 50px;
  width : 82px;
}

.user .order 
{
  width : 40px;
  height : 45px;
  float  : left;
}

.user .score-text
{
  color : black;
  font-family : Adlib;
  font-size : 13px;
  float : left;
  height : 40px;
  padding-top : 17px;
  text-align : center;
  width : 40px;
}

.user .order-text
{
  color : #FFD500;
  font-family : Adlib;
  font-size : 35px;
  line-height : 120%;
  padding-top : 6px;
  padding-left : 2px;
  text-align : center;
  text-shadow : 2px 2px 3px black;
}

#top-scorers, #friends-top-scorers
{
  padding-top : 5px; 
}

#top-scorers ul, #friends-top-scorers ul {
  margin: 0;
  padding:0;
  top: 0;
  left: 0;
  height: 144px;
}                      

#top-scorers ul li, #friends-top-scorers ul li{
  border:0px solid green;
  color:#E3EDFA;
  margin:0pt;
  padding: 0px;
  width:91px;
  list-style:none;  
  float:left;
}

/* Horizontal Carousel */
#friends-rank-scroll, #global-rank-scroll{
  float:left;
  width: 343px;
  height: 150px;
  margin-bottom: 10px;
  position: relative;  
}         

#friends-rank-scroll .container, #global-rank-scroll .container {
  position: absolute;
  top: 5px;
  left: 37px;  
  width: 273px;
  height: 146px;
  overflow:hidden;   
}            

#friends-rank-scroll .right, #global-rank-scroll .right {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 27px;
  height: 144px;
  z-index: 100;
  cursor:pointer;
}        

#friends-rank-scroll .left,  #global-rank-scroll .left {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 27px;
  height: 144px;
  z-index: 100;    
  cursor:pointer;
}   

#friends-rank-scroll ul, #global-rank-scroll ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 144px;
}                      

#friends-rank-scroll ul li, #global-rank-scroll ul li {
  font-family:verdana,arial,sans-serif;
  font-size:10px;
}                               

#friends-rank-scroll ul li, #global-rank-scroll ul li {
  border : 0px solid green;
  color : #E3EDFA;
  margin : 0pt;
  padding : 0px;
  width : 91px;
  list-style : none;   
  float : left;
}

.leftOn
{
  background : url('/images/ranking/left.png') no-repeat left center;
}
.leftOff
{
  background : url('/images/ranking/left-disabled.png') no-repeat left center;
  cursor:default;
}
.rightOn
{
  background : url('/images/ranking/right.png') no-repeat right center;
}
.rightOff
{
  background : url('/images/ranking/right-disabled.png') no-repeat right center;
  cursor:default;
}
