a 
{
  height : 41px;
  display : block;
  float : right;
}
.round-selection
{
  height : 40px;
  padding-right : 25px;
  padding-top : 13px;
}
.first-round-blue
{
  width : 100px;
  background : url("/images/ranking/dor_32_blue.png") no-repeat scroll right top transparent;
}

.first-round-orange
{
  width : 100px;
  background : url("/images/ranking/dor_32_orange.png") no-repeat scroll right top transparent;
}

.round16-blue
{
  width : 104px;
  background : url("/images/ranking/dor_16_blue.png") no-repeat scroll right top transparent;
}

.round16-orange
{
  width : 104px;
  background : url("/images/ranking/dor_16_orange.png") no-repeat scroll right top transparent;
}

.quarters-blue
{
  width : 100px;
  background : url("/images/ranking/dor_8_blue.png") no-repeat scroll right top transparent;
}

.quarters-orange
{
  width : 100px;
  background : url("/images/ranking/dor_8_orange.png") no-repeat scroll right top transparent;
}

.semis-blue
{
  width : 101px;
  background : url("/images/ranking/semi_final_blue.png") no-repeat scroll right top transparent;
}

.semis-orange
{
  width : 101px;
  background : url("/images/ranking/semi_final_orange.png") no-repeat scroll right top transparent;
}

.finals-blue
{
  width : 104px;
  background : url("/images/ranking/final_blue.png") no-repeat scroll right top transparent;
}

.final-orange
{
  width : 104px;
  background : url("/images/ranking/final_orange.png") no-repeat scroll right top transparent;
}


.total-blue
{
  width : 104px;
  background : url("/images/ranking/albotola_blue.png") no-repeat scroll right top transparent;
}

.total-orange
{
  width : 104px;
  background : url("/images/ranking/albotola_orange.png") no-repeat scroll right top transparent;
}


