<div class="column" id="chatArea">
  <div id="chat">
    <input id='userName' type="hidden" name="<%=@user[:key]%>" /> 
    <div id="chatHistory" class="chatHistory">
    </div>
    <div id='errorMsg'>
       &nbsp &nbsp
    </div>
    <textarea id="chatBox" onKeyPress="return submitOnEnter(this, event, Chat.send )"></textarea>  
  </div>
</div>
