<div id="room" class="column">
  <div id="name" >
    Room id: <%= @court[:key] %> 
  </div>
  
  <div id="event" class="invisible">
    This is the place for the new events
  </div>
  
  <div>
      Users in room:
      <% @room[:users].each_key do |user| %>
        <div class='user'> <%= user %> </div>
      <% end %>    
  </div>
</div>
