<link type="text/css" href="/city-defender/css/user.css" rel="stylesheet" />

<script src="/javascripts/prototype.js"></script>
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>

<div id="fb-root" style="display:none;"></div>
<div id="gameArea">
  <div id='game'>
<%= erb(@game_erb, :layout => false) %>
  </div>
</div>

