<script type='text/javascript'>
  
  function logout() {
    new Ajax.Request( "/rooms/<%=@room[:id]%>" , { 
      method:'put', 
      parameters: { action : 'delete' } ,
      onSuccess: function(transport, json){
      },
      onFailure: function(){
          Event.error("Error"); 
      }
    });
  }
  window.onunload = logout;
  
</script>

<div class="column" id="chatArea">
  <div id="chat">
    <input id='userName' type="hidden" name="<%=@user%>" /> 
    <div id="chatHistory" class="chatHistory">
    </div>
    <div id='errorMsg'>
       &nbsp &nbsp
    </div>
    <textarea id="chatBox" onKeyPress="return submitOnEnter(this, event, Chat.send )"></textarea>  
  </div>
</div>

<div id="gameArea" class="column">
  <div id="gameStatus">
  </div>
  <div id='game'>
  </div>
</div>

<div id="room" class="column">
  <div id="name" >
    Room id: <%= @room[:id] %> 
  </div>
  
  <div id="event" class="invisible">
    This is the place for the new events
  </div>
  
  <a href="/rooms" onclick="logout();">All rooms</a>
  
  <div>
      Users in room:
      <% @room[:users].each_key do |user| %>
        <div class='user'> <%= user %> </div>
      <% end %>    
  </div>
</div>

<div style="clear:both"></div>


