<div class="column" id="chatArea">
  <div id="chat">
    <input id='userName' type="hidden" name="<%=@user%>" /> 
    <div id="chatHistory" class="chatHistory">
    </div>
    <div id='errorMsg'>
       &nbsp &nbsp
    </div>
    <textarea id="chatBox" onKeyPress="return submitOnEnter(this, event, '/rooms/<%=@room[:id]%>/events', 'appendChatMsg' )"></textarea>  
  </div>
</div>

<div class="column" id='game'>
</div>

<div class="column" id="status">
  <table>
    <tr>
      <td>Room id: </td>
      <td> <%= @room[:id] %> </td>
    </tr>

    <tr>
      <td>Room Users: </td>
      <% @room[:users].each_key do |user| %>
          <td> <%= user %> </td>
      <% end %>    
    </tr>
  </table>

  <a href="/rooms">All rooms</a>
</div>

<div style="clear:both"></div>


