<form id="new_game" action="/games/admin" method="post" enctype="multipart/form-data">
  <div class="form_row">  
    <LABEL for="name">Name</LABEL>
      <INPUT type="text" id="name" name='name'><BR>
  </div>
  <div class="form_row">
    <LABEL for="description">Description</LABEL>
  	  <textarea name='description' type="text"></textarea>  
  </div>	  
  <div class="form_row">
    <LABEL for="image">Image</LABEL>
    	<input type="file" id="image" name="image"> 
	</div>
  <input type="submit" value="Save" class="submit"/>
</form> 

