@font-face {
  font-family: "Adlib";
  src: url("../css/fonts/ADLIB.TTF");
}

body {
  font-family : Adlib;
}

#preIntro{
  background : url("../images/background/ajax-loader.gif") no-repeat scroll center ;
  width : 100%;
  height : 100%;
}

#placeHolder{
  background : url("../images/intro/challenge-selection.png") repeat scroll center ;
  position : absolute;
  width : 760px;
  height : 550px;
  z-index : 100000;
}

.playLink{
  background : url("../images/intro/map-start.png") no-repeat scroll center center transparent;
  display : block;
  height : 80px;
  left : 285px;
  position : absolute;
  top : 322px;
  width : 200px;
  cursor : pointer;
}

#intro
{
  width : 760px;
  height : 550px;
}

#intro #levelSelection, #cityInfo, #marketPlace
{
  width : 100%;
  height : 100%;
}

/* Level Selection CSS */
#levelSelection
{
/*  background : url("../images/intro/level-selection.png") no-repeat scroll 0 0 transparent;*/
  display : none; 
}
#levels
{
  position : absolute;
  top : 350px;
  left:150px;
  height : 100px;
  width : 440px;
}
#levels div a
{
  color : highlight;
  float : left;
  font-size : 20px;
  font-weight : bold;
  height : 40%;
  overflow : visible;
  margin-top : 50px;
  text-align : center;
  width : 100%;
}
#levels #easy
{
  width : 31%;
  height : 100%;
  position : absolute;
  top : 0px;
}
#levels #medium
{
  width : 38%;
  height : 100%;
  position : absolute;
  top : 0px;
  left : 31%;
}
#levels #hard
{
  width : 30%;
  height : 100%;
  position : absolute;
  top : 0px;
  left : 69%;
}
#campaign #back
{
  -moz-transform:rotate(4deg);
  -webkit-transform : rotate(4deg);
  -o-transform : rotate(4deg); 
  cursor:pointer;
  height:52px;
  left:210px;
  position:absolute;
  top:298px;
  width:137px;
}
#campaign #next
{
  -moz-transform:rotate(-2deg);
  -webkit-transform : rotate(-2deg);
  -o-transform : rotate(-2deg); 
  cursor:pointer;
  height:52px;
  left:195px;
  position:absolute;
  top:365px;
  width:180px;
}
#campaign .camp-details
{
  height:200px;
  left:150px;
  position:absolute;
  top:75px;
  width:270px;
}
#campaign .name
{
  color:#550000;
  font-size:18px;
  text-align:center;
  text-transform:uppercase;
  padding-bottom : 10px;
}
#campaign .desc
{
  color:wheat;
  font-size:12px;
  text-align:justify;
}

#campaign #camp-map 
{
  position:absolute;
  top:50px;
  left:440px;
}

#
/* Mission Info Page */
#mission
{
/*  background : url("../images/intro/city/city-info.png") no-repeat scroll 0 0 transparent;*/
}
#mission #cityName
{
  color:#FF4102;
  font-size:17px;
  left:235px;
  position:absolute;
  text-align:center;
  text-transform:uppercase;
  top:68px;
  width:150px;
}
#mission #cityDesc
{
  color:#550000;
  font-size:13px;
  left:225px;
  line-height:190%;
  position:absolute;
  text-align:center;
  top:85px;
  width:170px;
}
#mission #fullDesc
{
  color:white;
  font-size:12px;
  left:405px;
  line-height:150%;
  position:absolute;
  top:245px;
  width:280px;
  text-align : justify;
}
#mission #cityImage
{
  height:200px;
  left:450px;
  position:absolute;
  top:45px;
  width:250px;
}
#mission #cityMap
{
  -moz-transform:rotate(-6.5deg);
  -webkit-transform : rotate(-6.5deg);
  -o-transform : rotate(-6.5deg);
  height:164px;
  left:98px;
  overflow:hidden;
  position:absolute;
  top:186px;
  width:220px;
}
#mission #cityMap img
{
  width:224px;  
  height:169px;
}
#mission #msg
{
  -moz-transform:rotate(-6.5deg);
  -webkit-transform : rotate(-6.5deg);
  -o-transform : rotate(-6.5deg);
  font-size:11px;
  font-weight:bold;
  left:125px;
  position:absolute;
  top:395px;
}
#mission #stamp
{
  height:116px;
  left:245px;
  position:absolute;
  top:295px;
  width:160px;
}
#mission #accept
{
/*  background:url("../images/intro/city/accept.png") no-repeat scroll 0 0 transparent;*/
  height:60px;
  left:485px;
  position:absolute;
  top:420px;
  width:100px;
}
#mission #reject
{
/*  background:url("../images/intro/city/accept.png") no-repeat scroll 0 0 transparent;*/
  height:60px;
  left:590px;
  position:absolute;
  top:420px;
  width:100px;
}
#mission #creeps
{
  height:72px;
  left:30px;
  position:absolute;
  top:408px;
  width:430px;
}
#mission .creep
{
  background:url("../images/intro/city/creep-bg-red.png") no-repeat scroll 0 0 transparent;
  float:left;
  height:65px;
  width:101px;
}
#mission #creepBar
{
  background:url("../images/intro/city/loading-background.png") no-repeat scroll 0 0 transparent;
  height:28px;
  left:72px;
  position:absolute;
  top:502px;
  width:390px;
}
#mission #floatBg
{
  width : 400px;
  height : 170px;
  position : absolute;
  top : 245px;
  left : 45px;
  z-index : 200;
  color : #FAC200;
}
#mission #floatBg #close
{
  position : absolute;
  top : 10px;
  right : 10px;
  width : 20px;
  height : 20px;
  cursor : pointer;
}
#mission #floatBg .content
{
  margin-right : 15px;
  margin-bottom : 20px;
  position:absolute;
  top:20px;
  left:40px;
  overflow : hidden;
  height : 130px;
}
#mission #floatBg .name
{
  font-size:19px;
}
#mission #floatBg .desc
{
  white-space:normal;
  word-wrap:break-word;
  font-size : 12px;
  line-height : 150%;
}
#mission #floatBg .spans
{
  width : 70%;
  margin-right : 3%;
  float : left;
  margin-top : 10px;
}
#mission #floatBg .skelaton
{
  overflow:hidden;
  margin-top:5px;
  width:90px;
  height:125px;
}

#marketTabs
{
  height: 48px;
  position: absolute;
}
#marketTabs div
{
  position : absolute;
  width : 248;
  z-index : 100;
  height : 45px;
  overflow : hidden;
  cursor : pointer;
}
#marketTabs .towersOn
{
}
#marketTabs .upgradesOn
{
  left : 248px;
}
#marketTabs .weaponsOn
{
  left : 496px;
}
#marketTabs .towersOff
{
}
#marketTabs .weaponsOff
{
  left : 248px;
}
#marketTabs .upgradesOff
{
  left : 496px;
}
#towersTab .on
{
  position : absolute;
  left : 0px;
  z-index : 10;
}
#weaponsTab .on
{
  position : absolute;
  left : -248px;
  z-index : 10;
}
#upgradesTab .on
{
  position : absolute;
  left : -496px;
  z-index : 10;
}
#marketPlace #bar
{
  position : absolute;
  top : 35px;
  overflow : visible;
}
#marketPlace #next, #marketPlace #back, #marketPlace #finish
{
  position : absolute;
  top : 495px;
  width : 120px;
  height : 45px;
  cursor : pointer;
}
#marketPlace #finish
{
  left : 23px;
}
#marketPlace #next
{
  left : 620px;
}
#marketPlace #back
{
  left : 488px;
}
#marketPlace #towerDisplay, #marketPlace #weaponDisplay
{
  height:249px;
  left:239px;
  position:absolute;
  top:58px;
  width:447px;
}
#marketPlace #towerDisplay .tower, #marketPlace #weaponDisplay .weapon
{
  height : 87px;
  width : 145px;
  margin : 0px 4px 0px 0px;
  float : left;
  text-align : center;
  vertical-align : middle;
  position : relative;
  overflow : hidden;
}
#marketPlace #towerDisplay .tower div, #marketPlace #weaponDisplay .weapon div
{
  height:68px;
  margin-top:5px;
  margin-bottom:2px;
  position : relative;
  overflow : hidden;
}
#marketPlace #towerDisplay .tower div .action, #marketPlace #weaponDisplay .weapon div .action
{
  position : absolute;
  right : 6px;
  bottom : 2px;
}
#marketPlace #towerDisplay .tower div .label, #marketPlace #weaponDisplay .weapon div .label
{
  position : absolute;
  left : 6px;
  bottom : 2px;
}
#marketPlace .coins
{
  font-weight:bold;
  left:92px;
  position:absolute;
  text-align:center;
  text-shadow:1px 1px white;
  top:250px;
  width:110px;
}

#marketPlace #floatBg
{
  color : #FAC200;
  left:155px;
  position:absolute;
  top:100px;
  z-index:100;
}
#marketPlace #floatBg #close
{
  position : absolute;
  top : 10px;
  right : 10px;
  width : 20px;
  height : 20px;
}
#marketPlace #floatBg .content
{
  left:40px;
  padding-right : 15px;
  position:absolute;
  top:20px;
}
#marketPlace #floatBg .content .spans
{
  float:left;
  padding-right:10px;
  padding-top:30px;
  width:68%;
}
#marketPlace #floatBg .name
{
  font-weight : bold;
}
#marketPlace #floatBg .desc
{
  white-space:normal;
  word-wrap:break-word;
}
/*
#challenges
{
  background : url("../images/intro/challenge-selection.png") no-repeat scroll 0 0 transparent;
  text-align : center;
  display : none; 
}

.challenge
{
  width : 100px;
  height : 100px;
  margin : auto;
}

#challengeSelection div
{
  position : absolute;
  left : 185px;
  height : 180px;
  width : 400px;
}

#challengeSelection #weekly 
{ 
  background : url("../images/intro/weekly-challenge.png") no-repeat scroll 0 0 transparent;
  top : 90px;

}

#challengeSelection #all
{
  background : url("../images/intro/all-challenges.png") no-repeat scroll 0 0 transparent;
  top : 300px;
}

#challengeSelection div a 
{
  display : block;
  height : 180px;
  width : 400px;
}
*/
