<textarea id="crowdMember-state" >
  <div id="health">
    
  </div>
  <div id="hydration">
    
  </div>
</textarea>

<textarea id='loadingScreen'>
  <div id="intro">
	    <img id="logo" src="${Loader.images.loading['logo.png'].src}"/>
		  <div id="loadingBarEmpty">
	  	  <div id="loadingBarLeft"> </div>
	   		<div id="loadingBarFill"> </div>
	    	<div id="loadingBarRight"> </div>
	 		</div>
  		<div id="fileName"> </div>
  		<div id="loadingPercentage"> </div>
  </div>
</textarea>

<textarea id="send_requests">
  <button id="request_help_button"> Send Help Request </button>
  <button id="request_gift_button"> Send Gift </button>
  <button id="request_challenge_button"> Send Challenge </button>
</textarea>

<textarea id="inbox">
  <br/>
  <h3> Requests </h3>
  <div id="help">
    <b>Help Requests</b><br>
    {for request in inbox.requests.help}
      <span> ${request.message} from ${request.from.name} </span>
      <button> Accept </button><br>
    {/for}
    <br>
  </div>
  <div id="gift">
    <b>Gift Requests</b><br>
    {for request in inbox.requests.gift}
      <span> ${request.message} from ${request.from.name} </span>
      <button> Accept </button><br>
    {/for}
    <br>
  </div>
  <div id="challenge"><br>
    <b>Challenge Requests</b><br>
    {for request in inbox.requests.challenge}
      <span> ${request.message} from ${request.from.name} </span>
      <button> Accept </button><br>
    {/for}
    <br>
  </div>
</textarea>

<textarea id='friends'>
  <div  id="friends" class="users">
    <div class="left">
      <img src="" />
    </div>
    <div id="friends-container" class="container">
      <ul id='defense-ul'>
        {for friend in scoreManager.friends}
          <li>
            <div class="user">
              <div class="score"> ${friend['scores'][scoreManager.gameMode]} </div>
			        <img class='photo' src='${friend['picture']}' />	
              <div class="name"> ${friend['name']} </div>
              {if friend['greenNotification']==true}
                <div class="notification greenNotification" id="${friend.service_id}">  
                </div>
              {/if}
              {if friend['redNotification']==true}
                <div class="notification redNotification" id="${friend.service_id}">  
                </div>
              {/if}
            </div>
          </li>
        {/for}
      </ul>
    </div>
    <div class="right">
      <img src="" />
    </div>
  </div>
</textarea>

<textarea id='topScorers'>
  <div  id="topScorers" class="users">
    {for user in scoreManager.topScorers.top}
    <div class="user">
      <div class="score"> ${user['scores'][scoreManager.gameMode]} </div>
      <div>
  			<img class='photo' src="${user['picture']}" />	
      </div>
      <div class="name"> ${user['name']} </div>
    </div>
    {/for}
  </div>
</textarea>

<textarea id='scoreTabs'>
  <div id="scoringModes">
  {for mode in scoreManager.modes}
    <div id="${mode_index}" {if mode_index == scoreManager.mode}
                              class="scoreTab selected"
                            {else}
                              class="scoreTab"     
                            {/if} >
      ${mode_index.capitalize()} Score
    </div>
  {/for}
  </div>
  <div id="gameModes">
    {for mode in scoreManager.gameModes}
        <span id="${mode}" {if mode == scoreManager.gameMode}
                            class="gameModeTab selected"  
                          {else}  
                            class="gameModeTab"
                          {/if} > 
          ${mode} 
        </span>                      
    {/for}
  </div>
</textarea>

<textarea id='sendChallengePrompt'>
  <div class="sendChallengePrompt">
    <div class="message">
      You have passed ${friend.name} score of ${friend.scores[scoreManager.gameMode]} !! <br> Send him a challenge
    </div>
    <div class="sendChallengOk button" id="${friend.service_id}">
      OK
    </div>
    <div class="sendChallengCancel button">    
      SKIP
    </div>
  </div>
</textarea>
<textarea  id='scorePassedAlert'>
  <div class="scorePassedAlert">
    <div class="message">
      With ${friend.scores[scoreManager.gameMode]}, ${friend.name} passed your score!!
    </div>
    <div class="scorePassedCancel button">    
      OK
    </div>
  </div>
</textarea>
