<textarea id="crowdMember-state" >
  <div id="health">
    
  </div>
  <div id="hydration">
    
  </div>
</textarea>

<textarea id='loadingScreen'>
  <div id="intro">
	    <img id="logo" src="${Loader.images.loading['logo.png'].src}"/>
		  <div id="loadingBarEmpty">
	  	  <div id="loadingBarLeft"> </div>
	   		<div id="loadingBarFill"> </div>
	    	<div id="loadingBarRight"> </div>
	 		</div>
  		<div id="fileName"> </div>
  		<div id="loadingPercentage"> </div>
  </div>
</textarea>

<textarea id="send_requests">
  <button id="request_help_button"> Send Help Request </button>
  <button id="request_gift_button"> Send Gift </button>
  <button id="request_challenge_button"> Send Challenge </button>
</textarea>

<textarea id="inbox">
  <br/>
  <h3> Requests </h3>
  <div id="help">
    <b>Help Requests</b><br>
    {for request in inbox.requests.help}
      <span> ${request.message} from ${request.from.name} </span>
      <button> Accept </button><br>
    {/for}
    <br>
  </div>
  <div id="gift">
    <b>Gift Requests</b><br>
    {for request in inbox.requests.gift}
      <span> ${request.message} from ${request.from.name} </span>
      <button> Accept </button><br>
    {/for}
    <br>
  </div>
  <div id="challenge"><br>
    <b>Challenge Requests</b><br>
    {for request in inbox.requests.challenge}
      <span> ${request.message} from ${request.from.name} </span>
      <button> Accept </button><br>
    {/for}
    <br>
  </div>
</textarea>

<textarea style="display:none;" id='missions'>
  {for mission in missions}
  <div class="mission" id="${mission.id}">
    <a  href="javascript:void(0);">${mission.name}</a>
  </div>
  {/for}
</textarea>

<textarea style="display:none;" id='meterBar'>
	<div class="container game">
  	<!--Game Currency Bar-->
		<div class="gameCurrencyBar">
    	<span>12340</span>
    	<img class="positioned" src="images/game_elements/game_currency_bar.png" alt="Game currency bar" />
    </div>
  	<!--Facebook Currency Bar-->
		<div class="facebookCurrencyBar">
    	<span>120</span>
      <a href="#">
      	<img src="images/game_elements/facebook_currency_add_button.png" alt="Facebook add button" />
      </a>
    	<img class="positioned" src="images/game_elements/facebook_currency_bar.png" alt="Facebook currency bar" />
    </div>
    
    <!--Experience Bar-->
    <div class="experienceBar">
    	<span>2000</span>
    	<div class="bar">
      	<!--Value to be changed-->
        <table cellpadding="0" cellspacing="0" width="90%">
          <tr>
            <td style="width:9px;"><img src="images/game_elements/experience_bar_left.png" alt="Experience bar" /></td>
            <td style="width:90%;"><img style="width:100%; height:19px;" src="images/game_elements/experience_bar_center.png" alt="Experience bar" /></td>
            <td style="width:9px;"><img src="images/game_elements/experience_bar_right.png" alt="Experience bar" /></td>
          </tr>
        </table>
      </div>
    	<img class="positioned" src="images/game_elements/experience_bar.png" alt="Experience bar" />
    </div>
    
    <!--Energy Bar-->
    <div class="energyBar">
    	<span>2000</span>
    	<div class="bar">
      	<!--Value to be changed-->
        <table cellpadding="0" cellspacing="0" width="90%">
          <tr>
            <td style="width:9px;"><img src="images/game_elements/energy_bar_left.png" alt="Energy bar" /></td>
            <td style="width:90%;"><img style="width:100%; height:19px;" src="images/game_elements/energy_bar_center.png" alt="Energy bar" /></td>
            <td style="width:9px;"><img src="images/game_elements/energy_bar_right.png" alt="Energy bar" /></td>
          </tr>
        </table>
      </div>
    	<img class="positioned" src="images/game_elements/energy_bar.png" alt="Energy bar" />
    </div>
  </div>
</textarea>

<textarea style="display:none;" id='friends'>
	<!--Friends Bar-->
  <div class="friendsBar">
  	<!--Game funcations-->
  	<div class="gameFunctions">
    	<!--Crowd menu button-->
    	<a class="crowdMenuItem" href="javascript:void(0);" onclick="gameManager.marketplace.openMarketplace();">
        <span class="loadedImg" imgSrc="images/friends/menu_icon.png" alt="Menu Item" />
      </a>
      <!--Marketplace button-->
      <a class="marketplaceMenuItem" href="#"><span class="loadedImg" imgSrc="images/friends/menu_icon.png" alt="Menu Item" /></a>
      <!--Rank button-->
      <a class="rankMenuItem" href="#"><span class="loadedImg" imgSrc="images/friends/menu_icon.png" alt="Menu Item" /></a>
      <!--Vote button-->
      <a class="voteMenuItem" href="#"><span class="loadedImg" imgSrc="images/friends/menu_icon.png" alt="Menu Item" /></a>
      <a class="homeMenuItem" href="#"><span class="loadedImg" imgSrc="images/friends/home_icon.png" alt="Menu Item" /></a>
    	<span class="loadedImg" imgSrc="images/friends/functions_background.png" alt="Functions" imgClasses="positioned" />
    </div>
      
    <!--Friends-->
    <div class="friendsWrapper">
    	<!--Friend-->
      {for friend in topThree}
    	<div class="friend">
        <a href="${friend['url']}">
        	<span class="loadedImg" imgSrc="images/friends/${parseInt(friend_index)+1}.png" alt="rank" imgClasses="rankSign"></span>
          <span class="friendsScore">
          	<span>${friend['scores'][scoreManager.gameMode]}</span>
          	<span class="loadedImg" imgSrc="images/friends/friendsScore.png" alt="Friends score" imgClasses="positioned"></span>
          </span>
          <img class="friendAvatar" src="${friend['picture']}" alt="Firend avatar" />
          <span class="friendName">${friend['first_name']}</span>
        	<span class="loadedImg" imgSrc="images/friends/friend_box.png" alt="friend" />
        </a>
      </div>
      {/for}

      <!--Left controls-->
      <div id="friends">
        <div class="leftControls">
          <div class="left">
            <span class="loadedImg" imgSrc="images/friends/previous_button.png" alt="Previous" />       
          </div>    
          <div class="first">      
            <span class="loadedImg" imgSrc="images/friends/first_button.png" alt="First" />      	
          </div>
        </div>
        <!--Friend-->
        <div class="friend">
          <a href="javascript:void(0);" onclick="socialEngine.inviteFriends();">
            <span class="friendsScore">
            	<span>Invite</span>
            	<span class="loadedImg" imgSrc="images/friends/friendsScore.png" alt="Friends score" imgClasses="positioned"></span>
            </span>
            <div class="inviteFriend friendAvatar">
              <span class="loadedImg" imgSrc="images/friends/friendsRank.png" alt="Invite Friend" imgClasses="friendAvatar" />
            </div>
            <span class="friendName">Invite</span>
            <span class="loadedImg" imgSrc="images/friends/friend_box.png" alt="friend" />
          </a>
        </div>
        <div id="friends-container" class="floatingFriends">
        	<ul id="friends-ul">
            {for friend in list}
          	<li>
              <!--Friend-->
              <div class="friend">
                <a href="${friend['url']}">
                  <span class="friendsScore">
                  	<span>${friend['scores'][scoreManager.gameMode]}</span>
                  	<span class="loadedImg" imgSrc="images/friends/friendsScore.png" alt="Friends score" imgClasses="positioned"></span>
                  </span>
                  <img class="friendAvatar" src="${friend['picture']}" alt="Firend avatar" />
                  <span class="friendName">${friend['first_name']}</span>
                  <span class="loadedImg" imgSrc="images/friends/friend_box.png" alt="friend" />
                </a>
              </div>
            </li>
            {/for}
          </ul>
        </div>
        <!--Right controls-->
        <div class="rightControls">
          <div class="right">
            <span class="loadedImg" imgSrc="images/friends/next_button.png" alt="Next" />
          </div>
          <div class="last">
            <span class="loadedImg" imgSrc="images/friends/last_button.png" alt="Last" />
          </div>
        </div>
      </div>
    	<span class="loadedImg" imgSrc="images/friends/friends_bar.png" alt="friends background" imgClasses="positioned"/>
    </div>

    <!--Switching tabs-->
    <div class="swithcingTabs">
      <ul>
      	<li {if scoreManager.mode=="global"} class="selected" {/if}>
          <a href="javascript:void(0)"><span class="loadedImg" imgSrc="images/friends/worldRank.png" alt="World Rank" /></a>
        </li>
        <li {if scoreManager.mode=="friends"} class="selected" {/if}>
          <a href="javascript:void(0)"><span class="loadedImg" imgSrc="images/friends/friendsRank.png" alt="Friends Rank" /></a>
        </li>
      </ul>
    </div>

  </div>
</textarea>

<textarea id='scoreTabs'>
  <div id="scoringModes">
  {for mode in scoreManager.modes}
    <div id="${mode_index}" {if mode_index == scoreManager.mode}
                              class="scoreTab selected"
                            {else}
                              class="scoreTab"     
                            {/if} >
      ${mode_index.capitalize()} Score
    </div>
  {/for}
  </div>
</textarea>

<textarea id='sendChallengePrompt'>
  <div class="sendChallengePrompt">
    <div class="message">
      You have passed ${friend.name} score of ${friend.scores[scoreManager.gameMode]} !! <br> Send him a challenge
    </div>
    <div class="sendChallengOk button" id="${friend.service_id}">
      OK
    </div>
    <div class="sendChallengCancel button">    
      SKIP
    </div>
  </div>
</textarea>
<textarea  id='scorePassedAlert'>
  <div class="scorePassedAlert">
    <div class="message">
      With ${friend.scores[scoreManager.gameMode]}, ${friend.name} passed your score!!
    </div>
    <div class="scorePassedCancel button">    
      OK
    </div>
  </div>
</textarea>


<textarea style="display:none;" id='topScorersddd'>
  <div id="gameModes">
    {for mode in scoreManager.gameModes}
        <span id="${mode}" {if mode == scoreManager.gameMode}
                            class="gameModeTab selected"  
                          {else}  
                            class="gameModeTab"
                          {/if} > 
          ${mode} 
        </span>                      
    {/for}
  </div>
</textarea>

