<textarea id="crowdMember-state" style="display:none">
  <div id="health">
    
  </div>
  <div id="hydration">
    
  </div>
</textarea>

<textarea style="display:none;" id='loadingScreen'>
  <div id="intro">
	    <img id="logo" src="${Loader.images.loading['logo.png'].src}"/>
		  <div id="loadingBarEmpty">
	  	  <div id="loadingBarLeft"> </div>
	   		<div id="loadingBarFill"> </div>
	    	<div id="loadingBarRight"> </div>
	 		</div>
  		<div id="fileName"> </div>
  		<div id="loadingPercentage"> </div>
  </div>
</textarea>


<textarea style="display:none;" id='friends'>
  <div  id="friends">
    <div>
      ${gameMode}
    </div>
    {for friend in friends}
    <div id="friend">
      <span> ${friend['scores'][gameMode]} </span>
      <span> ${friend['name']} </span>
    </div>
    {/for}
  </div>
</textarea>

<textarea style="display:none;" id='topScorers'>
  <div  id="topScorers">
    <div>
      ${gameMode}
    </div>
    {for user in topScorers}
    <div id="friend">
      <span> ${user['scores'][gameMode]} </span>
      <span> ${user['name']} </span>
    </div>
    {/for}
  </div>
</textarea>

