<link type="text/css" href="/city-defender/css/intro.css" rel="stylesheet" />

<script src="/javascripts/prototype.js"></script>
<script src="/javascripts/prototype.js"></script>

<div id="intro">
  <div id="levelSelection">
    <div id="levels">
      <div id="easy">
        Easy
      </div>
      <div id="medium">
        Medium
      </div>
      <div id="hard">
        Hard
      </div>
    </div>
  </div>

  <div id="challengeSelection">
  </div>

  <div id="challenges">
  </div>

  <div id="cityInfo">
  </div>

  <div id="towers">
  </div>

  <div id="weapons">
  </div>  

  <div id="upgrades">
  </div>

  <div id="creepInfo">
  </div>

</div>
