#send_requests {
  height: 40px;
  position: absolute;
  top: 685px;
  width: 780px;
  padding: 20px;
  background-color: lightBlue;
}

#inbox {
  height: 300px;
  position: absolute;
  top: 730px;
  width: 780px;
  padding: 20px;
  background-color: lightBlue;
}
