#scores{
  position : absolute;
  top : 540px;
  left : 0px;
  width : 780px;
  height : 200px;
  background : gray;
  padding : 20px;
}

#scores #scoringModes {
  position : absolute;
  height : 40px;
  width : 100%;
  left : 0px;
  top : 20px;
}
#scores #scoringModes .scoreTab {
  cursor: pointer;
  text-decoration: underline;
  display : inline-block;
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  height : 35px;
  text-align : center;
}
#scores #gameModes {
  position : absolute;
  height : 40px;
  width : 100%;
  left : 0px;
  top : 50px;
}
#scores .gameModeTab {
  cursor: pointer;
  text-decoration: underline;
  width: 100px;
  height : 25px;
  display : inline-block;
  text-align : center;
}
#scores #scoringModes .selected, #scores .selected {
  cursor : default;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

#scores .users {
  height: 150px;
  left: 35px;
  overflow: hidden;
  position: absolute;
  top: 100px;
  width: 740px;
}

#scores .users ul{
	width : 2000px;
	height :150px;			
	margin : 0px;
	padding : 0px;
}
#scores .users .left, #scores .users .right {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: 20px;
}
#scores .users .container {
  display: inline-block;
  width: 240px;
  overflow : hidden;
}

#scores .users li {
	float : left;
	list-style : none;			
  height: 10px;
  width: 120px;
}

#scores .user {
  height: 100px;
  width: 100px;
  margin: 10px;
  display : inline-block;
  vertical-align : top;
}

#scores .user .score {
  position: relative;
  background: none repeat scroll 0 0 gray;
  color: black;
  opacity: 0.5;
  text-align: center;
  width: 100px;
  top : 0px;
  height : 20px;
  z-index : 10;
}
#scores .user .name {
  position: relative;
  background: none repeat scroll 0 0 gray;
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
  top: -30px;
  width: 100px;
  height : 30px;
}
#scores .user img {
  position: relative;
  width : 100%;
  top : -20px;
}
#scores .notification {
  height: 25px;
  left: 75px;
  opacity: 0.9;
  position: relative;
  top: -150px;
  width: 25px;
  z-index: 10;
  -moz-border-radius : 10px;
  -webkit-border-radius : 10px;
  -o-border-radius : 10px;
  border-radius : 10px;
  cursor : pointer;
}
#scores .redNotification {
  background : red;
}
#scores .greenNotification {
  background : green;
}

#interaction{
  position : absolute;
  top : 0px;
  left : 0px;
  width : 760px;
  height : 500px;
}
#interaction .sendChallengePrompt, #interaction .scorePassedAlert {
  background: none repeat scroll 0 0 gray;
  border-radius: 20px 20px 20px 20px;
  height: 200px;
  left: 100px;
  opacity: 0.9;
  position: absolute;
  top: 100px;
  width: 560px;
  z-index : 1000;
}
#interaction .button {
  background: none repeat scroll 0 0 yellow;
  cursor: pointer;
  height: 30px;
  width: 100px;
  -moz-border-radius : 10px;
  -webkit-border-radius : 10px;
  -o-border-radius : 10px;
  border-radius : 10px;
  position: absolute;
  top: 130px;
  text-align : center;
}
#interaction .sendChallengOk {
  left: 300px;
}
#interaction .sendChallengCancel, #interaction .scorePassedCancel {
  left : 420px;
}
#interaction .message {
  position  : absolute;
  top : 40px;
  margin : 0px 20px;
  font-weight : bold;
}
