/*--------Friends Bar-----------*/
.friendsBar { float:left; width:739px; position:relative; margin:0 10px; }

.gameFunctions { float:right; width:161px; height:161px; position:relative; z-index:5; }
.gameFunctionsBackground { position:absolute; }

.crowdMenuItem { position:absolute; top:7px; left:27px; z-index:2; width:37px; height:36px; overflow:hidden; }
.crowdMenuItem:hover img { position:absolute; top:-36px; }

.marketplaceMenuItem { position:absolute; top:15px; left:83px; z-index:2; width:37px; height:36px; overflow:hidden; }
.marketplaceMenuItem:hover img { position:absolute; top:-36px; }

.rankMenuItem { position:absolute; top:59px; left:118px; z-index:2; width:37px; height:36px; overflow:hidden; }
.rankMenuItem:hover img { position:absolute; top:-36px; }

.voteMenuItem { position:absolute; top:113px; left:113px; z-index:2; width:37px; height:36px; overflow:hidden; }
.voteMenuItem:hover img { position:absolute; top:-36px; }

.homeMenuItem { position:absolute; top:61px; left:22px; z-index:2; width:82px; height:82px; overflow:hidden; }
.homeMenuItem:hover img { position:absolute; top:-82px; }

.friendsWrapper { float:right; width:542px; position:relative; top:48px; padding:0 0 0 5px; height:112px; }
.friend { display:inline-block; width:85px; position:relative; z-index:2; margin:5px 2px 0 2px; }
.friend a { font-weight:bold; color:#000; text-decoration:none; }
.friendAvatar { position:absolute; top:12px; left:12px; width:60px;}
.friendName { position:absolute; top:75px; left:5px; width:75px; text-align:center; display:inline-block;  text-shadow:1px 1px 0 #ffce57; }
.rankSign { position:absolute; width:25px; height:26px; top:70px; left:-4px; z-index: 10;}

.friendsWrapper .rightControls { display:inline-block; float:none; position:relative; top:20px; vertical-align:top; z-index:2; right:0px; overflow:hidden; height:72px;}
.friendsWrapper .leftControls { display:inline-block; float:none; position:relative; top:20px; vertical-align:top; z-index:2; left:0px; overflow:hidden; height:72px;}
.friendsWrapper .leftControls .left, .friendsWrapper .rightControls .right{height:33px; overflow:hidden; position:relative;}
.friendsWrapper .leftControls .first, .friendsWrapper .rightControls .last{height:33px; overflow:hidden; position:relative;}

.friendsWrapper .rightControls img.rightOff, .friendsWrapper .leftControls img.leftOff { position:absolute; top:0px; }
.friendsWrapper .rightControls img.rightOn, .friendsWrapper .leftControls img.leftOn { position:absolute; top:-33px; }

.floatingFriends { display:inline-block; width:278px; overflow:hidden; position:relative; top:3px; }
.floatingFriends ul { width:1200px; }
.floatingFriends li { display:inline-block; }

#friends {display:inline-block;}

.swithcingTabs { float:right; width:29px; position:relative; top:58px; }
.swithcingTabs ul li { position:relative; width:29px; height:36px; overflow:hidden; margin:0 0 2px 0;  }
.swithcingTabs ul li img { position:absolute; top:-36px;  }
.swithcingTabs ul li.selected img, .swithcingTabs ul li:hover img { position:absolute; top:0px;  }

.friendsScore { position:absolute; width:59px; height:32px; z-index:3; left:10px; top:-4px; }
.friendsScore span { position:relative; z-index:2; width:59px; height:17px; display:block; padding:3px 2px 2px 2px; text-align:center; text-shadow:1px 1px 0 #fffaae; color:#763d00; }

.inviteFriend { overflow:hidden; height:60px; left:0px; width:70px; height:60px;}

#scores{
  height: 180px;
  left: 0;
  position: absolute;
  top: 510px;
  width: 770px;
  padding: 0px 5px;
  z-index: 1000;
}
#scoresInProgress{
  background: none repeat scroll 0 0 black;
  height: 180px;
  left: 0;
  position: absolute;
  top: 510px;
  width: 770px;
  padding: 0px 5px;  
  z-index: 1000;
  opacity : 0.6;
  cursor : progress;
}

#scores .notification {
  height: 25px;
  left: 75px;
  opacity: 0.9;
  position: relative;
  top: -150px;
  width: 25px;
  z-index: 10;
  -moz-border-radius : 10px;
  -webkit-border-radius : 10px;
  -o-border-radius : 10px;
  border-radius : 10px;
  cursor : pointer;
}
#scores .redNotification {
  background : red;
}
#scores .greenNotification {
  background : green;
}

#interaction{
  position : absolute;
  top : 0px;
  left : 0px;
  width : 760px;
  height : 500px;
}
#interaction .sendChallengePrompt, #interaction .scorePassedAlert {
  background: none repeat scroll 0 0 gray;
  border-radius: 20px 20px 20px 20px;
  height: 200px;
  left: 100px;
  opacity: 0.9;
  position: absolute;
  top: 100px;
  width: 560px;
  z-index : 1000;
}
#interaction .button {
  background: none repeat scroll 0 0 yellow;
  cursor: pointer;
  height: 30px;
  width: 100px;
  -moz-border-radius : 10px;
  -webkit-border-radius : 10px;
  -o-border-radius : 10px;
  border-radius : 10px;
  position: absolute;
  top: 130px;
  text-align : center;
}
#interaction .sendChallengOk {
  left: 300px;
}
#interaction .sendChallengCancel, #interaction .scorePassedCancel {
  left : 420px;
}
#interaction .message {
  position  : absolute;
  top : 40px;
  margin : 0px 20px;
  font-weight : bold;
}
