<!-- Note that every template id is appended by "-template" when the templateManager.js load this file -->

<textarea style="display:none;" id='welcome'>
  <div id='welcomeMsg' style="display:none;">
    <img class="background" src="${Loader.images.quests['msgBg.png'].src}"/>
    <div class="msgBGImgs">
      <img class="wedge" src="${Loader.images.quests['wedge.png'].src}"/>
      <img class="bubble" src="${Loader.images.quests['msgBaloon.png'].src}"/>
    </div>
    <div class="close" onclick="Animation.hide('msg'); game.questsManager.handleQuests();">
    </div>
    <div class="okButtonWrapper">
      <div class="alignDiv"> </div>
      <div class="okButton" onclick="Animation.hide('msg'); game.questsManager.handleQuests();">
        <img class="okImage" src="${Loader.images.quests['button.png'].src}"/>
        <div class="okText yellowText"> OK </div>
      </div>
    </div>
    <div class="text blueText">
      <span> Welcome </span>
      <span  class="name">${userName}</span>
      <span>,</span>
      <div> I will help you to get started on your base.</div>
    </div>
  </div>
</textarea>

<textarea style="display:none;" id='quest'>
  <div id='questScreen' style="display:none;">
    <img class="background" src="${Loader.images.quests['questBg.png'].src}"/>
    <div class="close" onclick="Animation.hide('questDisplay');">
    </div>
    <div class="title">
      <span class="text yellowText"> ${quest.title} </span>
    </div>
    <div class="conditions">
      <div class="container">
      {for building in quest.conditions.buildings}
        {for condition in building}
          <div class="condition">          
            <div class="image">
              <div class="alignDiv" style="width:30px;"></div>
              <img src="${Loader.images.icons[building_index+'.png'].src}"/>        
            </div>
            <div class="desc">
              <div class="text"> 
                {if quest['status']['buildings'][building_index][condition_index]['status'] < 1 }
                <div class="condMsg blueText"> ${quest['conditionMsgs'][building_index][condition_index]} </div>
                <div class="condStatus"> 
                  ${quest['status']['buildings'][building_index][condition_index]['value']} /
                  ${quest['status']['buildings'][building_index][condition_index]['target']}
                </div>
                {else}
                <div class="condMsg redText"> ${quest['conditionMsgs'][building_index][condition_index]} </div>
                <div class="condStatus"> 
                  <img style="width:28px;" src="${Loader.images.quests['correct.png'].src}"/>
                </div>
                {/if}
              </div>
            </div>
          </div>
        {/for}
      {/for}
      {for condition in quest.conditions.resources}
        <div class="condition">          
          <div class="image">
            <div class="alignDiv" style="width:30px;"></div>
            <img src="${Loader.images.icons[condition_index+'.png'].src}"/>        
          </div>
          <div class="desc">
            <div class="text"> 
              {if quest['status']['resources'][condition_index]['status'] < 1 }
              <div class="condMsg blueText"> ${quest['conditionMsgs'][condition_index]} </div>
              <div class="condStatus"> 
                ${quest['status']['resources'][condition_index]['value']} /
                ${quest['status']['resources'][condition_index]['target']}
              </div>
              {else}
              <div class="condMsg redText"> ${quest['conditionMsgs'][condition_index]} </div>
              <div class="condStatus"> 
                <img style="width:28px;" src="${Loader.images.quests['correct.png'].src}"/>
              </div>
              {/if}
            </div>
          </div>
        </div>
      {/for}
      </div>
    </div>
    <div class="descriptionWrapper">
      <div class="description">
        <div class="alignDiv" style="width:85px;"></div>
        <div class="bubble">
          <img src="${Loader.images.quests['questBaloon.png'].src}"/>
          <div class="bubbleText blueText">
            <div style="display : table-cell;vertical-align:middle;height: 82px;"> ${quest.description} </div>
          </div>
        </div>
      </div>
      <div class="wedge">
        <div class="alignDiv" style="height: 1px;width: 42px;"></div>
        <img  src="${Loader.images.quests['hover.png'].src}"  />
        <img  src="${Loader.images.quests['circles.png'].src}"  class="circle"/>
        <img  src="${Loader.images.quests[game.questsManager.categories[quest['category']]+'.png'].src}" class="wedgeImg"/>
        <div class="text"> ${game.questsManager.categories[quest['category']]} </div>
      </div>
      <div class="okButtonWrapper">
        <div class="alignDiv"> </div>
        <div class="okButton" onclick="Animation.hide('questDisplay');" >
          <img class="okImage" src="${Loader.images.quests['button.png'].src}"/>
          <div class="okText yellowText"> OK </div>
        </div>
      </div>
    </div>
  </div>
</textarea>

<textarea style="display:none;" id='congrates'>
  <div id='congratesMsg' style="display:none;">
    <img class="background" src="${Loader.images.quests['msgBg.png'].src}"/>
    <div class="msgBGImgs">
      <img class="wedge" src="${Loader.images.quests['wedge.png'].src}"/>
      <img class="bubble" src="${Loader.images.quests['msgBaloon.png'].src}"/>
    </div>
    <div class="close" onclick="Animation.hide('congratesMsg'); game.questsManager.ackCongratesMsgs(${msg['id']});"> </div>
    <div class="okButtonWrapper">
      <div class="alignDiv"> </div>
      <div class="okButton" ackId="${msg['id']}" onclick="Animation.hide('congratesMsg'); game.questsManager.ackCongratesMsgs(${msg['id']});">
        <img class="okImage" src="${Loader.images.quests['button.png'].src}"/>
        <div class="okText yellowText"> OK </div>
      </div>
    </div>
    <div class="alignDiv" style="width : 20%;"> </div>
    <div class="msg">
      <div class="header">
        <span> Congratulations: </span>
      </div>
      <div class="text blueText">
        <span> ${msg['text']} </span>
      </div>
      <div class="alignDiv" style="width : 55%;"> </div>
      <div class="rewards">
          {for reward in msg['data']['rewards'] }
          <div class="reward"> 
            <img  class="${reward_index}" src="${Loader.images.quests['resources.png'].src}"/>
            ${reward}
          </div>
          {/for}
      </div>
    </div>
    
  </div>
</textarea>

<textarea style="display:none;" id='empty-quest'>
  <div id='emptyQuest' style="display:none;">
    <img class="background" src="${Loader.images.quests['msgBg.png'].src}"/>
    <div class="msgBGImgs">
      <div class="wedge">
        <img  src="${Loader.images.quests['hover.png'].src}" class="shadow"/>
        <img  src="${Loader.images.quests['circles.png'].src}"  class="circle"/>
        <img  src="${Loader.images.quests[category+'.png'].src}"/>
      </div>
      <img class="bubble" src="${Loader.images.quests['msgBaloon.png'].src}"/>
    </div>
    <div class="close" onclick="Animation.hide('msg');"> </div>
    <div class="okButtonWrapper">
      <div class="alignDiv"> </div>
      <div class="okButton" ackId="${msg['id']}" onclick="Animation.hide('msg');">
        <img class="okImage" src="${Loader.images.quests['button.png'].src}"/>
        <div class="okText yellowText"> OK </div>
      </div>
    </div>
    <div class="alignDiv" style="width : 20%;"> </div>
    <div class="text blueText">
      ${msg}
      <div  class="noQuestText redText">${msg2}</div>
    </div>
    
  </div>
</textarea>

<textarea style="display : none;" id="quests-list">
  {for category in game.questsManager.categories}
  {if questsList[category]}
  <div class="wedge clickable" id="${questsList[category]}">
    <div class="alignDiv" style="height: 1px;width: 42px;" ></div>
    <img  src="${Loader.images.quests['hover.png'].src}" class="shadow"/>
    <img  src="${Loader.images.quests['animated_circles.gif'].src}"  class="circle"/>
    <img  src="${Loader.images.quests[category+'.png'].src}" class="wedgeImg"/>
    <div class="text"> ${category} </div>
  </div>
  {else}
  <div class="wedge empty" id="${category}">
    <div class="alignDiv" style="height: 1px;width: 42px;"></div>
    <img  src="${Loader.images.quests['hover.png'].src}" class="shadow"/>
    <img  src="${Loader.images.quests['circles.png'].src}"  class="circle"/>
    <img  src="${Loader.images.quests[category+'.png'].src}" class="wedgeImg"/>
    <div class="text"> ${category} </div>
  </div>
  {/if}
  {/for}
</textarea>


<!-- THIS PART IS NOT RELATED TO QUESTS .. IT IS THE BUILDING PANEL & HANDLING -->
<textarea style="display:none;" id='buildings-panel'>
  <div id='buildingsPanel'>
    <div class="buildings">
      {for building in buildings}
        <div id="${building_index}" 
             onmouseout="$('${building_index}_info').hide();$('${building_index}_image').setStyle({height:'75px'})" 
             onmouseover="$('${building_index}_info').show();$('${building_index}_image').setStyle({height:'90px'})"
             class="item">     
          <div  class="itemData" onclick="Animation.hide('buildingDisplay');game.buildingsManager.build('${building_index}')">  
          </div>
		 <span imgId="${building_index}_image"  class="loadedImg" imgClasses="background" imgSrc="images/quests/${building_index}_info.png">
		  </span>    
        </div>
      {/for}
    </div>
  </div>
  {for building in buildings}
    <div class="buildingInfo" id="${building_index}_info" style="display:none;">
      <div class="buildingName">${building_index}</div>
      <img class="resourcesNeeded" src="images/quests/resources_needed_for_building.png"><img>
      <div class="cost">
        <div class="text"> 
          {if building['lumber']}
            ${building['lumber']}
          {else}
            0
          {/if}
        </div>
        <div class="text"> 
          {if building['rock']}
            ${building['rock']}
          {else}
            0
          {/if}
        </div>
        <div class="text"> 
          {if building['coins']}
            ${building['coins']}
          {else}
            0
          {/if}
        </div>
      </div>
    </div>
  {/for}
  <img class="buildingPanelBg" src="${Loader.images.quests['buildingPanelBg.png'].src}"/>
  <img class="wedgesBg" src="${Loader.images.quests['wedgesBg.png'].src}" />
  <img class="buildingsBg" src="${Loader.images.quests['buildingsBg.png'].src}" />
  <img class="buildingPanelLine" src="images/quests/line.png"/>
  <div id="leftArrow" class="leftArrowContainer">
    <img style="margin-left:0;" src="images/quests/arrows_horizontal.png"/>
   </div>
  <div id="rightArrow" class="rightArrowContainer">
    <img style="margin-left:-90px;" src="images/quests/arrows_horizontal.png"/>
  </div>
  <div id="buildingsTrigger" onclick='$$(".buildingsBg")[0].setStyle({zIndex:10});$$(".wedgesBg")[0].setStyle({zIndex:0});$("buildingsPanel").setStyle({zIndex:11})'>Buildings</div>
  <div id="wedgesTrigger" onclick='//$$(".buildingsBg")[0].setStyle({zIndex:0});$$(".wedgesBg")[0].setStyle({zIndex:10});$("buildingsPanel").setStyle({zIndex:0})'>Wedges</div>
  <div id="closeBuildingPanel" onclick="Animation.hide('buildingDisplay');"></div>
</textarea>

