<textarea id="research-panel">
  
  <div id="researchBuildings" class="researchBuildings">
    
    <div class="left">
      <img class="leftOff" src="images/quests/arrows_horizontal.png" />
    </div>
    
    <div id="research-buildings-container" class="container">
      <ul id='researches-ul'>
        {for research in researches}
          <li>
            <div id="${research_index}" class="item" 
            {if (disabled.indexOf(research_index) < 0)}
               onmouseout="$('${research_index}_info').hide();
                           $('${research_index}_image').setStyle({height:'75px'});
                           $('${research_index}_image_hover').hide();
                           $('${research_index}_image_arrow').hide()"
                           
               onmouseover="$('${research_index}_info').show();
                            $('${research_index}_image').setStyle({height:'90px'});
                            $('${research_index}_image_hover').show();
                            $('${research_index}_image_arrow').show()"
              {else}
               onmouseout="$('${research_index}_info').hide();
                           $('${research_index}_image').setStyle({height:'75px'});
                           $('${research_index}_image_hover').hide();
                           $('${research_index}_image_arrow').hide();
                           $('${research_index}_msg').hide();
                           $('${research_index}_msg_text').hide();"
                           
               onmouseover="$('${research_index}_info').show();
                            $('${research_index}_image').setStyle({height:'90px'});
                            $('${research_index}_image_hover').show();
                            $('${research_index}_image_arrow').show();
                            $('${research_index}_msg').show();
                            $('${research_index}_msg_text').show();"
              {/if} >
              
              {if (disabled.indexOf(research_index) < 0)}
                <div class="itemData" onclick="game.research.start('${research_index}')"></div>
                <span imgId="${research_index}_image" 
                      class="loadedImg"
                      imgClasses="background"
                      imgSrc="images/researches/${research_index}.png">
                </span>
              {else}
                <div class="itemData" style="cursor: default;"></div>
                <span imgId="${research_index}_image"
                      class="loadedImg"
                      imgClasses="background"
                      imgSrc="images/researches/${research_index}_disabled.png">
                </span>
                <div id="${research_index}_msg" class="disabledMsgBackground blueText" style="display:none;"> </div>
                <div id="${research_index}_msg_text" class="disabledMsgText blueText" style="display:none;"> ${research.msg} </div>
              {/if}
              
              <div id="${research_index}_ongoing" class="ongoingResearch redText" style="display:none;">
                <span id="${research_index}TimeLeftText"></span>
              </div>
              
              <span imgId="${research_index}_image_hover" class="loadedImg" imgClasses="hover" imgSrc="images/quests/building_hover.png" hidden="true"></span>
              <span imgId="${research_index}_image_arrow" class="loadedImg" imgClasses="hoverArrow"
                    imgSrc="images/quests/building_hover_arrow.png" hidden="true">
              </span>
            </div>
          </li>
        {/for}
        <li>
          <div class="item">
            <div class="itemData" style="cursor:auto;"> </div>
            <span class="loadedImg" imgSrc="images/quests/empty.png" imgClasses="background" ></span>
          </div>
        </li>
      </ul>
    </div>
    
    <div class="right">
      <img class="rightOff" src="images/quests/arrows_horizontal.png" />
    </div>
  </div>
  
  <div id="researchMilitary"></div>
  
  {for research in researches}
    <div class="researchInfo" id="${research_index}_info" style="display:none;">
      <div class="researchName">${research_index}</div>
      <div class="researchDetails">
        <div class="researchDesc">NA</div>
        <div class="researchCost">     
          <span class="loadedImg" imgClasses="resourcesNeeded" imgSrc="images/quests/resources_needed_for_building.png">
          </span>
          <div class="cost">
            <div class="text">
              {if research.needs.lumber}
                ${research.needs.lumber}
              {else}
                0
              {/if}
            </div>
            <div class="text">
              {if research.needs.rock}
                ${research.needs.rock}
              {else}
                0
              {/if}
            </div>
            <div class="text">
              {if research.needs.coins}
                ${research.needs.coins}
              {else}
                0
              {/if}
            </div>
            <div class="text">
              {if research.needs.time}
                ${Util.timeDisplay(research.needs.time)}
              {else}
                0
              {/if}
            </div>
          </div>
        </div>
      </div>
    </div>
  {/for}
  <span class="loadedImg" imgClasses="buildingPanelBg flippedImg" imgSrc="images/quests/buildingPanelBg.png"></span>
  <span class="loadedImg" imgClasses="wedgesBg flippedImg" imgSrc="images/quests/wedgesBg.png"></span>
  <span class="loadedImg" imgClasses="buildingsBg flippedImg" imgSrc="images/quests/buildingsBg.png"></span>
  <span class="loadedImg" imgClasses="buildingPanelLine" imgSrc="images/quests/line.png"></span>
  
  <div class="triggers">
    <div id="researchBuildingsTrigger" class="researchPanelTriggers activeTrigger text-shadow" onclick="Javascript:void(0);">
      ${Text.labels.buildings}
    </div>
    <div id="researchMilitaryTrigger" class="researchPanelTriggers inactiveTrigger text-shadow" onclick="Javascript:void(0);">
      ${Text.labels.military}
    </div>
  </div>
  
  <div class="closeContainer">
    <div class="alignDiv" style="width:87%;"> </div>
    <div id="closeResearchPanel"  onclick="Animation.hide('researchDisplay');"></div>
  </div>
</textarea>




<!-- creep panel -->
<textarea id="creep-panel">
  <div id="creeps" class="creeps">
    <div class="left">
      <img class="leftOff" src="images/quests/arrows_horizontal.png" />
    </div>
    
    <div id="creeps-container" class="container">
      <ul id='creeps-ul'>
        {for creep in creeps}
          <li>
            <div id="${creep_index}" class="item" 
            {if (disabled.indexOf(creep_index) < 0)}
               onmouseout="$('${creep_index}_info').hide();
                           $('${creep_index}_image').setStyle({height:'75px'});
                           $('${creep_index}_image_hover').hide();
                           $('${creep_index}_image_arrow').hide()"
                           
               onmouseover="$('${creep_index}_info').show();
                            $('${creep_index}_image').setStyle({height:'90px'});
                            $('${creep_index}_image_hover').show();
                            $('${creep_index}_image_arrow').show()"
              {else}
               onmouseout="$('${creep_index}_info').hide();
                           $('${creep_index}_image').setStyle({height:'75px'});
                           $('${creep_index}_image_hover').hide();
                           $('${creep_index}_image_arrow').hide();
                           $('${creep_index}_msg').hide();
                           $('${creep_index}_msg_text').hide();"
                           
               onmouseover="$('${creep_index}_info').show();
                            $('${creep_index}_image').setStyle({height:'90px'});
                            $('${creep_index}_image_hover').show();
                            $('${creep_index}_image_arrow').show();
                            $('${creep_index}_msg').show();
                            $('${creep_index}_msg_text').show();"
              {/if} >
              
              {if (disabled.indexOf(creep_index) < 0)}
                <div class="itemData" onclick="game.creepPanel.generateCreep('${creep_index}')"></div>
                <span imgId="${creep_index}_image" 
                      class="loadedImg"
                      imgClasses="background"
                      imgSrc="images/creeps/${creep_index}_button.png">
                </span>
              {else}
                <div class="itemData" style="cursor: default;"></div>
                <span imgId="${creep_index}_image"
                      class="loadedImg"
                      imgClasses="background"
                      imgSrc="images/creeps/${creep_index}_button_disabled.png">
                </span>
                <div id="${creep_index}_msg" class="disabledMsgBackground blueText" style="display:none;"> </div>
                <div id="${creep_index}_msg_text" class="disabledMsgText blueText" style="display:none;"> ${creep.msg} </div>
              {/if}
              
              <div id="${creep_index}_ongoing" class="ongoingCreep redText" style="display:none;">
                <span id="${creep_index}TimeLeftText"></span>
              </div>
              
              <span imgId="${creep_index}_image_hover" class="loadedImg" imgClasses="hover" imgSrc="images/quests/building_hover.png" hidden="true"></span>
              <span imgId="${creep_index}_image_arrow" class="loadedImg" imgClasses="hoverArrow"
                    imgSrc="images/quests/building_hover_arrow.png" hidden="true">
              </span>
            </div>
          </li>
        {/for}
        <li>
          <div class="item">
            <div class="itemData" style="cursor:auto;"> </div>
            <span class="loadedImg" imgSrc="images/quests/empty.png" imgClasses="background" ></span>
          </div>
        </li>
      </ul>
    </div>
    
    <div class="right">
      <img class="rightOff" src="images/quests/arrows_horizontal.png" />
    </div>
    
  </div>
      <div id="creepInProgress" class="item">
                {if queue.size == 0}
                    <span class="loadedImg" imgId="inPorgressCreep "imgSrc="images/quests/empty.png" imgClasses="background" ></span>
                {else}
                    <span class="loadedImg" imgId="inPorgressCreep" imgSrc="images/creeps/${queue['creep']}_button.png" imgClasses="background" ></span>
                    <div id="InProgressProperties">
                      <div id="queueSize">${queue.size}</div>
                      <span class="loadedImg" imgId="inPorgressCancel" imgSrc="images/creeps/cancel.png" imgClasses="background" ></span>
                    </div>
                    <div id="remainingTime">${Util.timeDisplay(queue.remaining_time)}</div>
                    {if queue.stopped }
                       <div id="garageError">Build more garages</div>
                    {/if}
                {/if}    
              <div class="alignDiv" style="width:79%;"> </div>
     </div>
   {for creep in creeps}
    <div class="creepInfo" id="${creep_index}_info" style="display:none;">
      <div class="creepName">${creep_index}</div>
      <div class="creepDetails">
        <div class="creepDesc">hello world my</div>
        <div class="creepCost">     
          <span class="loadedImg" imgClasses="resourcesNeeded" imgSrc="images/quests/resources_needed_for_building.png">
          </span>
          <div class="cost">
            <div class="text">
              {if creep.needs.lumber}
                ${creep.needs.lumber}
              {else}
                0
              {/if}
            </div>
            <div class="text">
              {if creep.needs.rock}
                ${creep.needs.rock}
              {else}
                0
              {/if}
            </div>
            <div class="text">
              {if creep.needs.coins}
                ${creep.needs.coins}
              {else}
                0
              {/if}
            </div>
            <div class="text">
              {if creep.needs.time}
                ${Util.timeDisplay(creep.needs.time)}
              {else}
                0
              {/if}
            </div>
          </div>
        </div>
      </div>
    </div>
  {/for}
  <span class="loadedImg" imgClasses="buildingPanelBg flippedImg" imgSrc="images/quests/buildingPanelBg.png"></span>
  <span class="loadedImg" imgClasses="buildingsBg flippedImg" imgSrc="images/quests/buildingsBg.png"></span>
  <span class="loadedImg" imgClasses="buildingPanelLine" imgSrc="images/quests/line.png"></span>
  
  <div class="triggers">
    <div id="creepTrigger" class="creepPanelTriggers activeTrigger" onclick="Javascript:void(0);">
      ${Text.labels.creeps}
    </div>
  </div>
  
  <div class="closeContainer">
    <div class="alignDiv" style="width:87%;"> </div>
    <div id="closeCreepPanel"  onclick="Animation.hide('creepDisplay');"></div>
  </div>
</textarea>