<!-- Note that every template id is appended by "-template" when the templateManager.js load this file -->
<textarea id="building-remaining-time">
    <span class="">${remainingTime}</span>
</textarea>
<textarea id="townhall-panel">
    <div class="building-presentation">
        <span>Townhall</span>
        <img src="images/buildings/townhall.png">
        </img>
    </div>{if buildingInProgress}<span class="building-in-progress">Building in progress</span>
    {else}
    <div class="building-functions">
        <div id="townhall-hire-worker">
            <span style="font-size: 14px;">Train a worker</span>
            <button id="buy_worker_trigger" style="margin-left: 5px;">
                +
            </button>
            <span>for</span>
            <span>${coins}</span>
            <img style="width: 19px;" src="images/icons/coins.png">
        </div>
        <div id="townhall-build-new-building">
            <div id="build-quarry" class="townhall-new-building">
                <img class="icon" src="images/buildings/quarry.png">
                </img><span>Quarry</span>
            </div>
            <div id="build-mine" class="townhall-new-building">
                <img class="icon" src="images/buildings/mine.png">
                </img><span class="new-building-name">Mine</span>
            </div>
        </div>
    </div>
    {/if}
</textarea>

<textarea id="mine-panel">
    <div class="building-presentation">
        <span>Mine</span>
        <img src="images/buildings/mine.png">
        </img>
    </div>
    {if building.inProgress()}
    <span class="building-in-progress">Building in progress</span>
    {else}
    <div class="building-functions">
        <div id="mine-assign-worker">
            <span style="">Assign a worker</span>
            <button id="assign_worker_trigger" style="margin-left: 5px;">
                +
            </button>
        </div>
        <span>
          Collection workers : ${building.assignedWorkers} / ${building.maxWorkers}
        </span>
    </div>
    {/if}
</textarea>

<textarea id="resource-amount-display">
  ${amount} <span title="+${resourcePerMinute} per minute">(+${resourcePerMinute})</span>
</textarea>

<textarea id="quarry-panel">
    <div class="building-presentation">
        <span>Quarry</span>
        <img src="images/buildings/quarry.png">
        </img>
    </div>
    {if building.inProgress()}
    <span class="building-in-progress">Building in progress</span>
    {else}
    <div class="building-functions">
        <div id="quarry-assign-worker">
            <span style="">Assign a worker</span>
            <button id="assign_worker_trigger" style="margin-left: 5px;">
                +
            </button>
        </div>
        <span>
          Collection workers : ${building.assignedWorkers} / ${building.maxWorkers}
        </span>
    </div>
    {/if}
</textarea>
<textarea id="friend-record">
  <a style="font-size: 13px;" href="Javascript:game.loadUserEmpire(${friendId})">${friendName}</a>
</textarea>
<textarea id="notification">
  <div class="notification_message_container">
    <span>${notification_message}</span>
    <button id="${id}" class="notification_ok">OK</button>
  </div>
</textarea>