<!-- Note that every template id is appended by "-template" when the templateManager.js load this file -->
<textarea id="building-remaining-time">
    <span class="">${remainingTime}</span>
</textarea>
<textarea id="townhall-panel">
    {if building.inProgress()}
      <span class="building-in-progress">Building in progress</span>
    {else}
      <div class="building-functions">
      </div>
    {/if}
</textarea>

<textarea id="lumbermill-panel">
    {if building.inProgress()}
      <span class="building-in-progress">Building in progress</span>
    {else}
      <div class="building-functions">
          <span class="desc">
            workers: ${building.assignedWorkers}/${building.maxWorkers}
          </span>
      </div>
    {/if}
</textarea>

<textarea id="resource-amount-display">
  ${amount}
</textarea>

<textarea id="quarry-panel">
    {if building.inProgress()}
      <span class="building-in-progress">Building in progress</span>
    {else}
      <div class="building-functions">
        <span class="desc">
          workers: ${building.assignedWorkers}/${building.maxWorkers}
        </span>
      </div>
    {/if}
</textarea>

<textarea id="friend-record">
  <li title='Visit' class='friend' onclick="Javascript:game.loadUserEmpire(${friendId})">
    <img src="images/friends/1st_blank.png" />
    <img class='photo' src='http://graph.facebook.com/${serviceId}/picture' />	
    <div class='name' >${friendName.split(' ')[0]}</div>
  </li>
</textarea>
<textarea id="notification">
  <div class="notification_message_container">
    <span>${notificationMessage}</span>
    <button id="${id}" class="notification_ok">OK</button>
  </div>
</textarea>

<textarea style="display:none;" id='progress'>
     <div class='progressBarContainer'>
       <div class='progressBar'>
       </div>
     </div>
     <div class="progressAction" style="display:none;"></div>
     <div class='progressTime' ></div>
</textarea>

<textarea style="display:none;" id='workers-in-game-panel'>
     <span id="idleWorkersGameElement">${idleWorkers}</span> / <span id="totalWorkersGameElement">${totalWorkers}</span>
</textarea>

<textarea style="display:none;" id='alert'>
  <div id='alertMsg'>
    <img class="background" src="${Loader.images.quests['msgBg.png'].src}"/>
    <div class="msgBGImgs">
      <img class="wedge" src="${Loader.images.quests['wedge.png'].src}"/>
      <img class="bubble" src="${Loader.images.quests['msgBaloon.png'].src}"/>
    </div>
    <div class="close" onclick="Animation.hide('alertMsg');">
    </div>
    <div class="okButtonWrapper">
      <div class="okButton" onclick="Animation.hide('alertMsg')">
        <img class="okImage" src="${Loader.images.quests['button.png'].src}"/>
        <div class="okText yellowText"> OK </div>
      </div>
    </div>
    <div class="text blueText">
      <span>${message}</span>
    </div>
  </div>
</textarea>


<textarea style="display:none;" id='repair'>
  <div id='repairMsg'>
    <img class="background" src="${Loader.images.quests['msgBg.png'].src}"/>
    <div class="msgBGImgs">
      <img class="wedge" src="${Loader.images.quests['wedge.png'].src}"/>
      <img class="bubble" src="${Loader.images.quests['msgBaloon.png'].src}"/>
    </div>
    <div class="close" onclick="Animation.hide('repairMsg')">
    </div>
    <div class="okButtonWrapper">
      <div class="okButton" onclick="Animation.hide('repairMsg');game.buildingMode.repair();">
        <img class="okImage" src="${Loader.images.quests['button.png'].src}"/>
        <div class="okText yellowText"> Repair </div>
      </div>
    </div>
    <div class="text blueText">
      <span>${message}</span>
    </div>
  </div>
</textarea>

<textarea style="display:none;" id='attackNotification'>
  <div id='attackNotificationrMsg'>
    <img class="background" src="${Loader.images.quests['msgBg.png'].src}"/>
    <div class="msgBGImgs">
      <img class="wedge" src="${Loader.images.quests['wedge.png'].src}"/>
      <img class="bubble" src="${Loader.images.quests['msgBaloon.png'].src}"/>
    </div>
    <div class="close" onclick="Animation.hide('attackNotificationrMsg'); game.questsManager.ackCongratesMsgs(${msg['id']});">
    </div>
    <div class="okButtonWrapper">
      <div class="okButton" onclick="Animation.hide('attackNotificationrMsg'); game.questsManager.ackCongratesMsgs(${msg['id']});">
        <img class="okImage" src="${Loader.images.quests['button.png'].src}"/>
        <div class="okText yellowText"> Ok </div>
      </div>
    </div>
    <div class="text blueText">
      <span>${msg.text}</span>
    </div>
  </div>
</textarea>



<textarea style="display:none;" id='gameElements'>
 	   <div class="topGameElement" id="rock_game_element">
 	   	<span class="loadedImg" imgSrc ="images/game_elements/upper_bar.png"></span>
        <span id="rock-amount" ></span>
		  	<div class="resourceBarEmpty" id="rockBar">
	  	  		<div class="resourceBarLeft"> </div>
	   			<div class="resourceBarMiddle"> </div>
	    		<div class="resourceBarRight"> </div>
	 		</div>
      </div>
      <div class="topGameElement" id="lumber_game_element">
      	<span class="loadedImg" imgSrc ="images/game_elements/upper_bar.png"></span>
		 <span id="lumber-amount" ></span>	
		<div class="resourceBarEmpty" id="lumberBar">
	  	  		<div class="resourceBarLeft"> </div>
	   			<div class="resourceBarMiddle"> </div>
	    		<div class="resourceBarRight"> </div>
	 		</div>
      </div>
      
      <div class="topGameElement" id="xp_bar">
        <span class="loadedImg" imgSrc ="images/game_elements/upper_bar.png"></span>
      </div>
      
	  	<div class="topGameElement" id="coins_game_element">
	  		<span class="loadedImg" imgSrc ="images/game_elements/upper_bar.png"></span>
				<span id="coins-amount" ></span>
        <span class="loadedImg" imgId="add_coins" imgSrc ="images/game_elements/button.png"></span>
        <span id="add-coins-text"> Add </span>
	  	</div>
			<div class="topGameElement" id="workers_game_element">
				<span class="loadedImg" imgSrc ="images/game_elements/upper_bar.png"></span>
				<span id="workers-amount"></span>
        <span class="loadedImg" imgId="hire_worker" imgSrc ="images/game_elements/button.png"></span>
        <span id="hire-worker-text"> Hire </span>
			</div>
			
			<div class="gameElement" id="monitor" style="display:none;">
				<span class="loadedImg" imgSrc ="images/game_elements/monitor.png"></span>
			</div>
			
			<div  class="gameElement" id="monitorGlass" style="display:none;"></div>
			<div  class="gameElement" id="monitorButton" style="display:none;"></div>
			
	    <div class="gameElement" id="cancelBuilding" style="display:none;">
			<span class="loadedImg" imgSrc ="images/game_elements/cancel.png"></span>
		</div>

    <div id="rewardsContainer" style="display:none;"></div>
			 <div id="mapView">
		<span class="loadedImg" imgSrc ="images/friends/bar.png"></span>
        <div id="friends">
          <div class="left" class="leftOff">
            <img src="" />
          </div> 
          <div id="friends-container" class="container">
            <ul id='friends-ul'>
            </ul>
          </div>
          <div class="right" class="rightOff">
            <img src="" />
          </div>
        </div>
      </div>
      <div id="home" style="display:none;" onclick="Javascript:game.reInitialize(function(){game.scene.render()})">
          <span class="loadedImg" imgSrc ="images/friends/1st_blank.png"></span>
          <div class="photoContainer">
            <img class='photo' src="${Loader.images.buildings['townhall.png'].src}"/>
          </div>	
          <div class='name'>Home</div>
        </div>
			<div id="attackDiv" style="display:none;">
				<div id ="attackTxt"> Warning: base under attack</div>
			</div>
  	  <div id="gameSceneContainer">
    		<div id="gameCanvas">
				</div>
	    </div>
      <div id="building-remaining-time" style="display:none;"></div>
      
      <div id="building-panel" style="display:none;">
	  <div id="panel-buttons-container"></div>
	  	<div class="menuContainer">
			<div class="menuTop">
			</div>
			<div class="menuBody">
			</div>
			<div class="menuBottom">
			</div>
		</div>
        
      </div>
      
      <div id="workers-panel" style="display:none;">
        <div id="worker-panel-image-container">
          <img src="images/worker/worker_image.png"></img>
        </div>
        <div id="workers-panel-contents">
        </div>
      </div>
		
  	<div id="controlPanel">
  	  <div id="openControl" opened="false"></div>
  		<span class="loadedImg" imgId="controlsBackground" imgSrc ="images/game_elements/panel_background.png"></span>
		<div class="controlContainer" id="sound">
			<span class="loadedImg" imgClasses="controlHover" imgStyle="display:none;" imgSrc ="images/game_elements/hover.png"></span>
			<span class="loadedImg" imgClasses="controlButton" imgSrc ="images/game_elements/control_button.png"></span>
			<span class="loadedImg" imgClasses="controlClicked" imgStyle="display:none;" imgSrc ="images/game_elements/button_clicked.png"></span>
			<span class="loadedImg" imgClasses="controlClick" imgStyle="display:none;" imgSrc ="images/game_elements/click.png"></span>
			<span class="loadedImg" imgClasses="controlImg" imgSrc ="images/game_elements/sound.png"></span>
		</div>
		<div class="controlContainer" id="move">
			<span class="loadedImg" imgClasses="controlHover" imgStyle="display:none;" imgSrc="images/game_elements/hover.png"></span>
			<span class="loadedImg" imgClasses="controlButton" imgSrc ="images/game_elements/control_button.png"></span>
			<span class="loadedImg" imgClasses="controlClick" imgStyle="display:none;" imgSrc ="images/game_elements/click.png"></span>
			<span class="loadedImg" imgClasses="controlImg" imgSrc ="images/game_elements/move.png"></span>
		</div>
		<div class="controlContainer" id="zoom">
			<span class="loadedImg" imgClasses="controlHover" imgStyle="display:none;" imgSrc ="images/game_elements/hover.png"></span>
			<span class="loadedImg" imgClasses="controlButton" imgSrc ="images/game_elements/control_button.png"></span>
      <span class="loadedImg" imgClasses="controlClicked" imgStyle="display:none;" imgSrc ="images/game_elements/button_clicked.png"></span>
			<span class="loadedImg" imgClasses="controlClick" imgStyle="display:none;" imgSrc ="images/game_elements/click.png"></span>
			<span class="loadedImg" imgClasses="controlImg" imgSrc ="images/game_elements/zoom.png"></span>
		</div>
		<div class="controlContainer" id="music"> 
			<span class="loadedImg" imgClasses="controlHover" imgStyle="display:none;" imgSrc ="images/game_elements/hover.png"></span>
			<span class="loadedImg" imgClasses="controlButton" imgSrc ="images/game_elements/control_button.png"></span>
			<span class="loadedImg" imgClasses="controlClicked" imgStyle="display:none;" imgSrc ="images/game_elements/button_clicked.png"></span>
			<span class="loadedImg" imgClasses="controlClick" imgStyle="display:none;" imgSrc ="images/game_elements/click.png"></span>
			<span class="loadedImg" imgClasses="controlImg" imgSrc ="images/game_elements/music.png"></span>
		</div>
	</div>	
      <div id="buildButton" style="display:none;">
	      <span class="loadedImg" imgSrc ="images/game_elements/build_button.png"></span>
        <div id="buildText" class="yellowText"> build </div>
      </div>
      
      <div id="sendAttack">
        <span class="loadedImg" imgSrc ="images/game_elements/button.png"></span>
        <div id="sendAttackText" class="yellowText"> Attack </div>
      </div>
      <div id="side-bar"> 
        <div id="quest-panel" style="display:none;"></div>      
        <div id="rewardsBag"></div>
      </div>
      <div id="neighborRewardsBag" class="clickable"></div>
      <div id="interaction" style="display:none;">    
        <div id="msg" style="display:none;"> </div>
        <div id="questDisplay" style="display:none;"> </div>
        <div id="buildingDisplay" style="display:none;"> </div>
        <div id="alert" style="display:none;"> </div>
				<div id="notify" style="display:none;"> </div>
      </div>
      <div id="reset" class="resetAccount">
        <span class="loadedImg" imgSrc ="images/game_elements/button.png"></span>
        <div id="resetText" class="yellowText" onclick="game.network.resetEmpire();"> Reset </div>
      </div>
      <div id="languageSelector" class="languageSelector">
        {for language in Language.langsNames}
          <div  id='${language[0]}' class="yellowText" onclick="game.selectLanguage('${language[0]}')"> ${language[1]} </div>
        {/for}
      </div>
      <div id="hand" style="display:none;position:absolute;z-index:11;">
        <span class="loadedImg" imgSrc ="images/quests/cursor.png"></span>
      </div>
			
</textarea>

<textarea style="display:none;" id='worker-menu-contents'>
  <div id="worker-panel-resources-img-container">
    <img src="images/quests/resources_needed_for_building.png">
  </div>
  <div id="worker-panel-cost" {if workerFactory.notEnoughCoins()} class="red" {/if}>
    <span>${workerFactory.nextWorkerCost()}</span>
  </div>
  <div id="worker-panel-hire-limit">
    <span title="Build more houses to increase this limit">Total allowed : ${workerFactory.totalWorkersAllowed()}</span>
  </div>
  {if workerFactory.notEnoughHousing(true)}
  <div id="not-enough-housing" class="red">
    Not enough housing
  </div>
  {/if}
  <div id="hire-worker-button">
    <img {if !workerFactory.validateBuyWorker(true)} class="disabled" {/if} src="images/buildings/panel/buttons.png">
    <span>Hire</span>
  </div>
</textarea>


<textarea style="display:none;" id='upgrade-button'>
  <div class="panel-button hovered" id="upgrade_trigger">
    <span>Upgrade</span>
    <img src="${Loader.images.panel['buttons.png'].src}">
  </div>
</textarea>

<textarea style="display:none;" id='move-button'>
  <div class="panel-button" id="move_trigger">
    <span>Move</span>
    <img src="${Loader.images.panel['buttons.png'].src}">
  </div>
</textarea>


<textarea style="display:none;" id='resource-building-buttons'>
  <div class="panel-button" id="collect_resource_trigger">
    <span>Collect</span>
    <img src="${Loader.images.panel['buttons.png'].src}">
  </div>
  <div class="panel-button" id="assign_worker_trigger">
    <span>worker</span>
    <img src="${Loader.images.panel['buttons.png'].src}">
  </div>
</textarea>

<textarea style="display:none;" id='loadingScreen'>
  <div id="intro">
	    <img id="logo" src="${Loader.images.loading['logo.png'].src}"/>
		  <div id="loadingBarEmpty">
	  	  <div id="loadingBarLeft"> </div>
	   		<div id="loadingBarFill"> </div>
	    	<div id="loadingBarRight"> </div>
	 		</div>
  		<div id="fileName"> </div>
  		<div id="loadingPercentage"> </div>
  </div>
</textarea>

<textarea id="menuUpgrade" style="display:none;">
	<div id="upgradeDesc" class="menuItem">
		{if maxUpgrade}
			You have reached maximum upgrade. 
		{else}
			<div id="upgradeTitle"> Upgrade to level ${level}.</div>
		   <img class="resourcesImg" src='images/buildings/panel/resources.png' />
		   <div class="resourcesValue">
		   		{if rock.valid}
			   		<div class="resourceElement rock"> ${rock.value} </div>
				{else}	
					<div class="resourceElement rock invalid"> ${rock.value} </div>
				{/if}
				{if lumber.valid}
			   		<div class="resourceElement wood"> ${lumber.value} </div>
				{else}
					<div class="resourceElement wood invalid"> ${lumber.value} </div>
				{/if}
				
			   <div class="resourceElement gold"> ${gold} </div>
			   <div class="resourceElement time"> ${time} </div>
		   </div>
		   {if requirements.length > 0}
			   <div id="requirements">
			     <div class="title"> Requirements </div>
				 <ul>
				    {for requirement in requirements}
						{if requirement.valid}
							<li>
							 <span class="requirementKey"> ${requirement.building} </span>
							 <span class="requirementValue">Level ${requirement.level} </span>
							</li>
						{else}
							<li>
							 <span class="requirementKey invalid"> ${requirement.building} </span>
							 <span class="requirementValue invalid">Level ${requirement.level} </span>
							</li>
						{/if}
					{/for}
				 </ul>
			   </div>
		   {/if}
       {if gains.length > 0}
  		   <div id="gains">
  		     <div class="title"> Gains </div>
  			   <ul>
    			 	{for gain in gains}
      				<li>
      				 <span class="gainKey"> ${gain.name}: </span>
      				 <span class="gainValue"> From ${gain.from} to ${gain.to}</span>
      				</li>
    				{/for}
  			   </ul>
  		   </div>
       {/if}
		   <div id="errorMessages">
			   {if workersNotEnough}
			   		<div id="workers" class="invalid">
			   			All your workers are busy.
					</div>	
			   {/if} 
			   {if notEnoughResources}
			   		<div id="resources" class="invalid">
			   			Not enough resources.
					</div>
			   {/if}
			   
			   {if dependenciesInvalid}
			   		<div id="dependencies" class="invalid">
			   			Requirements are not satisfied. 
					</div>
			   {/if}
		   </div> 
		{/if}   	
    </div>
</textarea>

<textarea id="menuMove" style="display:none;">
	<div id="moveDesc" class="menuItem">
		Click to move the building. 
	</div>
</textarea>

<textarea id="menuCollect" style="display:none;">
	<div id="collect_resourceDesc" class="menuItem">
		Click to collect the resources. 
	</div>
</textarea>
<textarea id="menuWorker" style="display:none;">
	<div id="assign_workerDesc" class="menuItem">
		Click to assign worker. 
	</div>
</textarea>

<textarea id="collectAnimation" style="display:none;">
<div class="collectionAnimation">
	<img src='images/icons/${building_name}_icon.png'><div id="text"> ${Math.round(collected)} </div>
</div>
</textarea>

<textarea id="neighborCollectAnimation" style="display:none;">
<div class="collectionAnimation" id="neighborCollect">
	<span class="loadedImg" imgSrc='images/rewards/reward_icon.png'></span>
</div>
</textarea>

<textarea id="reward-bags" style="display:none;">
  <div class="clickable">
    <div class="alignDiv" style="height: 1px;width: 42px;" ></div>
    <span class="loadedImg" imgSrc ="images/quests/hover.png" imgClasses="shadow"></span>
    <span class="loadedImg" imgSrc ="images/quests/animated_circles.gif" imgClasses="circle"></span>
    <span class="loadedImg" imgSrc ="images/rewards/reward_notification.png" imgClasses="mainImg"></span>
    <div class="number"> ${game.rewardsPanel.bagCount()} </div>
  </div>
</textarea>

<textarea id="neighbor-reward-bags" style="display:none;">
  <div class="clickable">
    <div class="alignDiv" style="height: 1px;width: 42px;" ></div>
    <span class="loadedImg" imgSrc ="images/rewards/yellow_bag.png" imgClasses="mainImg"></span>
    <div class="number"> ${game.rewardsPanel.bagCount()} </div>
  </div>
</textarea>


<textarea id="rewards" style="display:none;">
	   <div id = "rewards">
		{for reward in rewards}
			{if reward.id}
			<div class="reward" id="${reward.id}">
			   <div class="closeRewards"> X </div> 
			   <div class="rewardValue">
				   <div class="rewardElement rock">
				      <img class="rewardsImg" src='images/game_elements/rock_reward.png' /> ${reward.reward_data.rock} 
				   </div>
				   <div class="rewardElement wood">
					 <img class="rewardsImg" src='images/game_elements/lumber_reward.png' /> ${reward.reward_data.lumber}
				   </div>					
				   <div class="rewardElement gold"> 
					<img class="rewardsImg" src='images/game_elements/gold_reward.png' /> ${reward.reward_data.gold}
				   </div>
			    </div>
				<div class="rewardControl useReward">
				  ${buttons.use}
				</div>
				<div class="rewardControl back">
				  ${buttons.back}
				</div>
				<div class="rewardControl next">
				  ${buttons.next}
				</div>
			</div>
			{/if}
	    {/for}
		</div>
	</textarea>
