<!-- Note that every template id is appended by "-template" when the templateManager.js load this file -->
<textarea id="building-remaining-time">
    <span class="">${remainingTime}</span>
</textarea>
<textarea id="townhall-panel">
    {if buildingInProgress}
      <span class="building-in-progress">Building in progress</span>
    {else}
      <div class="building-functions">
        <div id="townhall-hire-worker">
          <span style="font-size: 14px;">Train a worker</span>
          <button id="buy_worker_trigger" style="margin-left: 5px;">
              +
          </button>
          <span>for</span>
          <span>${coins}</span>
          <img style="width: 19px;" src="images/icons/coins.png">
        </div>
      </div>
    {/if}
</textarea>

<textarea id="lumbermill-panel">
    {if building.inProgress()}
      <span class="building-in-progress">Building in progress</span>
    {else}
      <div class="building-functions">
          <div id="lumbermill-assign-worker">
              <span style="">Assign</span>
              <button id="assign_worker_trigger" style="margin-left: 5px;">
                  +
              </button>
          </div>
          <span class="desc">
            workers: ${building.assignedWorkers}/${building.maxWorkers}
          </span>
          <div id="lumbermill-collect">
              <span style="">Collect</span>
              <button id="collect_resources_trigger" style="margin-left: 5px;">
                  +
              </button>
          </div>
          <span class="desc">
            ${building.resource()}
          </span>
      </div>
    {/if}
</textarea>

<textarea id="resource-amount-display">
  ${amount} <!--span title="+${resourcePerMinute} per minute">(+${resourcePerMinute})</span-->
</textarea>

<textarea id="quarry-panel">
    {if building.inProgress()}
      <span class="building-in-progress">Building in progress</span>
    {else}
      <div class="building-functions">
          <div id="quarry-assign-worker">
              <span style="">Assign</span>
              <button id="assign_worker_trigger" style="margin-left: 5px;">
                  +
              </button>
          </div>
          <span class="desc">
            workers: ${building.assignedWorkers}/${building.maxWorkers}
          </span>
          <div id="quarry-collect">
              <span style="">Collect</span>
              <button id="collect_resources_trigger" style="margin-left: 5px;">
                  +
              </button>
          </div>
          <span class="desc">
            ${building.resource()}
          </span>
      </div>
    {/if}
</textarea>

<textarea id="friend-record">
  <li title='Visit' class='friend' onclick="Javascript:game.loadUserEmpire(${friendId})">
    <img src="images/friends/1st_blank.png" />
    <img class='photo' src='http://graph.facebook.com/${serviceId}/picture' />	
    <div class='name' >${friendName.split(' ')[0]}</div>
  </li>
</textarea>
<textarea id="notification">
  <div class="notification_message_container">
    <span>${notification_message}</span>
    <button id="${id}" class="notification_ok">OK</button>
  </div>
</textarea>

<textarea style="display:none;" id='progress'>
     <div class='progressBarContainer'>
       <div class='progressBar'>
       </div>
     </div>
     <div class='progressTime'></div>
</textarea>

<textarea style="display:none;" id='workers-in-game-panel'>
     <span id="idleWorkersGameElement">${idleWorkers}</span> / <span id="totalWorkersGameElement">${totalWorkers}</span>
</textarea>

<textarea style="display:none;" id='alert'>
  <div id='alertMsg'>
    <img class="background" src="${Loader.images.quests['msgBg.png'].src}"/>
    <div class="msgBGImgs">
      <img class="wedge" src="${Loader.images.quests['wedge.png'].src}"/>
      <img class="bubble" src="${Loader.images.quests['msgBaloon.png'].src}"/>
    </div>
    <div class="close" onclick="$('alertMsg').hide();">
    </div>
    <div class="okButtonWrapper">
      <div class="okButton" onclick="$('alertMsg').hide();">
        <img class="okImage" src="${Loader.images.quests['button.png'].src}"/>
        <div class="okText yellowText"> OK </div>
      </div>
    </div>
    <div class="text blueText">
      <span>${message}</span>
    </div>
  </div>
</textarea>


<textarea style="display:none;" id='repair'>
  <div id='alertMsg'>
    <img class="background" src="${Loader.images.quests['msgBg.png'].src}"/>
    <div class="msgBGImgs">
      <img class="wedge" src="${Loader.images.quests['wedge.png'].src}"/>
      <img class="bubble" src="${Loader.images.quests['msgBaloon.png'].src}"/>
    </div>
    <div class="close" onclick="$('alertMsg').hide();">
    </div>
    <div class="okButtonWrapper">
      <div class="okButton" onclick="$('alertMsg').hide();game.buildingMode.repair();">
        <img class="okImage" src="${Loader.images.quests['button.png'].src}"/>
        <div class="okText yellowText"> Repair </div>
      </div>
    </div>
    <div class="text blueText">
      <span>${message}</span>
    </div>
  </div>
</textarea>


<textarea style="display:none;" id='gameElements'>
 			<div class="topGameElement" id="rock_game_element">
        <img src="${Loader.images.game_elements['upper_bar.png'].src}" />
        <span id="rock-amount" ></span>
      </div>
      <div class="topGameElement" id="lumber_game_element">
        <img src="${Loader.images.game_elements['upper_bar.png'].src}" />
        <span id="lumber-amount" ></span>
      </div>
      
      <div class="topGameElement" id="xp_bar">
        <img src="${Loader.images.game_elements['upper_bar.png'].src}" />
      </div>
      
	  	<div class="topGameElement" id="coins_game_element">
	  		<img src="${Loader.images.game_elements['upper_bar.png'].src}" />
				<span id="coins-amount" ></span>
	  	</div>
			<div class="topGameElement" id="workers_game_element">
				<img src="${Loader.images.game_elements['upper_bar.png'].src}" />
				<span id="workers-amount" ></span>
			</div>
			
			<div class="gameElement" id="monitor" style="display:none;">
				<img src="${Loader.images.game_elements['monitor.png'].src}" />
			</div>
			
			<div style="display:none;" class="gameElement" id="monitorGlass"></div>
			<div style="display:none;" class="gameElement" id="monitorButton"></div>
			
	    <div class="gameElement" id="cancelBuilding" style="display:none;">
	    		<img src="${Loader.images.game_elements['cancel.png'].src}" />
			</div>
			 <div id="mapView">
			 	<img id="friendsBackground" src="images/friends/bar.png">
        <div id="friends">
          <div class="left">
            <img src="" />
          </div> 
          <div id="friends-container" class="container">
            <ul id='friends-ul'>
            </ul>
          </div>
          <div class="right">
            <img src="" />
          </div>
        </div>
        <div id="home" onclick="Javascript:game.reInitialize(function(){game.scene.render()})">
          <img src="${Loader.images.friends['1st_blank.png'].src}" />
          <div class="photoContainer">
            <img class='photo' src="${Loader.images.buildings['townhall.png'].src}"/>
          </div>	
          <div class='name'>Home</div>
        </div>
      </div>
      
			<div id="attackDiv" style="display:none;">
				<div id ="attackTxt"> warning you are under attack</div>
			</div>
  	  <div id="gameSceneContainer">
    		<div id="gameCanvas">
				</div>
	    </div>
      <div id="building-remaining-time" style="display:none;"></div>
      
      <div id="building-panel" style="display:none;">
        <div id="panel-buttons-container">
          <div id="upgrade_trigger" class="panel-button">
            <span>Upgrade</span>
            <img src="${Loader.images.panel['buttons.png'].src}">
          </div>
        </div>
        
        <div id="building-panel-contents"></div>
        
      </div>
      
      <div id="establish-townhall-container" style="display:none;">
        <span>Establish your town</span>
        <div id="establish-townhall">
          <img id="establish-townhall-img" src="${Loader.images.buildings['townhall.png'].src}"></img>
        </div>
      </div>

      <div id="buildButton" style="display:none;">
        <img src="${Loader.images.quests['button.png'].src}"/>
        <div id="buildText" class="yellowText"> build </div>
      </div>
      
      <div id="sendAttack">
        <img src="${Loader.images.quests['button.png'].src}"/>
        <div id="sendAttackText" class="yellowText"> attack me </div>
      </div>
      
      <div id="quest-panel" style="display:none;"></div>
      <div id="interaction" style="display:none;">    
        <div id="msg" style="display:none;"> </div>
        <div id="questDisplay" style="display:none;"> </div>
        <div id="buildingDisplay" style="display:none;"> </div>
        <div id="alert" style="display:none;"> </div>
				<div id="notify" style="display:none;"> </div>
      </div>
      
      <div id="hand" style="display:none;position:absolute;z-index:11;">
        <img src="${Loader.images.quests['cursor.png'].src}"></img>
      </div>
			
</textarea>

<textarea style="display:none;" id='loadingScreen'>
	    <img id="logo" src="${Loader.images.loading['logo.png'].src}"/>
		  <div id="loadingBarEmpty">
	  	  <div id="loadingBarLeft"> </div>
	   		<div id="loadingBarFill"> </div>
	    	<div id="loadingBarRight"> </div>
	 		</div>
  		<div id="fileName"> </div>
  		<div id="loadingPercentage"> </div>
</textarea>