<form id="user_actions" action="/users" method="post">
  <a href="#" onclick="document.getElementById('create_room').submit(); return false;">Sign up </a>
  <a href="#" onclick="document.getElementById('create_room').submit(); return false;">Sign in </a>
</form>


