body{
	padding : 0px;
	margin : 0px;
	background: #000;
}

#gameContainer{
	/*-webkit-transform: rotate(90deg);
	-moz-transform: scale(0.8)*/
}

#gameContainer {
	padding-top: 0px;
	position : relative;
	width : 760px;
	height: 550px;
	bottom: 0px;
	/*margin-left:auto;
	margin-right:auto;*/
	font-family : verdana;
}

#gameElements{
	visibility:hidden;
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
	background-image: url('../images/background/l_shape.png');
}

#result{
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
	font-size : 18px;
	font-weight : normal;
	font-family : verdana;
	color : #fff;
	vertical-align:middle;
	z-index : 101;
}

#result #stats{
	position: absolute;
	width: 250px;
	left: 80px;
	top: 334px;
	height: 120px;
}

#result.win{
	background-image: url('../images/background/win.png');
}

#result.lose{
	background-image: url('../images/background/lose.png');
}


#splashScreen{
	width : 760px;
	height: 550px;
	position: absolute;
	top:0px;
	left:0px;
	z-index : 101;
	background-image: url('../images/background/interface.png');
}

#splashScreen .loading_bar_bg{
	width : 280px;
	height: 40px;
	position: absolute;
	left:240px;
	top: 430px;
	background-image: url('../images/background/loading_bar_down.png');
}

#splashScreen .loading_bar_bg #loading_bar{
	position: absolute;
	height:36px;
	left :0px;
	top: 0px;
	width: 0%;	
	background-image: url('../images/background/loading_bar_up.png');
}

#gameElements .fps{
	position:absolute;
	top:8px;
	left:60px;
	font-weight: bold;
}

#gameElements .rank{
	position:absolute;
	top:10px;
	left:656px;
	width:87px;
	height:71px;
	background-image: url('../images/background/rank.png');	
}

#gameElements .start{
	position:absolute;
	top:479px;
	left:0px;
	width:144px;
	height:72px;
	background-image: url('../images/background/start.png');		
}

#gameElements .start.paused{
	background-image: url('../images/background/resume.png');		
}

#gameElements .start.resumed{
	background-image: url('../images/background/pause.png');		
}

#gameElements .upgrades{
	position:absolute;
	top:486px;
	left:150px;
	height:60px;
	width:610px;
}

#gameElements .upgrades .upgradesBar{
	float: left;
	width:351px;
	height:60px;
	background-image: url('../images/background/upgrades_bar.png');		
}

#gameElements .upgrades .upgradeItems{
	float: left;
	margin-left: 5px;
	width:248px;
	height:60px;
	/*background-image: url('../images/background/upgrades_bar.png');*/		
}

#gameElements .upgrades .upgradeItems .upgradeItem{
	float:left;
	margin-left: 1px;
	margin-bottom: 1px;
	width:61px;
	height:29px;
	background-image: url('../images/background/upgrade_button_inactive.png');
	opacity:0.75;
}

#gameElements .upgrades .upgradeItems .upgradeItem:hover{
	opacity:1.0;
}

#gameElements .upgrades .upgradeItems .upgradeItem.active{
	background-image: url('../images/background/upgrade_button_active.png');		
}

#gameElements .upgrades .upgradeItems .upgradeItem.bullets{
	background-image: url('../images/background/bullets_upgrade_button.png');		
}

#gameElements .upgrades .upgradeItems .upgradeItem.rockets{
	background-image: url('../images/background/rockets_upgrade_button.png');		
}

#gameElements .upgrades .upgradeItems .upgradeItem.shields{
	background-image: url('../images/background/shields_upgrade_button.png');		
}


#gameElements .upgrades .upgradeItems .upgradeItem.selected{
	background-image: url('../images/background/upgrade_button_selected.png');		
}

#gameElements .towers{
	position : absolute;
	top : 128px;
	left: 665px;
	width: 94px;
	height: 180px;
}

#gameElements .towers div{
	float:left;
	width:44px;
	height:43px;
	margin-right: 3px;
	margin-bottom: 2px;
	background-image: url('../images/background/mystry_button.png');			
}

#gameElements .towers div.tower1{
	background-image: url('../images/background/tower_1_button.png');				
}

#gameElements .towers div.tower2{
	background-image: url('../images/background/tower_2_button.png');				
}

#gameElements .towers div.rocketLauncher{
	background-image: url('../images/background/rocket_launcher_button.png');				
}

#gameElements .towers div.patriot{
	background-image: url('../images/background/patriot_button.png');				
}


#gameElements .towerInfo{
	position:absolute;
	top:360px;
	left:641px;
	width: 104px;
	height: 112px;
	background-image: url('../images/background/tower_info.png');		
	font-family : verdana;
	font-size : 10px;
	padding: 4px;
	padding-left: 8px;
	color:white;
}

#gameElements .towerInfo table{
	padding:0px;
	margin: 0px;
	margin-top: 0px;
	width:104px;
	border:none;
}

#gameElements .towerInfo th{
	border:none;
	/*color: white;*/
	font-weight:bold;
	text-align :left;
	padding: 0px;
	margin: 0px;
	line-height: 9px;
	font-size : 10px;
}
#gameElements .towerInfo td{
	border:none;
	/*color: #fc0;*/
	font-weight:bold;
	text-align :left;
	padding: 0px;
	padding-left:4px;
	margin: 0px;
	line-height: 9px;
	width: 80%;
	font-size : 10px;
}
#gameElements .towerInfo tr:nth-child(odd)    { color : #fc0; }

#gameElements .towerInfo h4{
	margin:0px;
	margin-top : 4px;
	margin-bottom: 0px;
	font-size : 12px;
	color: #fc0;
}

#money{
	position:absolute;
	top:98px;
	left: 672px;
	width: 88px;
	height: 42px;
	color : orange;
	font-size: 12px;
	font-weight: bold;
}

#gameElements .diagram{
	position:absolute;
	top:6px;
	left: 62px;
	width: 48px;
	height: 42px;
	background-position: right;
	background-repeat: no-repeat;
}

#gameElements .diagram.tower{
	background-image: url('../images/background/tower1 outline.png');
}

#gameElements .diagram.doubleTower{
	background-image: url('../images/background/tower4 outline.png');
}

#gameElements .diagram.rocketLauncher{
	background-image: url('../images/background/tower3 outline.png');
}

#gameElements .diagram.patriot{
	background-image: url('../images/background/tower2 outline.png');
}

#gameElements .superWeapons{
	width:45px;
	height:120px;
	position:absolute;
	top: 115px;
	left: 615px;
	z-index: 100;
}

#gameElements .superWeaponsOff{
	width:45px;
	height:120px;
	position:absolute;
	top: 115px;
	left: 615px;
	z-index: 99;
}

#gameElements .superWeapons div{
	position: relative;
	width: 45px;
	height: 43px;
	margin-bottom:2px;
	color: black;
}

#gameElements .superWeapons div div{
	font-family : tahoma;
	position: absolute;
	color: #FFD32E;
	font-size: 10px;
	font-weight: bold;
	top : 2px;
	left: -12px;
	background-color: #094A67;
	width: 8px;
	padding: 2px;
	height: 12px
}

#gameElements .superWeapons div div#splash{
	top : 14px;
}

#gameElements .superWeaponsOff div{
	width: 45px;
	height: 43px;
	margin-bottom:2px;
}

#gameElements .superWeapons div.splash{
	height: 56px;
	background-image: url('../images/background/splash_button.png');		
}

#gameElements .superWeapons div.heal{
	background-image: url('../images/background/heal_button.png');		
}


#gameElements .superWeapons div.hyper{
	background-image: url('../images/background/hyper_button.png');		
}

#gameElements .superWeapons div.weak{
	background-image: url('../images/background/weak_button.png');		
}

#gameElements .superWeapons div.nuke{
	background-image: url('../images/background/nuke_button.png');		
}

#gameElements .superWeaponsOff div.splash{
	height: 56px;
	background-image: url('../images/background/splash_button_off.png');		
}

#gameElements .superWeaponsOff div.heal{
	background-image: url('../images/background/heal_button_off.png');		
}


#gameElements .superWeaponsOff div.hyper{
	background-image: url('../images/background/hyper_button_off.png');		
}

#gameElements .superWeaponsOff div.weak{
	background-image: url('../images/background/weak_button_off.png');		
}

#gameElements .superWeaponsOff div.nuke{
	background-image: url('../images/background/nuke_button_off.png');		
}


#gameElements .superWeaponsOff div.nuke{
	background-image: url('../images/background/nuke_button_off.png');
}

#gameElements .controls{
	position:absolute;
	top:5px;
	left:5px;
	width:50px;
	height:200px;
	z-index : 101;
}

#gameElements .controls div{
	height: 36px;
	width: 36px;
	margin-bottom: 4px;
	opacity : 0.8;
}

#gameElements .controls .sound.on{
	width: 40px;
	margin-left: 3px;
	background-image: url('../images/background/sound_on_button.png');			
}

#gameElements .controls .sound.off{
	
}

#gameElements .controls .like{
	width: 40px;
	background-image: url('../images/background/like_button.png');			
}

#gameElements .controls .bookmark{
	margin-left: 4px;
	background-image: url('../images/background/bookmark_button.png');			
}

#gameElements .status{
	position: absolute;
	top:-1px;
	left:160px;
	width:365px;
	height:28px;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-image: url('../images/background/status_bar.png');				
	/*opacity : 0.8;*/
}

#gameElements .status .score{
	position:absolute;
	left:190px;
	top: 1px;
	width:78px;
	height:13px;
}

#gameElements .status .lives{
	position:absolute;
	left:315px;
	top: 1px;
	width:40px;
	height:13px;
}

#gameElements .status .waves{
	position:absolute;
	left:55px;
	top: 1px;
	width:40px;
	height:13px;
}


#canvasHeader{
	background: #2b2;
	padding: 8px;
	height: 20px;
	font-weight: bold;
	font-size: 16px;
	color: white;
}

#canvasHeader #escaped{
	margin-right: 30px;
}

#canvasFooter{
	margin-top : -5px;
	background: #2b2;
	padding: 4px;
	position: relative;
	height: 36px;
}

#canvasContainer{
	width:736px;
	height: auto;
	position: relative;
	background-image: url('../images/background/path.png');
	visibility:hidden;
}

#gameContainer canvas#gameForeground{
	position :absolute;	
	top : 0px;
	left: 0px;
}

#gameContainer canvas#droppingGround{
	position :absolute;	
	top : 0px;
	left: 0px;
}

#gameContainer #towers{
	position : relative;
	padding: 2px;
	height:32px;
	float :  left;
}

#gameContainer #creeps {
	position : relative;
	left: 36px;
	padding: 2px;
	width:32px;
	height:32px;
	float: right;
	padding-right : 32px;
}

#gameContainer #towers .frame{
	position : relative;
	width:34px;
	height:34px;
	float: left;
	margin-right: 6px;
}

#gameContainer #towers img{
	display : block;
	position : absolute;
	top: 1px;
	left: 1px;
}

#gameContainer #towers .selected{
	background-color: white;
}


#gameContainer #creeps img.top{
	top	: 17px;
	left : 	19px;
}


#gameContainer #creeps img{
	display : block;
	position : absolute;
	top : 2px;
}

canvas.turret{
	cursor : none
}

#unitData {
	padding: 4px;
	background: #ee9;
	height : 106px;
}

#unitData td{
	font-weight: bold;
	font-size: 12px;
	margin: 4px;
	padding: 4px;
	background : #cc7;
	width: 150px;
}

#audio {
	display : none;
}