@font-face {
  font-family: "Adlib";
  src: url("/city-defender/css/fonts/ADLIB.TTF");
}

.game-init
{
  height : 560px;
  background : url("/city-defender/images/user/background.png") no-repeat scroll 0 0 ;
  text-align : center;
}

.game-init img
{
  height : 500px;
}

.game_init campaign
{
  background : url("/city-defender/images/user/user-backk.png") no-repeat scroll 0 0 ;
  
}

#user
{
  margin : 10px 0px;
  overflow : auto;
}

#user .friend
{
  background:url("/city-defender/images/user/user.png") repeat scroll 0 0 transparent;
  float:left;
  height:100px;
  margin:5px;
  width:80px;
}

#user .name
{
  color : #ffee00;
  text-align : center;
  font-family : Adlib;
  font-size : 13px;
  height : 15px;
  text-shadow : 2px 2px 2px #ff9900;
}

#user .pic 
{
  border:1px solid #FF9900;
  height:48px;
  margin:0 15px;
  width:48px;
}

#user .image
{
  border : none;
  overflow : hidden;
}

#user .order
{
  color : #FFEE00;
  font-family : Adlib;
  font-size : 13px;
  font-weight : bold;
  margin-left : 15px;
  margin-right : 15px;
  margin-top : -4px;
  text-shadow : 2px 2px 2px #cc7700;
}

#user .order-text
{
  display : inline;
}

#user .rank
{
  color : #FFEE00;
  font-family : Adlib;
  font-size : 14px;
  float : right;
  margin-top : -3px;
  font-weight : bold;
}

#user .score
{
  color : #FFEE00;
  font-family : Adlib;
  font-size : 15px;
  font-weight : bold;
  margin : 4px 15px;
  text-align : center;
}

