<div id="backLink">   
  <a href="/<%=AdminController::ADMIN_URL%>/">
    Back
  </a>
</div>
<div class="label">Add New Game</div>
<form id="new_game" action="/<%=AdminController::ADMIN_URL%>/" method="post" enctype="multipart/form-data">
  <div class="form_row">  
    <LABEL for="name">Name</LABEL>
    <INPUT type="text" id="name" name='name'><BR>
  </div>
  <div class="form_row">
    <LABEL for="description">Description</LABEL>
	  <textarea name='description' type="text"></textarea>  
  </div>	  
  <div class="form_row">
    <input type="submit" value="Save" class="submit"/>
  </div>
</form> 

