<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Studio South Africa 2010 </title>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/effects.js"></script>
  <script src="/javascripts/application.js"></script>
  
  <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
	<style>

	</style>

</head>
<body>
		<div id="header">
		  <div id="logo"> </div>
		  <div>
		    Studio South Africa 2010
		  </div>
	  </div>
		<div id="main">
		  <div id="main-side" >
		    <div>
          <a href="/<%=AdminController::ADMIN_URL%>" class="home_link">Home</a>
        </div>
        <%= yield %>
  		</div>
		</div>
		<div id="footer">About | Jobs | Other</div>

</body>
</html>
