@font-face {
  font-family: "Adlib";
  src: url("fonts/ADLIB.TTF");
}
@font-face {
  font-family: "Lds";
  src: url("fonts/LDS_typoderm.ttf");
}
@font-face {
  font-family: "Showg";
  src: url("fonts/SHOWG.TTF");
}

#buildButton {
  bottom: -6px;
  cursor: pointer;
  height: 60px;
  position: absolute;
  right: 163px;
}

#buildButton.hover {
  bottom: 0;
  right: 170px;
}

#buildButton img {
  width: 90%;
}

#buildButton.hover img {
  width: 100%;
}

#buildButton #buildText{
  color: white;
  cursor: pointer;
  display: block;
  font-family: showg;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  text-align: center;
  text-shadow: -3px -3px 1px black;
  top: -35px;
  left: -1px;
}

#buildButton.hover #buildText{
  top: -38px;
  left: 0;
  font-size: 15px;
}

#interaction {
  position: absolute;
  top: 0px;
  left: 0px
  height : 550px;
  width : 760px;
  font-family : Lds;
  z-index : 1000;
}
#interaction .title {
  color: white;
  font-family: Showg;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 0px #5A3815;
  text-transform: uppercase;
}
/* CSS for aligned buttons that should work with both LTR, RTL */
#interaction .okButtonWrapper {
  position: absolute;
  left : 0px;
  height: 55px;
  width: 100%;
  z-index : 10;
}
  /* Each aligned button should set a width to this div according to desired position of button */
#interaction .alignDiv {
  height : 100%;
  display:inline-block;
}

#interaction #buildingsPanel {
  height: 150px;
  left: 140px;
  overflow: hidden;
  position: absolute;
  top: 140px;
  width: 530px;
  z-index : 12;
}

#interaction .buildingInfo {
  left: 135px;
  position: absolute;
  top: 265px;
  z-index: 11;
  width: 540px;
  height: 120px;
}

#interaction .buildingInfo .buildingName {
  color: white;
  font-family: showg;
  font-size: 25px;
  text-align: center;
  text-shadow: -2px 2px 1px black;
}
    
#interaction #buildingsPanel .buildings {
  position: absolute;
  z-index: 11;
}
#interaction .buildingPanelBg {
  margin-left: 105px;
  margin-top: 61px;
  position : relative;
}

#interaction .buildingsBg {
  top: 70px;
  left: 114px;
  position: absolute;
}

#interaction .wedgesBg {
  top: 70px;
  left: 114px;
  position: absolute;
}

#interaction #closeBuildingPanel {
  cursor: pointer;
  height: 35px;
  position: absolute;
  right: 80px;
  top: 105px;
  width: 40px;
  z-index: 10;
}

#interaction .buildingPanelTriggers {
  color: #fff78c;
  cursor: pointer;
  height: 40px;
  line-height: 48px;
  text-align: center;
  width: 150px;
  z-index: 10;
  text-shadow: -1px 2px 1px black;
  font-family: showG;
}

#interaction .inactiveTrigger {
  font-size: 20px;
}

#interaction .activeTrigger {
  font-size: 22px;
}

#interaction #defenseTrigger {
  left: 300px;
  position: absolute;
  top: 70px;
}

#interaction #buildingsTrigger {
  left: 150px;
  position: absolute;
  top: 70px;
}
    
#interaction #buildingsPanel .item {
  float: left;
  height: 130px;
  width: 80px;
  margin : 14px 4px 3px 4px;
  overflow: visible;
  position: relative;
  text-align: center;
}

#interaction .buildingPanelLine {
  position: absolute;
  top: 250px;
  left: 135px;
  z-index : 10;
}

#interaction #buildingsPanel .item .background {
  position : relative;
  top : -130px;
  height : 75px;
  float : none;
  z-index : 100;
}
#interaction #buildingsPanel .item .hover {
  position : relative;
  top : -232px;
  left : -8px;
  width : 98px;
  float : none;
  z-index : 50;
}
#interaction #buildingsPanel .item .hoverArrow {
  float: none;
  position: absolute;
  top: 90px;
  width: 46px;
  z-index: 120;
  left: 21px;
}

#interaction #buildingsPanel .item .itemData {  
  cursor: pointer;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 200;
}
#interaction #buildingsPanel .item .itemData .name {  
  font-size: 17px;
  height: 20px;
  padding-top: 5px;
  text-transform: capitalize;
}
#interaction #buildingsPanel .item .itemData .image{  
  height : 74px;
}
#interaction #buildingsPanel .item .disabledMsgBackground{  
  background: white;
  border-radius: 8px 8px 8px 8px;
  font-family: verdana;
  font-size: 11px;
  height: 90px;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  width: 82px;
  z-index: 200;
}
#interaction #buildingsPanel .item .disabledMsgText{  
  font-family: verdana;
  font-size: 11px;
  height: 80px;
  position: absolute;
  text-shadow: 0 1px 1px #326479;
  font-weight : bold;
  top: 5px;
  width: 82px;
  z-index: 200;
}
#interaction #buildingsPanel .item .itemData .image img{  
  width: 68px;
  height: 74px;
}

#interaction #buildingDisplay .cost {
    color: white;
    left: 343px;
    position: absolute;
    top: 100px;
    width: 200px;
}
#interaction #buildingDisplay .cost .text{
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 23%;
  vertical-align: top;
}
#interaction .buildingInfo .resourcesNeeded {
  position: absolute;
  text-align: left;
  left: 350px;
  width : 176px;
  margin-top: 20px;
}
#interaction #buildingsPanel .item .inactive {
  cursor : not-allowed;
}



#interaction #buildingDisplay .buildButton {
  bottom: 0;
  height: 55px;
  position: absolute;
  width: 100%;
}
#interaction #buildingDisplay .buildButton .alignDiv {
  width : 83%;
}


#buildings div, #buildings ul, #defense div, #defense ul{
	float :left;	
	border:none;
}
#buildings-container, #defense-container {
	width : 432px;
	overflow: hidden;
  padding : 0px 2px;
}
#buildings-ul, #defense-ul{
	width : 2000px;
	height :150px;			
	margin : 0px;
	padding : 0px;
}
#buildings .right, #buildings .left, #defense .right, #defense .left{
  width : 30px;
  margin : 10px 8px 0px 8px;
  text-align : center;
  overflow : hidden;
}
#buildings li, #defense li {
	float : left;
	list-style : none;			
  height: 150px;
  width: 86px;
}
#buildingsPanel .leftOff {
  margin-left : 0px;
}
#buildingsPanel .leftOn {
  margin-left : -60px;
  cursor : pointer;
}
#buildingsPanel .rightOff {
  margin-left : -30px;
}
#buildingsPanel .rightOn {
  margin-left : -90px;
  cursor : pointer;
}

.buildingName {
  color : white;
  font-family : ShowG;
  font-size : 13px;
}
.moreButtonText {
  color : #fced70;
  font-family : ShowG;
  font-size : 12px;
  line-height : 24px;
  width : 63px;
  height : 24px;
  cursor : pointer;
  display: inline-block;
}

