#panel-buttons-container {
  height: 103px;
  float: left;
  margin-top: 20px;
  margin-left: 12px;
  width: 70px;
}

#panel-buttons-container .panel-button {
  overflow: hidden;
  height: 25px;
  width: 66px;
  cursor: pointer;
}

#panel-buttons-container .panel-button span {
  color: white;
  font-size: 12px;
  font-weight: bold;
  left: 16px;
  margin-top: 4px;
  position: absolute;
  text-align: center;
  width: 58px;
}

#panel-buttons-container #panel-button-upgrade span {
  top: 24px;
}

#building-panel {
  background-image: url("../images/buildings/panel/panel.png");
  position : absolute;
  width : 210px;
  height : 130px;
}
.building-functions {
  float : left;
  height: 100px;
  margin-top: 20px;
  margin-left: 5px;
  width: 100px;
  text-align: center;
}

.building-functions span {
  font-size: 14px;
}

.building-in-progress {
  font-size: 10px;
  line-height: 131px;
  margin-left: 5px;
}

img.icon {
	height : 32px;
}
