#building-panel {
  -moz-border-radius : 10px;
  -webkit-border-radius : 10px;
  -o-border-radius : 10px;
  border-radius : 10px;
  position : absolute;
  bottom : 25px;
  right : 25px;
  width : 340px;
  height : 100px;
  background-color: gold;
}
#close-building-panel {
  float: right;
  font-family: fantasy;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 0;
}
.building-presentation {
  border-right : 1px solid;
  height : 80px;
  margin-top : 5px;
  padding-top : 10px;
  width : 90px;
  float : left;
}

.building-presentation .building-presentation-crop{
  height : 70px;
  overflow : hidden;
}

.building-presentation span{
  display : block;
  float : none;
  font-family : fantasy;
  font-size : 15px;
  font-weight : bold;
  text-align : center;
  line-height : 8px;
}

.building-presentation img{
  float : left;
  margin-left : 15px;
  margin-top : 0;
  width : 55px;
}
.building-functions {
  float : left;
  height : 90px;
  margin : 5px;
  width : 225px;
}

.building-functions span {
  font-size: 14px;
}

.building-in-progress {
  line-height: 90px;
  margin-left: 50px;
}

img.icon {
	height : 32px;
}
