img{
  width:auto;
  height:auto;
}
@font-face {
  font-family: "Adlib";
  src: url("fonts/ADLIB.TTF");
}
@font-face {
  font-family: "Lds";
  src: url("fonts/LDS_typoderm.ttf");
}
@font-face {
  font-family: "Showg";
  src: url("fonts/SHOWG.TTF");
}

#buildButton {
  bottom: 0px;
  cursor: pointer;
  height: 60px;
  width: 64px;
  position: absolute;
  right: 177px;
}

#buildButton:hover {
  bottom: 4px;
  right: 180px;
}

#buildButton img {
  width: 60px;
}

#buildButton:hover img {
  width: 64px;
}

#buildButton #buildText{
  color: white;
  cursor: pointer;
  display: block;
  font-family: showg;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  text-align: center;
  text-shadow: -3px -3px 1px black;
  top: -35px;
  left: -1px;
}

#buildButton:hover #buildText{
  top: -38px;
  left: 3px;
  font-size: 14px;
}

#interaction {
  position: absolute;
  top: 0px;
  left: 0px
  height : 550px;
  width : 760px;
  font-family : Lds;
  z-index : 1000;
}
#interaction .title {
  color: white;
  font-family: Showg;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 0px #5A3815;
  text-transform: uppercase;
}
/* CSS for aligned buttons that should work with both LTR, RTL */
#interaction .okButtonWrapper {
  position: absolute;
  left : 0px;
  height: 55px;
  width: 100%;
  z-index : 10;
}
  /* Each aligned button should set a width to this div according to desired position of button */
#interaction .alignDiv {
  height : 100%;
  display:inline-block;
}
#interaction #buildingDisplay {
  overflow: visible;
  position: absolute;
  top: 80px;
  left: 80px;
  width: 600px;
  height: 500px;
  z-index: 10;
}
#interaction #buildingsPanel {
  height: 150px;
  left: 36px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 530px;
  z-index: 12;
}

#interaction .buildingInfo {
 height: 120px;
  left: 30px;
  position: absolute;
  top: 215px;
  width: 540px;
  z-index: 11;
}

#interaction .buildingInfo .buildingName {
  color: white;
  font-family: showg;
  font-size: 25px;
  text-align: center;
  text-shadow: -2px 2px 1px black;
}
    
#interaction #buildingsPanel .buildings {
  position: absolute;
  z-index: 11;
}
#interaction .buildingPanelBg {
  top: 0px;
  left: 0px;
  position: absolute;
}

#interaction .buildingsBg {
  top: 10px;
  left: 8px;
  position: absolute;
}

#interaction .wedgesBg {
  top: 10px;
  left: 8px;
  position: absolute;
}

#interaction #buildingDisplay .closeContainer {
  height: 45px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index : 12;
}

#interaction #closeBuildingPanel {
  background-image: url("../images/buildings/transparent1x1.png");
  cursor: pointer;
  height: 35px;
  width: 40px;
  z-index: 10;
  display : inline-block;
}

#interaction .buildingPanelTriggers {
  color: #fff78c;
  cursor: pointer;
  height: 40px;
  line-height: 48px;
  text-align: center;
  width: 150px;
  z-index: 10;
  text-shadow: -1px 2px 1px black;
  font-family: showG;
}

#interaction .inactiveTrigger {
  font-size: 20px;
}

#interaction .activeTrigger {
  font-size: 22px;
}

#interaction .triggers {
  left: 46px;
  position: absolute;
  top: 10px;
  width: 512px;
  z-index : 10;
}

#interaction #buildingsTrigger {
  display : inline-block;
}

#interaction #defenseTrigger {
  display : inline-block;
}
    
#interaction #buildingsPanel .item {
  float: left;
  height: 130px;
  width: 80px;
  margin : 14px 4px 3px 4px;
  overflow: visible;
  position: relative;
  text-align: center;
}

#interaction .buildingPanelLine {
  position: absolute;
  top: 190px;
  left: 30px;
  z-index : 10;
}

#interaction #buildingsPanel .item .background {
  position : relative;
  top : -130px;
  height : 75px;
  float : none;
  z-index : 100;
}
#interaction #buildingsPanel .item .hover {
  position : relative;
  top : -232px;
  left : -8px;
  width : 98px;
  float : none;
  z-index : 50;
}
#gameContainer.arabic #interaction #buildingsPanel .item .hover {
  left : 8px;
}
#interaction #buildingsPanel .item .hoverArrow {
  float: none;
  position: absolute;
  top: 90px;
  width: 46px;
  z-index: 120;
  left: 21px;
}

#interaction #buildingsPanel .item .itemData {  
  cursor: pointer;
  background-image: url("../images/buildings/transparent1x1.png");
  height: 130px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 500;
}
#interaction #buildingsPanel .item .itemData .name {  
  font-size: 17px;
  height: 20px;
  padding-top: 5px;
  text-transform: capitalize;
}
#interaction #buildingsPanel .item .itemData .image{  
  height : 74px;
}
#interaction #buildingsPanel .item .disabledMsgBackground{  
  background: white;
  border-radius: 8px 8px 8px 8px;
  font-family: verdana;
  font-size: 11px;
  height: 90px;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  width: 82px;
  z-index: 200;
}
#interaction #buildingsPanel .item .disabledMsgText{  
  font-family: verdana;
  font-size: 11px;
  height: 80px;
  position: absolute;
  text-shadow: 0 1px 1px #326479;
  font-weight : bold;
  top: 5px;
  width: 82px;
  z-index: 200;
}
#interaction #buildingsPanel .item .itemData .image img{  
  width: 68px;
  height: 74px;
}
#interaction #buildingDisplay .buildingDetails {
  left: 0px;
  position: absolute;
  top: 40px;
}
#interaction #buildingDisplay .buildingDesc {
  color: #FFF78C;
  height: 60px;
  width: 280px;
  text-shadow: -1px 1px 1px black;
  font-size: 16px;
  font-family : Cairo;
  margin : 5px 20px;
  display : inline-block;
}
#interaction #buildingDisplay .buildingCost
{
  display : inline-block;
  vertical-align : top;
}
#interaction #buildingDisplay .cost {
  color: white;
  width: 200px;
}
#interaction #buildingDisplay .cost .text{
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 23%;
  vertical-align: top;
}
#interaction .buildingInfo .resourcesNeeded {
  text-align: left;
  width : 176px;
  padding : 0px 10px;
}
#interaction #buildingsPanel .item .inactive {
  cursor : not-allowed;
}



#interaction #buildingDisplay .buildButton {
  bottom: 0;
  height: 55px;
  position: absolute;
  width: 100%;
}
#interaction #buildingDisplay .buildButton .alignDiv {
  width : 83%;
}


#buildings div, #defense div{
	float :left;	
}
#gameContainer.arabic #buildings div, #gameContainer.arabic #defense div{
	float :right;	
}

#buildings-container, #defense-container {
	width : 430px;
	overflow: hidden;
  padding : 0px 2px;
}
#buildings-ul, #defense-ul{
	width : 2000px;
	height :150px;			
	margin : 0px;
	padding : 0px;
}
#buildings .right, #buildings .left, #defense .right, #defense .left{
  width : 30px;
  margin : 10px 8px 0px 8px;
  text-align : center;
  overflow : hidden;
  direction : ltr;
}
#buildings li, #defense li {
	float : left;
	list-style : none;			
  height: 150px;
  width: 86px;
}
#gameContainer.arabic #buildings li, #gameContainer.arabic #defense li {
	float : right;
}
#buildingsPanel .leftOff {
  margin-left : 0px;
}
#buildingsPanel .leftOn {
  margin-left : -60px;
  cursor : pointer;
}
#buildingsPanel .rightOff {
  margin-left : -30px;
}
#buildingsPanel .rightOn {
  margin-left : -90px;
  cursor : pointer;
}
#gameContainer.arabic #buildingsPanel .leftOff {
  margin-left : -30px;
}
#gameContainer.arabic #buildingsPanel .leftOn {
  margin-left : -90px;
}
#gameContainer.arabic #buildingsPanel .rightOff {
  margin-left : 0px;
}
#gameContainer.arabic #buildingsPanel .rightOn {
  margin-left : -60px;
}
