#panel-buttons-container {
  height: 103px;
  float: left;
  margin-top: 20px;
  margin-left: 12px;
  width: 81px;
}

#panel-buttons-container .panel-button {
  overflow: hidden;
  height: 25px;
  width: 81px;
  margin-left:3px;
  cursor: pointer;
}

#panel-buttons-container .panel-button img {
  margin-top: -26px;
}
#panel-buttons-container .panel-button.hovered{
	background-image:url('../images/game_elements/building_menu_hover.png');
}
#panel-buttons-container .panel-button span {
  color: white;
  font-size: 12px;
  font-weight: bold;
  left: 19px;
  margin-top: 2px;
  position: absolute;
  text-align: center;
  width: 58px;
}

#panel-buttons-container #panel-button-upgrade span {
  top: 24px;
}

#building-panel {
  position : absolute;
  width : 271px;
  height : 130px;
  z-index : 100;
}
#building-panel .menuContainer{
	width:272px;
}
#building-panel .menuTop{
	background-repeat : no-repeat;
	background-image : url('../images/buildings/panel/menu_top.png');
	height : 37px;
}
#building-panel .menuBottom{
	background-repeat : no-repeat;
	background-image : url('../images/buildings/panel/menu_bottom.png');
	height : 28px;							
}
#building-panel .menuBody{
	background-image : url('../images/buildings/panel/menu_body.png');
	background-repeat : repeat-y;
	padding-left:93px;
	padding-right: 25px;
	min-height:83px;
	margin-top: -10px;
}

#building-panel .menuBody .invalid{
	color : red;
}
#building-panel .menuBody #upgradeDesc{
	font-family: helvetica;
	font-size: 11px;
}
#building-panel .menuBody #upgradeDesc #upgradeTitle{
	font-weight:bold;
	font-size:14px;
	padding-bottom:10px;
}
#building-panel .menuBody #upgradeDesc .resourcesImg{
	margin-left:9px;
}
#building-panel .menuBody #upgradeDesc .resourcesValue{
	font-family: helvetica;
	font-size: 11px;
	font-weight: bold;
}
#building-panel .menuBody #upgradeDesc .resourcesValue .resourceElement{
	width:35px;
	display:inline-block;
	text-align:center;
}
#building-panel .menuBody #upgradeDesc .resourcesValue .wood{
	margin-left:7px;
}
#building-panel .menuBody #upgradeDesc .resourcesValue .gold{
	width:20px;
	margin-left:11px;
}
#building-panel .menuBody #upgradeDesc .resourcesValue .time{
	width:24px;
	margin-left:11px;
}
#building-panel .menuBody #requirements,#building-panel .menuBody #gains, #building-panel .menuBody #errorMessages{
	padding-top:9px;
}
#building-panel .menuBody #requirements .title{
	font-weight:bold;
}
#building-panel .menuBody #requirements ul,#building-panel .menuBody #gains ul{
	  margin-left: -9px;
	  margin-top: 0px;
	  margin-bottom:0px;
}
#building-panel .menuBody #requirements ul li .requirementKey,#building-panel .menuBody #gains ul li .gainKey{
	font-weight:bold;
}
.building-functions {
  float : left;
  height: 100px;
  margin-top: 20px;
  margin-left: 5px;
  width: 100px;
  text-align: center;
}

.building-functions span {
  font-size: 14px;
}

.building-in-progress {
  font-size: 10px;
  line-height: 131px;
  margin-left: 5px;
}

img.icon {
	height : 32px;
}
.menuBody #moveDesc,.menuBody #collect_resourceDesc, .menuBody #assign_workerDesc{
	position:absolute;
	visibility:hidden;
	top:23px;
	font-size:12px;
	font-weight:bold;
}
#panel-buttons-container .panel-button{
	margin-top:4px;	
}
