@font-face {
  font-family: "Adlib";
  src: url("fonts/ADLIB.TTF");
}
@font-face {
  font-family: "Lds";
  src: url("fonts/LDS_typoderm.ttf");
}
@font-face {
  font-family: "Showg";
  src: url("fonts/SHOWG.TTF");
}

#buildButton {
  bottom: 1px;
  height: 53px;
  position: absolute;
  right: 20px;
}

#buildButton #buildText{
  color: #FAC200;
  cursor: pointer;
  display: block;
  font-family: showg;
  font-size: 25px;
  line-height: 50px;
  position: relative;
  text-align: center;
  text-shadow: -3px -3px 1px black;
  top: -50px;
}

#interaction {
  position: absolute;
  top: 0px;
  left: 0px
  height : 550px;
  width : 760px;
  font-family : Lds;
  z-index : 1000;
}
#interaction .title {
  color: white;
  font-family: Showg;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 0px #5A3815;
  text-transform: uppercase;
}
/* CSS for aligned buttons that should work with both LTR, RTL */
#interaction .okButtonWrapper {
  position: absolute;
  left : 0px;
  height: 55px;
  width: 100%;
  z-index : 10;
}
  /* Each aligned button should set a width to this div according to desired position of button */
#interaction .alignDiv {
  height : 100%;
  display:inline-block;
}

#interaction #buildingsPanel {
  height: 325px;
  left: 80px;
  position: absolute;
  top: 100px;
  width: 600px;
}
#interaction #buildingsPanel .buildings {
  padding-left: 75px;
  padding-right: 180px;
  padding-top: 24px;
  position: relative;
  z-index: 10;
}
#interaction .buildingPanelBg {
  margin-left: 105px;
  margin-top: 61px;
  position : relative;
}

#interaction .buildingsBg {
  top: 70px;
  left: 114px;
  position: absolute;
}

#interaction .wedgesBg {
  top: 70px;
  left: 114px;
  position: absolute;
}

#interaction #closeBuildingPanel {
  cursor: pointer;
  height: 35px;
  position: absolute;
  right: 80px;
  top: 105px;
  width: 40px;
  z-index: 10;
}

#interaction #wedgesTrigger {
  color: gold;
  cursor: pointer;
  font-size: 28px;
  height: 40px;
  left: 300px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 150px;
  z-index: 10;
}

#interaction #buildingsTrigger {
  color: gold;
  cursor: pointer;
  font-family: showG;
  font-size: 19px;
  height: 40px;
  left: 140px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 150px;
  z-index: 10;
}
    
#interaction #buildingsPanel .item {
  display: inline-block;
  height: 145px;
  overflow: hidden;
  position: relative;
  width: 105px;
}
#interaction #buildingsPanel .item .background {
  position : relative;
  top : -145px;
}
#interaction #buildingsPanel .item .itemData {  
  width : 100%;
  height : 100%;
  position: relative;
  z-index : 10;
  text-align : center;
  cursor : pointer;
}
#interaction #buildingsPanel .item .itemData .name {  
    font-size: 17px;
    height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
#interaction #buildingsPanel .item .itemData .image{  
  height : 74px;
}
#interaction #buildingsPanel .item .itemData .image img{  
  width: 68px;
  height: 74px;
}
#interaction #buildingsPanel .item .itemData .cost{  
  position : relative;
  top : 25px;
  text-align : left;
}
#interaction #buildingsPanel .item .itemData .cost .text{  
  display : inline-block;
  width : 31%;
  font-size : 14px;
  text-align : center;
}
#interaction #buildingsPanel .item .inactive {
  cursor : not-allowed;
}



#interaction #buildingDisplay .buildButton {
  bottom: 0;
  height: 55px;
  position: absolute;
  width: 100%;
}
#interaction #buildingDisplay .buildButton .alignDiv {
  width : 83%;
}

