#mapView {
  position: absolute;
  top: 545px;
  left: 5px;
  width: 750px;
  height : 122px;
  z-index: 10;
}

#friends {
  left: 20px;
  position: absolute;
  top: 8px;
}
#friends div, #friends  img, #friends ul{
	float :left;	
	border:none;
}

#friends-container {
	width : 505px;
	overflow: hidden;
	height : 113px;
}
#friends-ul{
	width : 2000px;
	height :113px;			
}
#friends .right, .left{
	margin-top : 15px;
  width : 30px;
  overflow : hidden;
}
#friends-ul {
	margin : 0px;
	padding : 0px;
}
#friends li {
	float : left;
	list-style : none;			
}
#friends .leftOff {
  margin-left : 0px;
}
#friends .leftOn {
  margin-left : -60px;
  cursor : pointer;
}
#friends .rightOff {
  margin-left : -30px;
}
#friends .rightOn {
  margin-left : -90px;
  cursor : pointer;
}

#friends .friend{
  cursor: pointer;
  float: left;
  margin: 4px;
  position: relative;
  width: 95px;
}
#friends .friend .photo{
  height: 44px;
  left: 21px;
  position: absolute;
  top: 17px;
  width: 44px;
}
#friends .friend .name{
    color: white;
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 72px;
    width: 80px;
}

#home {
  cursor: pointer;
  margin: 4px;
  position: absolute;
  right: 4px;
  top: 340px;
  width: 100px;
  z-index:100;
}
#home .photo{
	width : 39px;
}

#home .photoContainer {
  height: 46px;
  left: 18px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  width: 38px;
}

#home .name{
    color: white;
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 65px;
    left : 0px;
    text-align: center;
    text-decoration: none;
    width: 100%;

}
