.gameElement {
	position : absolute;
	z-index : 1000;
	text-shadow:-1px 2px 1px #000000;
}

.topGameElement {
  position : absolute;
  z-index : 1000;
  text-shadow:-1px 2px 1px #000000;
  top: 5px;
  overflow: hidden;
}

#rock_game_element {
  left: 5px;
  width: 111px;
}

#lumber_game_element {
  left: 120px;
  width: 118px;
}

#lumber_game_element img{
  margin-left: -115px;
}

#xp_bar {
  left: 240px;
  width: 257px;
}
#xp_bar img {
  margin-left: -233px;
}

#coins_game_element {
  right: 131px;
  width: 125px;
  height: 66px;
}
#coins_game_element img {
  margin-left: -493px;
}

#workers_game_element {
  cursor: pointer;
  right: 5px;
  width: 120px;
  height: 66px;
}

#workers_game_element #hire_worker {
  position: absolute;
  right: 8px;
  top: 42px;
  margin: 0;
}

#coins_game_element #add_coins {
  position: absolute;
  right: 16px;
  top: 42px;
  margin: 0;
}

#workers_game_element #hire-worker-text, #coins_game_element #add-coins-text {
  color: #FCED70;
  cursor: pointer;
  font-family: ShowG;
  font-size: 15px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: 21px;
  top: 43px;
}

#coins_game_element #add-coins-text {
  right: 33px;
}

#workers_game_element img {
  margin-left: -627px;
}

#workers-amount {
  color: yellow;
  font-family: Lds;
  font-size: 16px;
  left: 53px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 49px;
}

#idleWorkersGameElement {
	color : #f23d00
}

#totalWorkersGameElement {
	color : white;
}

#coins-amount {
  color: #F23D00;
  font-family: Lds;
  font-size: 18px;
  left: 50px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 58px;
}

#rock-amount {
  color: gold;
  font-family: Lds;
  font-size: 18px;
  left: 45px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 54px;
}

#lumber-amount {
  color: gold;
  font-family: Lds;
  font-size: 18px;
  left: 53px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 54px;
}

#monitor {
	position: absolute;
	top: 447px;
	left: 10px;
	width: 150px;
	height:103px;
}

#monitorGlass{
	position: absolute;
	width: 115px;
	height: 70px;
	top: 498px;
	left: 31px;
}

#monitorButton{
	color:orange;
	position: absolute;
	width: 29px;
	height:20px;
	top:449px;
	left:24px;
	z-index:2000;
}
