*{
	-moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
body{
	padding : 0px;
	margin : 0px;
}

area {
	cursor : pointer;
}

img{
	border:none;
}

#gameContainer {
	padding-top: 0px;
	position : relative;
	width : 760px;
	height: 550px;
	bottom: 0px;
	font-family : verdana;
}

#attackDiv{
	height:1100px;
	position:absolute;
	width:760px;
	z-index:64;
}

#attackDiv #attackTxt{
	color:red;
	font-size:15px;
	font-weight:bold;
	margin-left:250px;
	margin-top:57px;
}
#building-remaining-time {
  background-color : red;
  color : gold;
  font-size : 11px;
  height : 15px;
  position : absolute;
  width : auto;
}

#gameCanvas{
		position:absolute;
		z-index:0;
		top:-275px;
		left:-380px;
	}
#imageMap{
	position:absolute;
	z-index:100000;
	top:-275px;
	left:-380px;
}
#gameSceneContainer{
	overflow: hidden;
	position: absolute;
	z-index:0;
}
#gameElements{
	position:absolute;
	width:100px;
	left:750px;
	cursor : pointer;
}

.DomSprite{
	position : absolute;
	overflow : hidden;

}
.DomSprite{
	font-family:verdana;
	font-size:12px;
	color : white;
	text-shadow:1px 1px 1px black;
	font-weight:bold;
}
#cancelBuilding{
  left: 684px;
  position: absolute;
  top: 347px;
}

.healthSpan{
	-moz-border-radius:8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -khtml-border-radius: 8px 8px 8px 8px;
}

#sendAttack {
  bottom: 0px;
  height: 53px;
  position: absolute;
  right: 150px;
}

#sendAttack #sendAttackText {
  color: #FAC200;
  cursor: pointer;
  display: block;
  font-family: showg;
  font-size: 19px;
  line-height: 50px;
  position: relative;
  text-align: center;
  text-shadow: -3px -3px 1px black;
  top: -50px;
}


/* loading style */
#loadingBarEmpty{
	background:url("../images/loading/loadingbar_empty.png");
	height:50px;
	left:159px;
	position:absolute;
	top:346px;
	width:431px;
}

#loadingBarEmpty div{
	height : 25px;
	float : left;
	margin-top:8px;
}

#loadingBarEmpty #loadingBarRight{				
	height:35px;
	width:20px;
	background:url("../images/loading/loadingbar_upright.png");
}

#loadingBarEmpty #loadingBarFill{
	height:35px;
	background-repeat:repeat-x;				
	background:url("../images/loading/loadingbar_upmiddle.png");
}

#loadingBarEmpty #loadingBarLeft{
	background:url("../images/loading/loadingbar_upleft.png");
	height:35px;
	margin-left:5px;
	width:20px;
}
#inProgress  #loadingPercentage, #inProgress #fileName{
	font-family:tahoma;
	font-size:x-small;
	font-weight:bold;	
	position:absolute;
	top:330px
}
#inProgress  #loadingPercentage{
	left:395px;
  color:white;
}
#inProgress #fileName{
	left:250px;
  color:white;
}
#inProgress{
	width : 760px;
	height:410px;
}
