.gameElement {
	position : absolute;
	z-index : 1000;
	text-shadow:-1px 2px 1px #000000;
}

#workers_game_element {
	right: 10px;
	top: 3px;
  cursor : pointer;
}

#coins_game_element {
	right: 136px;
  top: 3px;
}

#lumber_game_element {
	left: 137px;
	top: 10px;
}

#rock_game_element {
	left: 10px;
	top: 10px;
}

#xp_bar {
	left: 257px;
	top: 0;
}

#workers-amount {
	font-family: Lds;
	font-size: 16px;
	left: 58px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 49px;
}

#idleWorkersGameElement {
	color : #f23d00
}

#totalWorkersGameElement {
	color : white;
}

#coins-amount {
	font-family: Lds;
	font-size: 19px;
	left: 54px;
	position: absolute;
	text-align: center;
	top: 15px;
	width: 49px;
	color: #f23d00;
	text-s
}

#rock-amount {
	color: gold;
	font-family: Lds;
	font-size: 19px;
	left: 42px;
	position: absolute;
	text-align: center;
	top: 11px;
	width: 54px;
}

#lumber-amount {
	color: gold;
	font-family: Lds;
	font-size: 19px;
	left: 42px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 54px;
}

#monitor {
	bottom: 0;
	left: 10px;
}
