*{
	-moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
body{
	padding : 0px;
	margin : 0px;
}

area {
	cursor : pointer;
}

img{
	border:none;
}

#gameContainer {
	padding-top: 0px;
	position : relative;
	width : 760px;
	height: 550px;
	bottom: 0px;
	font-family : verdana;
}

#attackDiv{
	height:1100px;
	position:absolute;
	width:760px;
	z-index:64;
}
#attackDiv #attackTxt{
	color:red;
	font-size:15px;
	font-weight:bold;
	margin-left:250px;
	margin-top:57px;
}
#building-remaining-time {
  background-color : red;
  color : gold;
  font-size : 11px;
  height : 15px;
  position : absolute;
  width : auto;
}

#gameCanvas{
		position:absolute;
		z-index:0;
		top:-275px;
		left:-380px;
	}
#imageMap{
	position:absolute;
	z-index:100000;
	top:-275px;
	left:-380px;
}
#gameSceneContainer{
	overflow: hidden;
	position: absolute;
	z-index:0;
}
#gameElements{
	position:absolute;
	width:100px;
	left:750px;
	cursor : pointer;
}

.DomSprite{
	position : absolute;
	overflow : hidden;

}
.DomSprite{
	font-family:verdana;
	font-size:12px;
	color : white;
	text-shadow:1px 1px 1px black;
	font-weight:bold;
}
#cancelBuilding{
  left: 684px;
  position: absolute;
  top: 347px;
  cursor: pointer;
}

.healthEmpty, .healthFull{
  -moz-border-radius : 8px;
  -webkit-border-radius : 8px;
  -o-border-radius : 8px;
  border-radius : 8px;
}
.healthEmpty{
	background-color:red;
}
#gameCanvas.zoomed{
	-moz-transform:scale(0.501);
	-webkit-transform:scale(0.5);
	-o-transform:scale(0.5);
	-ms-transform:scale(0.5);
}
.healthFull{
	background-color:green;
}
.resourceEmpty{
	background-color:grey;	
}
.resourceFull{
	background-color:green;	
}
#sendAttack {
   	bottom: 0;
    height: 28px;
    position: absolute;
    left: 115px;
}

#sendAttack #sendAttackText {
    color: #FCED70;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 50px;
	font-family: ShowG;
    position: relative;
    text-align: center;
    top: -42px;
}


/* loading style */
#loadingBarEmpty{
	background:url("../images/loading/loadingbar_empty.png");
	height:50px;
	left:159px;
	position:absolute;
	top:346px;
	width:431px;
}

#loadingBarEmpty div{
	height : 25px;
	float : left;
	margin-top:8px;
}

#loadingBarEmpty #loadingBarRight{				
	height:35px;
	width:20px;
	background:url("../images/loading/loadingbar_upright.png");
}

#loadingBarEmpty #loadingBarFill{
	height:35px;
	background-repeat:repeat-x;				
	background:url("../images/loading/loadingbar_upmiddle.png");
}

#loadingBarEmpty #loadingBarLeft{
	background:url("../images/loading/loadingbar_upleft.png");
	height:35px;
	margin-left:5px;
	width:20px;
}
#inProgress  #loadingPercentage, #inProgress #fileName{
	font-family:tahoma;
	font-size:x-small;
	font-weight:bold;	
	position:absolute;
	top:330px
}
#inProgress  #loadingPercentage{
	left:395px;
  color:white;
}
#inProgress #fileName{
	left:250px;
  color:white;
}
#inProgress{
	width : 760px;
	height:410px;
}

#intro {
  position : absolute;
  top : 50px;
  left : 40px;
}

.resetAccount {
  	bottom: 0;
    height: 28px;
    position: absolute;
    left: 50px;
}
.resetAccount #resetText {
  	color: #FCED70;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-family: ShowG;
	line-height: 50px;
	position: relative;
	text-align: center;	
	top: -42px;
}
.resourceBarEmpty{
	height: 20px;
    left: 54px;
    position: absolute;
    top: 18px;
    width: 60px;
    z-index: 1;
}
.resourceBarEmpty div{
	float:left;
}
#rockBar.resourceBarEmpty{
	left:48px;
}
.resourceBarLeft{
	width:5px;
	height:20px;
	margin-left:-5px;
	background-image : url('../images/game_elements/resource_bar_left.png')
}
.resourceBarMiddle{
	height:20px;
	width:1%;
	background-repeat:repeat-x;
	background-image : url('../images/game_elements/resource_bar_middle.png')
}
.resourceBarRight{
	width:5px;
	height:20px;

}
.resourceBarRight.full{
	background-image : url('../images/game_elements/resource_bar_right.png')
}
#controlPanel #openControl{
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 11px;
    width: 48px;
}    
#controlPanel .controlContainer{
	position:absolute;
}
#controlPanel .controlContainer img{
	position:absolute;
}
#controlPanel #sound{
	left:16px;
	top:29px;
}
#controlPanel #move{
	left:60px;
	top:29px;
}
#controlPanel #zoom{
	left:104px;
	top:29px;
}
#controlPanel #music{
	left:16px;
	top:64px;
}
#controlPanel{
    left: 582px;
    position: absolute;
    top:518px;
}
#controlPanel .controlContainer{
	cursor:pointer;
}
.collectionAnimation{
	position : absolute;
	width : 100px;
  z-index:100000000;
}
.collectionAnimation img{
	float : left;
	margin-right : 4px;
	width:32px;
}
.collectionAnimation div{
	padding-top:2px;
	font-weight : bold;
	font-family : verdana;
	font-size : 14px;
	color:white;
	text-shadow : 2px 2px black;
} 