.gameElement {
	position : absolute;
	z-index : 1000;
	text-shadow:-1px 2px 1px #000000;
}

.topGameElement {
  position : absolute;
  z-index : 1000;
  text-shadow:-1px 2px 1px #000000;
  top: 5px;
  overflow: hidden;
}

#rock_game_element {
  left: 5px;
  width: 111px;
}

#lumber_game_element {
  left: 120px;
  width: 118px;
}

#lumber_game_element img{
  margin-left: -115px;
}

#xp_bar {
  left: 240px;
  width: 257px;
}
#xp_bar img {
  margin-left: -233px;
}

#coins_game_element {
  right: 131px;
  width: 125px;
}
#coins_game_element img {
  margin-left: -493px;
}

#workers_game_element {
  cursor: pointer;
  right: 5px;
  width: 120px;
}
#workers_game_element img {
  margin-left: -627px;
}

#workers-amount {
  color: yellow;
  font-family: Lds;
  font-size: 16px;
  left: 53px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 49px;
}

#idleWorkersGameElement {
	color : #f23d00
}

#totalWorkersGameElement {
	color : white;
}

#coins-amount {
  color: #F23D00;
  font-family: Lds;
  font-size: 19px;
  left: 50px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 58px;
}

#rock-amount {
  color: gold;
  font-family: Lds;
  font-size: 19px;
  left: 45px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 54px;
}

#lumber-amount {
  color: gold;
  font-family: Lds;
  font-size: 19px;
  left: 53px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 54px;
}

#monitor {
	bottom: 0;
	left: 20px;
  overflow: hidden;
}
#monitor img{
  margin-top: -26px;
}
