.notification_message_container {
  -moz-border-radius : 20px;
  -webkit-border-radius : 20px;
  -o-border-radius : 20px;
  border-radius : 20px;
  background-color : black;
  height : 200px;
  left : 200px;
  position : absolute;
  top : 100px;
  width : 300px;
}

.notification_message_container span {
  color : white;
  display : block;
  font-size: 15px;
  line-height: 150%;
  margin: 25px auto auto;
  width: 75%;
}

.notification_message_container button.notification_ok {
  position : absolute;
  left : 125px;
  top : 155px;
}

#alert, #notify, #prompt {
  position: absolute;
  left: 80px;
  top: 170px;
  z-index : 11;
}

#alert .wedge,#notify .wedge, #prompt .wedge {
  left: 15px;
  position: absolute;
  top: 60px;
}

#alert .bubble, #notify .bubble, #prompt .bubble {
  left: 100px;
  position: absolute;
  top: 30px;
}

#alert .close, #notify .close, #prompt .close {
  cursor: pointer;
  height: 25px;
  width: 45px;
  position: absolute;
  right: 8px;
  top: 0;
}

#alert .okButtonWrapper, #notify .okButtonWrapper, #prompt .okButtonWrapper, #prompt .noButtonWrapper {
  bottom: 0;
  height: 55px;
  position: absolute;
  left: 440px;
  width: 130px;
}

#prompt .noButtonWrapper {
  left: 310px;
}

#alert .text, #notify .text, #prompt .text {
  font-size: 21px;
  color: #F23D00;
  left: 115px;
  position: absolute;
  top: 40px;
  width: 430px;
}
#notify .text {
  color: black;
}
#interaction #notify #alertMsg .okText{
	font-size:27px;
}

#interaction #prompt .noText{
  font-size:27px;
}
.noButtonWrapper .noButton {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  overflow : hidden;
  height : 100%;
}

.noButtonWrapper .noText {
  font-family: Showg;
  font-size: 34px;
  position: relative;
  display : block;
  text-shadow: -1px -1px 1px black;
  top: -50px;
  height : 100%;
  line-height : 50px;
}