.progressContainer {
  position : absolute;
  width : 77px;
  height : 16px;
}
.progressTime , .progressAction{
  font-family : verdana;
  font-weight : bold;
  font-size : 10px;
  position : absolute;
  width: 100%;
  text-align : center;
  padding-top : 1px;
  height : 14px;
  color : white;
}

.progressBarContainer {
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
  -o-border-radius : 4px;
  border-radius : 4px;
  background-color: #999;
  position : absolute;
  width: 74px;
  height: 12px;
  border : 2px solid black;
}

.progressBar {
  width: 30%;
  height: 12px;        
  background-color : #06f;
}