@font-face {
  font-family: "Adlib";
  src: url("fonts/ADLIB.TTF");
}
@font-face {
  font-family: "Lds";
  src: url("fonts/LDS_typoderm.ttf");
}
@font-face {
  font-family: "Showg";
  src: url("fonts/SHOWG.TTF");
}
@font-face {
  font-family: "Cairo";
  src: url("fonts/CAIRO_.TTF");
}
.yellowText {
  color: #FAC200;
}
#interaction .blueText {
  color : #326479;
}
#interaction .redText {
  color : #f23d00;
}
#interaction .title {
  color: white;
  font-family: Showg;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 0px #5A3815;
  text-transform: uppercase;
}
/* CSS for aligned buttons that should work with both LTR, RTL */
#interaction .okButtonWrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 10;
}
  /* Each aligned button should set a width to this div according to desired position of button */
#interaction .alignDiv {
  height : 100%;
  display:inline-block;
}
#interaction .okImage{
  display : block;
}
#interaction .okButton {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  overflow : hidden;
  height : 100%;
}
#interaction .okText {
  font-family: Showg;
  font-size: 34px;
  position: relative;
  display : block;
  text-shadow: -1px -1px 1px black;
  top: -50px;
  height : 100%;
  line-height : 50px;
}
/* End of Button CSS */

#interaction #msg {
  position: absolute;
  top: 0px;
  left : 0px;
  z-index : 10;
}
#interaction #msg img {
  position : absolute;
}
#interaction #msg .background {
  left: 0px;
  top: 0px;
}
#interaction #msg .msgBGImgs {
  position : absolute ; 
  top : 10px;
}
#interaction #msg .wedge {
  margin: 0 20px;
  position: absolute;
  top: 50px;
  z-index : 10;
}
#interaction #msg .bubble {
  position : absolute;
  top : 20px; 
  margin : 0px 72px;
}
#interaction #msg .closeContainer {
  height:26px;
  position : absolute;
  top : 0px;
  width : 100%;
}
#interaction #msg .close {
  cursor: pointer;
  background-image: url("../images/buildings/transparent1x1.png");
  height: 23px;
  width: 50px;
  display : inline-block;
}
#interaction #msg .okImage {
  position: relative;
}
#interaction #msg .okButtonWrapper {
  top: 170px;
}
#interaction #msg .alignDiv {
  width : 70%;
}
#interaction #msg .blocker {
}
#interaction #msg #welcomeMsg, #interaction #msg #congratesMsg, #interaction #msg #emptyQuest {
  height: 100%;
  width: 600px;
  height : 230px;
  position: absolute;
  top: 170px;
  left : 80px;
}
#interaction #msg #welcomeMsg .text {
  font-size: 21px;
  left: 115px;
  position: absolute;
  top: 50px;
  width: 370px;
}
#interaction #msg #welcomeMsg .text .name{
    color: #F23D00;
    font-size: 24px;
    text-transform: uppercase;
}


#interaction #msg #congratesMsg .msg {
  display: inline-block;
  position: relative;
  top: 40px;
  vertical-align: top;
  width: 415px;
}
#interaction #msg #congratesMsg .text {
  font-size: 20px;
  padding-top : 5px;
  height : 25px;
}
#interaction #msg #congratesMsg .header{
  color: #F23D00;
  font-size: 24px;
}
#interaction #msg #congratesMsg .rewards{
  width : 150px;
  text-align : center;
  display : inline-block;
}
#interaction #msg #congratesMsg .reward{
  display : inline-block;
  overflow : hidden;
  width : 31%;
  text-align : center;
  font-size : 17px;
  line-height : 15px;
  direction : ltr;
}
#interaction #msg #congratesMsg .reward .lumber{
  position : relative;
  left : -30px;
}
#interaction #msg #congratesMsg .reward .rock{
  position : relative;
  left : -75px;
}
#interaction #msg #congratesMsg .reward .coins{
  position : relative;
  left : -118px;
}
#interaction #msg #congratesMsg .reward .exp{
  position : relative;
  left : 10px;
}


#interaction #msg #emptyQuest .text {
  font-size: 21px;
  left: 115px;
  position: absolute;
  top: 50px;
  width: 430px;
}
#interaction #msg #emptyQuest .text .noQuestText{
  padding-top: 10px;
  text-align: center;
}



.clickable {
  cursor : pointer;
}

#side-bar {
  padding: 0 0 10px 0px;
  position: absolute;
  top: 95px;
  width: 66px;
}
#quest-panel {
  width: 66px;
}
#quest-panel .wedge {
  height: 80px;
  position: relative;
  text-align: center;
  top: 10px;
  width: 70px;
}
#quest-panel .wedge .shadow{
  position: absolute;
  width: 68px;
  left: 1px;
  top: 0px;
}
#quest-panel .wedge .circle{
  left: 2px;
  position: absolute;
  top: 0;
  width: 68px;
}
#quest-panel .wedgeImg {
  left: 5px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 62px;
}
#quest-panel .wedge .text {
  color: white;
  font-family: Showg;
  font-size: 11px;
  position: absolute;
  text-shadow: -2px 2px 1px #000000;
  text-transform: uppercase;
  top: 55px;
  width: 100%;
}
#quest-panel .empty {
  cursor : pointer;
}

#interaction #questDisplay {
  height: 390px;
  left: 80px;
  position: absolute;
  top: 75px;
  width: 600px;
  z-index : 10;
}
#interaction #questScreen {
  width : 100%;
  height : 100%;
}
#interaction #questDisplay .background{
  position: absolute;
  top: 0;
  left: 0;
}
#interaction #questDisplay .title {
  position: absolute;
  left: 0;
  top: 40px;
  height : 40px;
  width : 100%;
  overflow : hidden;
}
#interaction #questDisplay .closeContainer {
  position : absolute;
  top : 0px;
  width : 100%;
  height : 40px;
}
#interaction #questDisplay .close {
  background-image: url("../images/buildings/transparent1x1.png");
  width : 50px;
  display : inline-block;
  cursor : pointer;
  z-index: 10;
  height : 40px;
}
#interaction #questDisplay .conditions {
  position: absolute;
  top: 85px;
  width: 100%;
  height: 160px;
  display : table;
}

#interaction #questDisplay .conditions .container{
  display : table-cell;
  vertical-align : middle;
}

#interaction #questDisplay .condition {
  height: 54px;
  width: 100%;
  overflow : hidden;
}
#interaction #questDisplay .condition .image{
  display: inline-block;
  width: 96px;
  height : 54px;
  position : relative;
  z-index : 10;
}
#interaction #questDisplay .condition .image img{
  width : 54px;
  height : 46px;
}
#interaction #questDisplay .condition .descContainer{
  width : 100%;
  position : relative;
  top : -60px;
  left : 0px;
  text-align : center;
}
#interaction #questDisplay .condition .desc{
  background: none repeat scroll 0 0 white;
  display: inline-block;
  height: 35px;
  vertical-align: top;
  margin-top: 8px;
  width: 495px;
  -moz-border-radius : 8px;
  -webkit-border-radius : 8px;
  -o-border-radius : 8px;
  border-radius : 8px;
}
#interaction #questDisplay .condition .desc .text{
  display: inline-block;
  height: 35px;
  vertical-align: top;
  font-size : 22px;  
  line-height : 35px;
}
#interaction #questDisplay .condition .desc .condMsg{
  display: inline-block;
  vertical-align: top;
  width : 320px;
  margin : 0px 40px;
  text-align: justify;
}
#interaction #questDisplay .condition .desc .condStatus{
  display: inline-block;
  width : 60px;
  height : 35px;
}
#interaction #questDisplay .condition .desc .condStatus img{
  width: 30px;
  margin-top : 2px;
}
#interaction #questDisplay .descriptionWrapper {
  height: 175px;
  overflow: hidden;
  position: absolute;
  top: 230px;
  width: 100%;
}
#interaction #questDisplay .description {
  height: 150px;
  margin: 0 10px;
  position: relative;
  width: 550px;
  z-index: 10;
}
#interaction #questDisplay .wedge {
  position: absolute;
  text-align: center;
  top: 10px;
  width: 126px;
  z-index: 10;
}
#interaction #questDisplay .wedge .circle{
  position: relative;
  top: -133px;
}
#interaction #questDisplay .wedgeImg {
  text-align: center;
  top: -266px;
  position: relative;
}
#interaction #questDisplay .wedge .text {
  color: white;
  font-family: Showg;
  font-size: 15px;
  position: relative;
  text-shadow: -2px 2px 1px #000000;
  text-transform: uppercase;
  top: -300px;
}
#interaction #questDisplay .bubble {
  display: inline-block;
  margin-left: -10px;
  padding-top: 26px;
  vertical-align: top;
  width: 450px;
}
#interaction #questDisplay .bubbleText {
  display: inline-block;
  font-size: 22px;
  height: 82px;
  position: relative;
  top: -100px;
  margin: 0px 20px;
}
#interaction #questDisplay .okButtonWrapper {
  position : relative;
  bottom: 30px;
  z-index : 10;
}
#interaction #questDisplay .alignDiv {
  width : 70%;
}

.rotated {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
