#rewardsBag{
  height: 80px;
  position: relative;
  text-align: center;
  top: 10px;
  width: 70px;
  z-index:1;
  cursor:pointer;
}
#rewardsBag .mainImg {
  left: 1px;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 64px;
}
#rewardsBag .shadow{
  position: absolute;
  width: 68px;
  left: 1px;
  top: 0px;
}
#rewardsBag .circle{
  left: 2px;
  position: absolute;
  top: 0;
  width: 68px;
}
#rewardsBag .text {
  color: white;
  font-family: Showg;
  font-size: 11px;
  position: absolute;
  text-shadow: -2px 2px 1px #000000;
  text-transform: uppercase;
  top: 55px;
  width: 100%;
}
#rewardsBag .number {
    color: #326479;
    font-family: Showg;
    font-size: 23px;
    position: absolute;
    text-shadow: -2px 2px 1px #ffffff;
    text-transform: uppercase;
    top: 32px;
    width: 100%;
}

#neighborRewardsBag{
  right: 20px;
  top : 100px;
  position: absolute;
  text-align: center;
}
#neighborRewardsBag .mainImg {
  left: 1px;
  position: absolute;
  text-align: center;
}
#neighborRewardsBag .number {
    color: #326479;
    font-family: Showg;
    font-size: 23px;
    position: absolute;
    text-shadow: -2px 2px 1px #ffffff;
    text-transform: uppercase;
    top: 22px;
    width: 100%;
}
#rewards .reward .closeRewards{
    background-color: Sienna;
    cursor: pointer;
    left: 165px;
    position: absolute;
    top: 5px;
}
#rewardsContainer{
  width:185px;
  overflow:hidden;
  position: absolute;
  z-index: 1;
  left: 304px;
  top: 161px;
  background-color: SlateGray;
  border-radius: 12px 12px 12px 12px;
}
#rewards .reward{
  float:left;
  width:185px;
  height:154px;
}


#rewards .rewardText{
	color: #FCED70;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 0;
}

#rewards .rewardControl{
	float: left;
    height: 20px;
    margin-right: 55px;
    margin-top: 12px;
    width: 63px;
}
#rewards .useReward{
	margin-left: 57px;
}
#rewards .next{
  margin-right:0px;
}
#rewards .rewardValue{
  margin-left : 61px;
}
a.defualtButton {
    color : #FCED70;
    background: transparent url('../images/game_elements/button.png') no-repeat  scroll top right;
    display: block;
	  width : 63px;
    font: bold 13px showG, arial, sans-serif;
    height: 24px;
	  text-align:center;
	  cursor:pointer;
    text-decoration: none;
}

a.defualtButton .defaultButtonText {
    background: transparent url('../images/game_elements/button.png') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 0px;
} 
a.defualtButton:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.defualtButton:active .defaultButtonText {
    padding: 6px 0 4px 0px; /* push text down 1px */
} 
a.defualtButton:hover {
    background-position: bottom right;
    color: #FFF;
    outline: none; /* hide dotted outline in Firefox */
}
