#workers-panel {
  background-image: url("../images/buildings/panel/panel.png");
  height: 134px;
  position: absolute;
  right: 0;
  top: 74px;
  width: 250px;
  background-repeat: no-repeat;
}

#workers-panel-contents {
  font-family: showG;
  margin-left: 86px;
  margin-top: 16px;
  width: 110px;
  font-size: 12px;
}

#worker-panel-image-container {
  float: left;
  margin-left: 9px;
  margin-top: 20px;
}

#worker-panel-resources-img-container {
  overflow: hidden;
  width: 34px;
  position: absolute;
  top: 15px;
  left: 145px;
}

#worker-panel-resources-img-container img {
  margin-left: -97px;
}

#worker-panel-cost {
  position: absolute;
  top: 30px;
  left: 120px;
}

#not-enough-housing {
    position: absolute;
    bottom: 30px;
}

#worker-panel-cost.red, #not-enough-housing.red {
  color: #F23D00;
}

#worker-panel-hire-limit {
  position: absolute;
  top: 54px;
  width: 142px;
}

#hire-worker-button {
  bottom: 0;
  height: 25px;
  left: 113px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}

#hire-worker-button img {
  margin-top: -25px;
}

#hire-worker-button img.disabled {
    margin-top: -75px;
}

#hire-worker-button span {
    color: #FCED70;
    cursor: pointer;
    font-size: 15px;
    left: 15px;
    position: absolute;
    top: 6px;
}