#game 
{
  width : 50%;
}

#game_name
{
  font-size : 18px;
  font-weight : bold;
  text-transform : uppercase;
  font-style : italic;
}

label 
{
  color : gray;
  font-size : 13px;
  font-weight : bold;
}

#game_info, #game_ranks, #game_campaigns
{
  padding : 15px;
  border-bottom : 1px solid;
}

#game_rank_form, #game_campaign_form, #new_game, #game_current_campaign_form
{
  padding-top : 15px;
}

#new_rank 
{
  padding : 10px 0px;
}

.form_row
{
  padding : 5px 0px;
  overflow : auto;
}
.form_row label
{
  color : gray;
  font-size : 12px;
  font-weight : normal;
}
.form_row input, textarea, select
{
  float : right;
  width : 70%;
}
.form_row .submit
{
  float : right;
  width : 20%;
}

