body
{
  font-family : verdana;
}
#backLink
{
  float : right; 
}

#game_name, .main-title
{
  font-size : 18px;
  font-weight : bold;
  text-transform : uppercase;
  font-style : italic;
  margin-bottom : 20px;
}

label 
{
  color : DarkOliveGreen;
  font-size : 14px;
}
.column
{
        width : 30%;
        display : block;
        float : left;
}
.delete
{
    width : 5%;
    display : block;
    float : left;
}
.title
{
    color : chocolate;
    font-size : 15px;
    font-weight : bold;
    margin-bottom : 10px;
}
.add
{ 
  margin-top : 20px;
}

#game_info, #game_ranks, #game_campaigns
{
  padding : 15px;
  border-top : 1px solid;
}

#game_rank_form, #game_campaign_form, #new_game, #game_current_campaign_form
{
  padding-top : 15px;
}

#new_rank 
{
  padding : 10px 0px;
}

.form_row
{
  padding : 5px 0px;
  overflow : auto;
}
.form_row label
{
  color : DarkOliveGreen;
  font-weight : normal;
  float : left;
  width : 30%;
}
.form_row input, textarea, select
{
  float : left;
  width : 65%;
}
.form_row .submit
{
  float : right;
  width : 20%;
}
.label
{
  color: Chocolate;
  display: block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.success {
  background-color: #66CC00;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
}
.error {
  background-color: #FFF8F6;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
}
.separator 
{
  border-radius: 10px 10px 10px 10px;
  border-top: 3px solid;
  height: 20px;
  width: 100%;
  margin : 10px 0px;
}
.languageList
{
  margin: 15px 0px;
}
.subItem
{
  padding : 0px 15px;
}
