<link type="text/css" href="/city-defender/css/game.css" rel="stylesheet" />
<script src="/city-defender/js/base/prototype.js"></script>
<script src="/city-defender/js/base/effects.js"></script>
<script src="/city-defender/js/base/sound.js"></script>
<script src="/city-defender/js/base/template.js"></script>
<script>
	function clone_obj(obj) {
		if (typeof obj !== 'object' || obj == null) {
			return obj;
		}
	 
		var c = obj instanceof Array ? [] : {};
	 
		for (var i in obj) {
			var prop = obj[i];
	 
			if (typeof prop == 'object') {
			   if (prop instanceof Array) {
				   c[i] = [];
	 
				   for (var j = 0; j < prop.length; j++) {
					   if (typeof prop[j] != 'object') {
						   c[i].push(prop[j]);
					   } else {
						   c[i].push(clone_obj(prop[j]));
					   }
				   }
			   } else {
				   c[i] = clone_obj(prop);
			   }
			} else {
			   c[i] = prop;
			}
		}
	 
		return c;
	}		
</script>
<textarea id='statsTemplate' style="display:none">
	Score : ${Game.score}
	Towers Built : ${Game.stats.towersCreated}
	Towers Lost : ${Game.stats.towersDestroyed}
	Units Destroyed : ${Game.stats.creepsDestroyed}
	Escaped Units : ${Game.escaped}
</textarea>
<textarea id='towerInfoTemplate' style="display:none">
	<div class="diagram ${tower.cssClass}"></div>
	<div id="towerData">
	<h4>${tower.name}</h4>
	<b>${tower.targets}<br/>${tower.facilities}</b>
	<table>
		<tr>
			<th>Power</th>
			<td>: ${values.power}</td>
		</tr>
		<tr>
			<th>HP</th>
			<td>: ${values.hp}</td>
		</tr>
		<tr>
			<th>Rate</th>
			<td>: ${values.rate}</td>
		</tr>
		<tr>
			<th>Range</th>
			<td>: ${values.range}</td>
		</tr>
		<tr>
			<th>Price</th>
			<td>: $${values.price}</td>
		</tr>
	</table>
	</div>
</table>
</textarea>
<div id="gameContainer">
	<!--div id="canvasHeader">
		<span>Escaped :</span> <span id="escaped">0</span> 
		<span>Money :</span> <span id="money"></span>
	</div-->
	<div id="canvasContainer">
		<canvas id="gameBackground" width="736" height="480"></canvas>
		<canvas id="gameForeground" width="736" height="480"></canvas>
		
	</div>
	<div id="gameElements">
		<div id="money">
			0
		</div>
		<div class="status">
			<div id="score" class="score">0</div>
			<div id="lives" class="lives">0</div>
			<div id="waves" class="waves">0/0</div>
		</div>
		<div class="fps"></div>
		<div class="rank"></div>
		<div class="start"></div>
		<div class="towers">
			<div class="tower1" title="Basic"></div>
			<div class="tower2" title="Double"></div>
			<div class="rocketLauncher" title="Rocket Launcher"></div>
			<div class="patriot" title="Patriot Air Defense"></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="upgrades">
			<div class="upgradesBar"></div>
			<div class="upgradeItems">
					<div class="upgradeItem bullets"></div>
					<div class="upgradeItem rockets"></div>
					<div class="upgradeItem shields"></div>
					<div class="upgradeItem"></div>
					<div class="upgradeItem"></div>
					<div class="upgradeItem"></div>
					<div class="upgradeItem"></div>
					<div class="upgradeItem"></div>
			</div>
		</div>
		<div id="towerInfo" class="towerInfo">
			<p>
			<b style="font-size:14px">
			Click on a tower to view its info
			</b>
			</p>
		</div>
		<div class="controls">
			<div class="sound on" onclick='Game.toggleSound()'></div>
			<div class="like"></div>
			<!--div class="subscribe"></div-->
			<div class="bookmark"></div>
		</div>

		<div class="superWeapons">
			<div class="splash">
				<div id="splash"></div>
			</div>
			<div class="heal">
				<div id="heal"></div>
			</div>
			<div class="hyper">
				<div id="hyper"></div>
			</div>
			<div class="weak">
				<div id="weak"></div>
			</div>
			<div class="nuke">
				<div id="nuke"></div>
			</div>
		</div>
		<div class="superWeaponsOff">
			<div class="splash">
			</div>
			<div class="heal">
			</div>
			<div class="hyper">
			</div>
			<div class="weak">
			</div>
			<div class="nuke">
			</div>
		</div>			</div>
	<canvas id="droppingGround" width="672" height="480"></canvas>
	<div id="result" style="display:none">
		<pre id="stats"></pre>
	</div>
	<div id="splashScreen">
		<div class="loading_bar_bg">
			<div id="loading_bar"></div>
		</div>
	</div>
</div>		
<script src="/city-defender/js/game/game.js"></script>
<script src="/city-defender/js/game/super_weapons.js"></script>
<script src="/city-defender/js/game/sounds.js"></script>
<script src="/city-defender/js/game/images.js"></script>
<script src="/city-defender/js/game/unit.js"></script>
<script src="/city-defender/js/game/bullets.js"></script>
<script src="/city-defender/js/game/rockets.js"></script>
<script src="/city-defender/js/game/ghost_turret.js"></script>
<script src="/city-defender/js/game/creep.js"></script>
<script src="/city-defender/js/game/tanks.js"></script>
<script src="/city-defender/js/game/plane.js"></script>
<script src="/city-defender/js/game/animation.js"></script>
<script src="/city-defender/js/game/config.js"></script>
<script src="/city-defender/js/game/mapeasy1.js"></script>
