<html>
 
  <head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link type="text/css" href="/stylesheets/layout.css" rel="stylesheet" />
    <script src="/javascripts/prototype.js"></script>
  </head>
  
  <body>
    <div id="fb-root"></div>
    <div id="fb-root" style="display:none;"></div>
    <div id="gameArea">
      <div id='game'>
        <%= erb(:preIntro, :layout => false) %>
      </div>
    </div>
  </body>
  
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>

    var Display = {
      fetch: function(url, place){
        new Ajax.Request(url, {method:'get',
          onSuccess: function(t){
            Display.alter(place, t.responseText)
          },
          onComplete: function(t){

		      }
        })
      },
      alter: function(divId, newContent)
      {
        $(divId).replace(newContent);
      },
    }

    var FBConnect = {
      apiKey : '<%=@app_configs['id']%>',
      channelPath : "/html/facebook/xd_receiver.html",
      url : window.top.location,
      init : function() {
        FB.init({
            appId  : FBConnect.apiKey,
            status : true, // check login status
            cookie : true, // enable cookies to allow the server to access the session
            xfbml  : true  // parse XFBML
        });
        FB.getLoginStatus(function(response) {
          if (response.session) {
            Display.fetch("/<%=@app_configs['name']%>/intro", "game");
            window.setTimeout( function(){FBConnect.publish()}, 100);
          }else{
            Display.fetch("/html/studio/placeHolder.html", "game");
          }
        });
      },
      connect : function() {
        FB.login(function(response) {
          if (response.session) {
            if (response.perms) {
              // user is logged in and granted some permissions.
              // perms is a comma separated list of granted permissions
              Display.fetch("/<%=@app_configs['name']%>/intro", "placeHolder");
              console.log(FB.getSession);
            } else {
              alert("LOGGED IN BUT NOT ADDED")
            }
          } else {
            alert("LOGGED OUT")
          }
        }, {perms:'read_stream,publish_stream'});
      },  
      invite : function() {
      
      },
      publish : function() {
        var loc = window.top.location.toString()
        FB.ui(
              {
                method: 'stream.publish',
                message: '',
                attachment: {
                  name: 'South Africa vs Mexico 1-0',
                	'media': [{ 'type': 'image', 
                	            'src': 'http://173.192.39.215:5500/images/logo-3.png',
                	            'href': loc }],

                  description: (
                    'توقعت نتيجة 0-1 لمياراة جنوب أفريقياو المكسيك بكأس العالم 2010. توقع و لنري الاقرب لنتيجة المباراة'
                    ),
                    

                },
                action_links: [ {text:'توقع أنت', href: loc } ],
                user_message_prompt: 'تحدي أصدقائك لتوقع نتيجة المباراة',
              },
              function(response) {
                if (response && response.post_id) {
                  alert('Post was published.');
                } else {
                  alert('Post was not published.');
                }
              }
        );
      },
      invite : function(){
        FB.ui({
          method:'fbml.dialog',
        
          fbml:'<fb:Fbml>   ' +
                  '<div style="background: url(http://173.192.39.215:5500/images/logo-3.png) repeat scroll 0 0 ; overflow:auto;">' +
                    '<div style="float:right;">'+
                      '<fb:request-form action="URL" method="post" invite="true" ' +
                                        'type="Studio SA 2010" content="Challenge your friends to predict with you' +
                                        '<fb:req-choice url=\'URL\' label=\'Accept\' />">' +
                        '<fb:multi-friend-selector showborder="false" actiontext="Invite your friends to play Studio South Africa 2010 with you" cols="3"/>' +         
                      '</fb:request-form>' +
                    '</div>'+
                  '</div>' +
                '</fb:Fbml> '
        });
      },
      eventSubscribe : function() {
        FB.Event.subscribe('auth.sessionChange', function(response) {
          if (response.session) {
             console.log("LOGGED IN")
          } else {
            // The user has logged out, and the cookie has been cleared
            console.log("LOGGED OUT")
          }
        });
      },
    }

    window.setTimeout( function(){FBConnect.init()}, 100);
  </script>
   
</html>
